<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/Manager/Manager.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="h-full">
<div class="Web">
    <div class="flex-h-screen">
        <!-- 네비 -->
        <nav class="header-nav">
            <div>
                <div class="nav-logo">
                    <!-- 메인페이지로 연결되도록 링크 연결 필요 -->
                    <a th:href="@{/}">
                        <img class="counseLaw-logo" src="/image/Manager/counseLaw.png" alt="카운슬로우 로고 이미지">
                    </a>
                    <div class="logo-l">|</div>
                    <div class="nav-PageName">
                        <span>Manager Page</span>
                    </div>
                </div>
            </div>
            <!--            <div class="nav-profileWrap">-->
            <!--                <div class="nav-profile">-->
            <!--                    <button class="nav-profileButton">-->
            <!--                        &lt;!&ndash; <span class="Profile"> &ndash;&gt;-->
            <!--                        <img alt="프로필 이미지" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2Fd6831bfd-5b2c-4d80-bd53-0f9548aa284a%2FprofileImage%2F84ae7c49-3ef5-4e40-9129-4d26529bb0cc.jpg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1920&q=75">-->

            <!--                        &lt;!&ndash; </span> &ndash;&gt;-->
            <!--                    </button>-->
            <!--                </div>-->
            <!--            </div>-->
        </nav>
        <!-- 상단 네비 부분 끝 -->
        <!-- 메인 페이지 시작 -->
        <div class="Manager-FadeWrap">
            <nav class="left-FadeWrap">
                <div class="left-Profile">
                    <div class="left-ProfilePage">
                        <div class="Profile-imgWrap">
                            <!--                            <button class="Profile-Button">-->
                            <!--                                <img alt="프로필 이미지" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2Fd6831bfd-5b2c-4d80-bd53-0f9548aa284a%2FprofileImage%2F84ae7c49-3ef5-4e40-9129-4d26529bb0cc.jpg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1920&q=75">-->
                            <!--                            </button>-->
                        </div>
                        <h2 class="Manager-name">관리자: 박지민</h2> <!--th:text="|관리자: + ${session.member.memberName}|"-->
                        <a target="_blank" href="">
                            <button class="Manager-PageLink">
                                <!--                                이동될 페이지 수정 필요-->
                                <div class="MyPageLink">
                                    <div>내 페이지</div>
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="16px"
                                         width="16px" class="LinkSVG">
                                        <path d="M11 7a1     1 0 0 0-1-1H4v14h14v-6a1 1 0 1 0-2 0v4H6V8h4a1 1 0 0 0 1-1Z"></path>
                                        <path d="M19.01 3.829H20v6.656a1 1 0 1 1-2 0V7.244l-5.293 5.293a1 1 0 0 1-1.414-1.415l5.293-5.292h-3.243a1 1 0 1 1 0-2H19.01Z"></path>
                                    </svg>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <!--                관리자 페이지 목록-->
                <ul class="left-list">
                    <li class="left-categories">
                        <!--                        링크 연결 안됨-->
                        <a href="">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="categories-post">
                                <path d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z"></path>
                            </svg>
                            <span class="categories-word">작성글 관리</span>
                        </a>
                    </li>
                    <!--                 두 번째 카테고리-->
                    <li class="left-categories">
                        <!--                        링크 연결 안됨-->
                        <a href="">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="categories-announcement">
                                <path d="M10.457 8.471a1.494 1.494 0 1 1 2.988 0 1.494 1.494 0 0 1-2.988 0ZM10.955 11.459c0-.275.223-.498.498-.498h.996c.275 0 .498.223.498.498v4.979a.498.498 0 0 1-.498.498h-.996a.498.498 0 0 1-.498-.498v-4.98Z"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M11.951 20.117a8.166 8.166 0 1 0 0-16.333 8.166 8.166 0 0 0 0 16.333Zm0 1.792c5.5 0 9.959-4.458 9.959-9.958S17.45 1.99 11.95 1.99s-9.959 4.46-9.959 9.96c0 5.5 4.459 9.958 9.959 9.958Z"></path>
                            </svg>
                            <span class="categories-word">공지사항</span>
                        </a>
                    </li>
                    <!--                    세 번째 카테고리-->
                    <li class="left-categories">
                        <!--                        링크 연결 안됨-->
                        <a href="">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="categories-managerment">
                                <path d="M8.5 11.7h2a6.057 6.057 0 0 1 1.769.265 6.51 6.51 0 0 0-.888 1.335H8.5a4.4 4.4 0 0 0-4.4 4.4v1c0 .22.18.4.4.4h6.881c.295.59.677 1.129 1.129 1.6H4.5a2 2 0 0 1-2-2v-1a6 6 0 0 1 6-6Z"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10.5 10.2a3.502 3.502 0 0 1 0-7 3.5 3.5 0 1 1 0 7Zm1.9-3.5a1.9 1.9 0 1 1-3.8 0 1.9 1.9 0 0 1 3.8 0ZM13.945 13.147a.665.665 0 0 1 .306-.74l.833-.49a.665.665 0 0 1 .795.092l.46.437c.167.16.398.231.63.23a.892.892 0 0 0 .626-.24l.451-.445a.665.665 0 0 1 .794-.105l.84.476a.665.665 0 0 1 .32.735l-.15.616a.895.895 0 0 0 .116.66c.118.2.298.36.522.423l.61.168c.287.08.486.339.488.636l.008.965a.665.665 0 0 1-.477.644l-.608.179a.892.892 0 0 0-.513.43.898.898 0 0 0-.105.663l.159.614a.665.665 0 0 1-.307.74l-.832.49a.665.665 0 0 1-.795-.092l-.46-.437a.898.898 0 0 0-.63-.23.893.893 0 0 0-.626.24l-.452.445a.665.665 0 0 1-.794.105l-.84-.476a.665.665 0 0 1-.319-.735l.15-.617a.894.894 0 0 0-.117-.66.894.894 0 0 0-.52-.421l-.612-.17a.665.665 0 0 1-.488-.635l-.008-.965a.665.665 0 0 1 .477-.644l.608-.179a.892.892 0 0 0 .514-.43.898.898 0 0 0 .105-.663l-.159-.614Zm3.115 4.278a1.283 1.283 0 1 0 0-2.566 1.283 1.283 0 0 0 0 2.566Z"></path>
                            </svg>
                            <span class="categories-word">회원 관리</span>
                        </a>
                    </li>
                    <!--                    네 번째 카테고리-->
                    <li class="left-categories">
                        <!--                        링크 연결 안됨-->
                        <a href="">
                            <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                 class="categories-post">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M22 8.942c0 .513-.24.996-.649 1.304A2.188 2.188 0 0 0 20.477 12c0 .716.34 1.351.874 1.754.409.308.649.79.649 1.304v.968A3.967 3.967 0 0 1 18.04 20H5.96A3.967 3.967 0 0 1 2 16.026v-.968c0-.513.24-.996.649-1.304A2.188 2.188 0 0 0 3.523 12c0-.716-.34-1.351-.874-1.754A1.633 1.633 0 0 1 2 8.942v-.967A3.967 3.967 0 0 1 5.96 4h12.08C20.228 4 22 5.78 22 7.975v.967ZM5.96 5.631a2.34 2.34 0 0 0-2.336 2.344v.967A3.82 3.82 0 0 1 5.147 12a3.82 3.82 0 0 1-1.523 3.058v.968a2.34 2.34 0 0 0 2.335 2.343h12.082a2.34 2.34 0 0 0 2.335-2.343v-.968A3.82 3.82 0 0 1 18.853 12c0-1.25.598-2.36 1.523-3.058v-.967A2.34 2.34 0 0 0 18.04 5.63H5.959Z"
                                      fill="#333334"></path>
                                <path d="M16.112 14.066c0 .751-.606 1.36-1.354 1.36a1.356 1.356 0 0 1-1.353-1.36c0-.75.606-1.358 1.353-1.358.748 0 1.354.608 1.354 1.358ZM10.697 9.537c0 .75-.606 1.359-1.353 1.359A1.356 1.356 0 0 1 7.99 9.537c0-.75.606-1.359 1.354-1.359.747 0 1.353.609 1.353 1.36ZM13.957 8.728a.772.772 0 0 1 1.095 0 .78.78 0 0 1 0 1.1l-5.419 5.44a.773.773 0 0 1-1.095 0 .78.78 0 0 1 0-1.1l5.419-5.44Z"
                                      fill="#333334"></path>
                            </svg>
                            <span class="categories-word">쿠폰 관리</span>
                        </a>
                    </li>
                    <!--                    네 번째 카테고리-->

                    <!--                    카테고리 ul 종료-->
                </ul>
            </nav>
            <!--            네비 끝, 메인 페이지 구성-->
            <!--            <div class="right-FadeWrap">-->
            <!--                <div class="right-Fade">-->
            <!--                    <div class="right-full">-->
            <!--                        <div class="post-top">-->
            <!--                            <header class="post-top-header">-->
            <!--                                <h1 class="Manager-topWord">작성글 관리</h1>-->
            <!--                                <div></div>-->
            <!--                            </header>-->
            <!--                            <div class="post-top-mid"></div>-->
            <!--                            <div class="post-top-bottom-"></div>-->
            <!--                        </div>-->
            <!--                        <div class="post-bottom"></div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <div class="right-FadeWrap">
                <div class="right-Fade">
                    <div class="right-full">
                        <div class="manager-top" style="margin-top: 50px">
                            <header class="manager-top-header">
                                <h1 class="Manager-topWord">작성글 관리</h1>
                                <div>
                                    <div style="width: 240px; margin-left: 710px;">
                                        <label class="member-search-label">
                                            <input class="member-searchBar" type="search" placeholder="작성글 검색" name="keyword">
                                            <button class="member-search" type="submit">
                                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                     class="search">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.83 16.561a7.8 7.8 0 1 1 1.233-1.312l3.465 3.465a.9.9 0 1 1-1.272 1.273L15.83 16.56Zm1.13-5.961a6.16 6.16 0 1 1-12.32 0 6.16 6.16 0 0 1 12.32 0Z"></path>
                                                </svg>
                                            </button>
                                        </label>
                                    </div>
                                </div>
                            </header>
                            <!--                            멤버 수-->
                            <div class="memberTop-mid">
                                <div class="member-countWrap">
                                    <span class="count-word">전체</span>
                                    <!--이름이랑 후기는 그냥 selectOPtion에서 가져오는 것들 하고 전체일 경우 이름: 전체 count : 다 더하는거-->
                                    <span class="member-count"  th:text="${pagination.total}">0</span>
                                </div>

                                <div class="member-condition">
                                    <div class="guides-Section-Search-Menu">
                                        <div class="select-Menu">
                                            <!--                                            <div class="select-Btn">-->
                                            <!--                                                <span class="sBtn-Text"><strong>전체</strong></span>-->
                                            <!--                                                &lt;!&ndash;                                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="filter">&ndash;&gt;-->
                                            <!--                                                &lt;!&ndash;                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.27 8.42a1.076 1.076 0 0 1 1.587-.13L12 14.832l7.143-6.544a1.076 1.076 0 0 1 1.586.13 1.26 1.26 0 0 1-.122 1.696L12 18l-8.607-7.885A1.26 1.26 0 0 1 3.27 8.42Z"></path>&ndash;&gt;-->
                                            <!--                                                &lt;!&ndash;                                                </svg>&ndash;&gt;-->
                                            <!--                                                <i class="bx bx-chevron-down"></i>-->
                                            <!--                                            </div>-->

                                            <form th:action="@{/manager/manager-mainpage}" method="get">
                                                <select class="selectOption" name="selectedOption">
                                                    <option value="selectAll" th:selected="${selectedOption == 'selectAll'}">전체</option>
                                                    <option value="consultingCase" th:selected="${selectedOption == 'consultingCase'}">상담사례</option>
                                                    <option value="solutionCase" th:selected="${selectedOption == 'solutionCase'}">해결사례</option>
                                                    <option value="legalGuide" th:selected="${selectedOption == 'legalGuide'}">법률 가이드</option>
                                                </select>
                                                <button class="selectButton" type="submit">조회</button>
                                            </form>
                                            <!--                                            <ul class="options">-->
                                            <!--                                                <li class="option">-->
                                            <!--                                                    <span class="option-Text">전체</span>-->
                                            <!--                                                </li>-->
                                            <!--                                                <li class="option">-->
                                            <!--                                                    <span class="option-Text">상담 사례</span>-->
                                            <!--                                                </li>-->
                                            <!--                                                <li class="option">-->
                                            <!--                                                    <span class="option-Text">해결 사례</span>-->
                                            <!--                                                </li>-->
                                            <!--                                                <li class="option">-->
                                            <!--                                                    <span class="option-Text">법률 가이드</span>-->
                                            <!--                                                </li>-->
                                            <!--                                            </ul>-->
                                        </div>
                                        <!--                                        <ul class="sort-Options">-->
                                        <!--                                            <li class="sort-Options-Btn active">최신순</li>-->
                                        <!--                                            <li class="sort-Options-Btn">조회순</li>-->
                                        <!--                                        </ul>-->
                                    </div>

                                    <!--                                    <div class="member-normal">-->
                                    <!--                                        <div class="normal-Wrap">-->
                                    <!--                                            <button class="condition-button">-->
                                    <!--                                                <span class="condition-what">일반 회원</span>-->
                                    <!--                                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="filter">-->
                                    <!--                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.27 8.42a1.076 1.076 0 0 1 1.587-.13L12 14.832l7.143-6.544a1.076 1.076 0 0 1 1.586.13 1.26 1.26 0 0 1-.122 1.696L12 18l-8.607-7.885A1.26 1.26 0 0 1 3.27 8.42Z"></path>-->
                                    <!--                                                </svg>-->
                                    <!--                                            </button>-->

                                    <!--                                        </div>-->
                                    <!--                                    </div>-->

                                </div>
                            </div>
                            <div class="memberTop-bottom">
                                <div style="width: 192px" class="member-name"><strong>작성자</strong></div>
                                <div style="width: 96px;" class="member-name"><strong>구분</strong></div>
                                <div style="width: 127px;" class="member-name"><strong>작성일</strong></div>
                                <div style="width: 200px;" class="member-name"><strong>제목</strong></div>
                            </div>
                            <div>
                                <div class="memberTop-bottom" th:if="${selectedOption == 'selectAll'}"
                                     th:each="post : ${selectAllPosts}">
                                    <!--                                    <div th:if="${#strings.equals(selectedOption, 'legalGuide')}">-->
                                    <div style="width: 192px" class="posts" th:text="${post.postAuthorName}">한땡땡</div>
                                    <div style="width: 96px;" class="posts">
                                        <span th:text="${post.postType}"></span>
                                    </div>
                                    <div style="width: 127px;" class="posts"
                                         th:text="${#temporals.format(post.postCreateDate , 'yyyy-MM-dd HH:mm')}">
                                        2023
                                    </div>
                                    <div style="width: 200px;" class="posts"
                                         th:text="${post.postTitle}">테스트제목1
                                    </div>
                                    <div class="detailContent-Button" th:if="${post.postType == '해결 사례'}">
                                        <button th:onclick="|deletePost(${post.postId}, 'solutionCase')|" class="detailContent-DeleteButton">
                                            <input type="hidden" th:value="${post.postId}" th:name="solutionCaseId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="detailContent-Button" th:if="${post.postType == '법률 가이드'}">
                                        <button th:onclick="|deletePost(${post.postId}, 'legalGuide')|" class="detailContent-DeleteButton">
                                            <input type="hidden" th:value="${post.postId}" th:name="legalGuideId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="detailContent-Button" th:if="${post.postType == '상담 사례'}">
                                        <button th:onclick="|deletePost(${post.postId}, 'consultingCase')|" class="detailContent-DeleteButton">
                                            <input type="hidden" th:value="${post.postId}" th:name="consultingCaseId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="memberTop-bottom" th:if="${selectedOption == 'legalGuide'}"
                                     th:each="legalGuidePost : ${legalGuides}">
                                    <!--                                    <div th:if="${#strings.equals(selectedOption, 'legalGuide')}">-->
                                    <div style="width: 192px" class="posts" th:text="${legalGuidePost.lawyerName}">한땡땡
                                    </div>
                                    <div style="width: 96px;" class="posts" th:text="|법률 가이드|">법률 가이드</div>
                                    <div style="width: 127px;" class="posts"
                                         th:text="${#temporals.format(legalGuidePost.createDate, 'yyyy-MM-dd HH:mm')}">
                                        2023
                                    </div>
                                    <div style="width: 200px;" class="posts"
                                         th:text="${legalGuidePost.legalGuideTitle}">테스트제목1
                                    </div>
                                    <div class="detailContent-Button">
                                        <button th:onclick="|deletePost(${legalGuidePost.legalGuideId}, 'legalGuide')|" class="detailContent-DeleteButton">
                                            <input type="hidden" th:value="${legalGuidePost.legalGuideId}" th:name="legalGuideId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
<!--                            검색 때-->
<!--                            <div>-->
<!--                                <div class="memberTop-bottom" th:if="${selectedOption == 'solutionCase'}"-->
<!--                                     th:each="solutionCaseResult : ${searchSolutionCaseResults}">-->
<!--                                    &lt;!&ndash;                                    <div th:if="${#strings.equals(selectedOption, 'legalGuide')}">&ndash;&gt;-->
<!--                                    <div style="width: 192px" class="posts"-->
<!--                                         th:text="${solutionCaseResult.lawyerName}">한땡땡-->
<!--                                    </div>-->
<!--                                    <div style="width: 96px;" class="posts" th:text="|해결 사례|">해결 사례</div>-->
<!--                                    <div style="width: 127px;" class="posts"-->
<!--                                         th:text="${#temporals.format(solutionCaseResult.createDate, 'yyyy-MM-dd HH:mm')}">-->
<!--                                        2023-->
<!--                                    </div>-->
<!--                                    <div style="width: 200px;" class="posts"-->
<!--                                         th:text="${solutionCaseResult.solutionCaseTitle}">테스트제목1-->
<!--                                    </div>-->
<!--                                    <div class="detailContent-Button">-->
<!--                                        <button onclick="deletePost()" class="detailContent-DeleteButton">-->
<!--                                            <input type="hidden" th:value="${session.postId}" th:name="postId">-->
<!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">-->
<!--                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>-->
<!--                                            </svg>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div>
                                <div class="memberTop-bottom" th:if="${selectedOption == 'solutionCase'}"
                                     th:each="solutionCasePost : ${solutionCases}">
                                    <!--                                    <div th:if="${#strings.equals(selectedOption, 'legalGuide')}">-->
                                    <div style="width: 192px" class="posts"
                                         th:text="${solutionCasePost.lawyerName}">한땡땡
                                    </div>
                                    <div style="width: 96px;" class="posts" th:text="|해결 사례|">해결 사례</div>
                                    <div style="width: 127px;" class="posts"
                                         th:text="${#temporals.format(solutionCasePost.createDate, 'yyyy-MM-dd HH:mm')}">
                                        2023
                                    </div>
                                    <div style="width: 200px;" class="posts"
                                         th:text="${solutionCasePost.solutionCaseTitle}">테스트제목1
                                    </div>
                                    <div class="detailContent-Button">
                                        <button th:onclick="|deletePost(${solutionCasePost.solutionCaseId}, 'solutionCase')|" class="detailContent-DeleteButton">
                                            <input type="hidden" th:value="${solutionCasePost.solutionCaseId}" th:name="solutionCaseId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
<!--                            검색 때-->
<!--                            <div>-->
<!--                                <div class="memberTop-bottom"-->
<!--                                     th:if="${selectedOption == 'consultingCase'}"-->
<!--                                     th:each="consultingCaseResult : ${searchConsultingCaseResults}">-->
<!--                                    &lt;!&ndash;                                    <div th:if="${#strings.equals(selectedOption, 'legalGuide')}">&ndash;&gt;-->
<!--                                    <div style="width: 192px" class="posts"-->
<!--                                         th:text="${consultingCaseResult.memberName}">한땡땡-->
<!--                                    </div>-->
<!--                                    <div style="width: 96px;" class="posts" th:text="|상담 사례|">상담 사례</div>-->
<!--                                    <div style="width: 127px;" class="posts"-->
<!--                                         th:text="${#temporals.format(consultingCaseResult.createDate, 'yyyy-MM-dd HH:mm')}">-->
<!--                                        2023-->
<!--                                    </div>-->
<!--                                    <div style="width: 200px;" class="posts"-->
<!--                                         th:text="${consultingCaseResult.caseTitle}">테스트제목1-->
<!--                                    </div>-->
<!--                                    <div class="detailContent-Button">-->
<!--                                        <button onclick="deletePost()" class="detailContent-DeleteButton">-->
<!--                                            <input type="hidden" th:value="${session.postId}" th:name="postId">-->
<!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">-->
<!--                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>-->
<!--                                            </svg>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div>
                                <div class="memberTop-bottom"
                                     th:if="${selectedOption == 'consultingCase'}"
                                     th:each="consultingCasePost : ${consultingCases}">
                                    <!--                                    <div th:if="${#strings.equals(selectedOption, 'legalGuide')}">-->
                                    <div style="width: 192px" class="posts"
                                         th:text="${consultingCasePost.memberName}">한땡땡
                                    </div>
                                    <div style="width: 96px;" class="posts" th:text="|상담 사례|">상담 사례</div>
                                    <div style="width: 127px;" class="posts"
                                         th:text="${#temporals.format(consultingCasePost.createDate, 'yyyy-MM-dd HH:mm')}">
                                        2023
                                    </div>
                                    <div style="width: 200px;" class="posts"
                                         th:text="${consultingCasePost.caseTitle}">테스트제목1
                                    </div>
                                    <div class="detailContent-Button">
                                        <button th:onclick="|deletePost(${consultingCasePost.consultingCaseId}, 'consultingCase')|" class="detailContent-DeleteButton">
                                            <input type="hidden" th:value="${consultingCasePost.consultingCaseId}" th:name="consultingCaseId">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--                                <div class="posts-wrapper" th:if="${#strings.equals(selectedOption, '상담사례')}">-->
                            <!--                                    <div class="member-name" th:text="${consultingCase.category}">상담사례</div>-->
                            <!--                                </div>-->
                            <!--                                &lt;!&ndash; 해결사례 데이터 &ndash;&gt;-->
                            <!--                                <div class="posts-wrapper" th:if="${#strings.equals(selectedOption, '해결사례')}">-->
                            <!--                                    <div class="member-name" th:text="${resolutionCase.category}">해결사례</div>-->
                            <!--                                </div>-->
                            <!--                        멤버 목록-->
                            <div class="member-bottom"
                                 th:if="${pagination.total == 0}">
                                <svg width="53" height="56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.516 1.62c-6.654-4.436-21.823.626-21.821 10.475 0 5.567 1.956 10.31 3.889 14.205-1.403-.463-2.853-1.072-3.8-2.095-.466-.502-1.151-1.115-1.802-1.35-.993-.358-2.035.135-2.572.923-1.212 1.776-1.071 2.717-.403 4.643 4.364 5.647 8.167 5.53 11.275 5.435.286-.009.566-.017.84-.021.897 3.13 2.706 6.042 4.099 8.965 1.617 5.694 9.313 4.544 12.913 1.697 2.3-1.819 5.187-2.36 8.117-1.475 2.303.419 3.88-.68 5.236-1.624 1.031-.72 1.934-1.348 2.93-1.149 1.19.238 2.511.191 2.718-1.307.521-3.781-8.391-5.535-11.284-7.062 4.98-2.883 7.416-7.67 6.968-10.861-.31-2.2-2.168-2.967-4.076-1.773-2.206 1.38-2.758 3.32-5.42 4.348 1.822-6.821 3.386-14.515-7.807-21.975Z"
                                          fill="#9D8DFF"></path>
                                    <path d="M15.33 17.017c.03.784-.382 1.385-.92 1.344-.54-.042-1.001-.71-1.032-1.494-.03-.784.382-1.385.921-1.343.54.041 1 .71 1.031 1.493ZM19.599 16.868c.03.784-.382 1.385-.921 1.344-.54-.042-1-.71-1.031-1.494-.03-.784.382-1.385.92-1.343.54.041 1.001.71 1.032 1.493Z"
                                          fill="#060606"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M11.457 29.625a.7.7 0 0 1 .755.64c.036.44.242.87.57 1.304.322.428.721.81 1.107 1.178l.027.026a.7.7 0 1 1-.967 1.012l-.05-.048c-.37-.353-.842-.804-1.235-1.325-.414-.55-.782-1.23-.847-2.033a.7.7 0 0 1 .64-.754ZM35.844 23.41a.7.7 0 0 0-.968.205 25.97 25.97 0 0 1-.389.571c-.235.34-.487.704-.68 1.032-.33.559-.626 1.212-.626 1.941a.7.7 0 1 0 1.4 0c0-.354.145-.745.43-1.228.18-.303.368-.573.573-.868.146-.21.3-.431.465-.684a.7.7 0 0 0-.205-.969Z"
                                          fill="#000"></path>
                                    <path d="M17.917 19.838c-.158-.342-2.435-.62-2.138.915 1.156 3.742 2.834.598 2.138-.915Z"
                                          fill="#030303"></path>
                                    <path d="M51.901 52.983c0 1.223-7.433 2.214-16.602 2.214-9.17 0-16.603-.991-16.603-2.214 0-1.222 7.433-2.213 16.603-2.213 9.17 0 16.602.99 16.602 2.213Z"
                                          fill="#E3E3E3"></path>
                                </svg>
                                <p class="member-nolist">작성글이 없습니다</p>
                            </div>

<!--                            <footer class="Footer_Wrapper" th:with="start=${pagination.startPage},-->
<!--                    last=(${pagination.endPage})">-->

<!--                                <div class="PaginationButtonGroup_PrevButtonWrapper">-->
<!--                                    <button th:if="${pagination.page == start}" disabled width="40px" height="40px"-->
<!--                                            font-size="18px"-->
<!--                                            id="prevprev_button" class="ButtonPage_Styled">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"-->
<!--                                             class="PaginationButtonGroup_Icon">-->
<!--                                    </button>-->
<!--                                    <button th:if="${pagination.page != start}"-->
<!--                                            th:onclick="'location.href=\'/manager/manager-mainpage?selectedOption=' + ${selectedOption} + '&page=' + ${start}'"-->
<!--                                            width="40px" height="40px" font-size="18px" id="prevprev_button"-->
<!--                                            style="cursor: pointer;"-->
<!--                                            class="ButtonPage_Styled">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='40' height='40' fill='%23FFF' fill-opacity='0' fill-rule='nonzero' rx='20'/%3E %3Cg stroke='%23000' stroke-width='1.5'%3E %3Cpath d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E"-->
<!--                                             class="PaginationButtonGroup_Icon">-->
<!--                                    </button>-->
<!--                                    <button th:if="${pagination.page == start}" disabled width="40px" height="40px"-->
<!--                                            font-size="18px"-->
<!--                                            class="ButtonPage_Styled" id="prev_button">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"-->
<!--                                             class="PaginationButtonGroup_Icon">-->
<!--                                    </button>-->
<!--                                    <button th:if="${pagination.page != start}"-->
<!--                                            th:onclick="'location.href=\'/manager/manager-mainpage?selectedOption=' + ${selectedOption} + '&page=' + ${pagination.page - 1}'"-->
<!--                                            width="40px" height="40px" font-size="18px" class="ButtonPage_Styled"-->
<!--                                            id="prev_button">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M18 0H0v18h18z'/%3E %3Cpath stroke='%23000' stroke-width='1.5' d='M7 5l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"-->
<!--                                             class="PaginationButtonGroup_Icon">-->
<!--                                    </button>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; 중간 페이지 버튼 (1부터 마지막 페이지까지) &ndash;&gt;-->
<!--                                <button th:each="buttonpage: ${#numbers.sequence(start, last)}" class="footerButton"-->
<!--                                        th:class="${buttonpage == pagination.page ? 'ButtonPage_StyledButtonOn' : 'ButtonPage_StyledButtonOff'}">-->
<!--                                    <a th:text="${buttonpage}"-->
<!--                                       th:href="@{/manager/manager-mainpage(selectedOption=${selectedOption}, page=${buttonpage})}">Link-->
<!--                                        Text</a>-->
<!--                                </button>-->

<!--                                &lt;!&ndash; 다음 페이지 버튼 &ndash;&gt;-->
<!--                                <div class="PaginationButtonGroup_NextButtonWrapper">-->
<!--                                    <button th:if="${pagination.page == last}" disabled width="40px" height="40px"-->
<!--                                            font-size="18px"-->
<!--                                            class="ButtonPage_Styled" id="next_button">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"-->
<!--                                             class="" id="next_button">-->
<!--                                    </button>-->
<!--                                    <button th:if="${pagination.page != last}"-->
<!--                                            th:onclick="'location.href=\'/manager/manager-mainpage?selectedOption=' + ${selectedOption} + '&page=' + ${pagination.page + 1}'"-->
<!--                                            width="40px" height="40px" font-size="18px" class="ButtonPage_Styled"-->
<!--                                            id="next_button">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M18 0H0v18h18z'/%3E %3Cpath stroke='%23000' stroke-width='1.5' d='M7 5l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"-->
<!--                                             class="" id="next_button">-->
<!--                                    </button>-->
<!--                                    <button th:if="${pagination.page == last}" disabled width="40px" height="40px"-->
<!--                                            font-size="18px"-->
<!--                                            class="ButtonPage_Styled" id="nextnext_button">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"-->
<!--                                             class="" id="nextnext_button">-->
<!--                                    </button>-->
<!--                                    <button th:if="${pagination.page != last}"-->
<!--                                            th:onclick="'location.href=\'/manager/manager-mainpage?selectedOption=' + ${selectedOption} + '&page=' + ${pagination.realEnd}'"-->
<!--                                            width="40px" height="40px" font-size="18px" class="ButtonPage_Styled"-->
<!--                                            id="nextnext_button">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='40' height='40' fill='%23FFF' fill-opacity='0' fill-rule='nonzero' rx='20'/%3E %3Cg stroke='%23000' stroke-width='1.5'%3E %3Cpath d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E"-->
<!--                                             class="PaginationButtonGroup_Icon" id="nextnext_button">-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </footer>-->
<!--                            <footer class="Footer_Wrapper">-->
<!--                                <div class="PaginationButtonGroup_PrevButtonWrapper">-->
<!--                                    <button th:disabled="${!pagination.prev}" class="ButtonPage_Styled" onclick="navigatePage('[[${selectedOption}]]', [[${pagination.startPage}]])">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup_Icon">-->
<!--                                    </button>-->
<!--                                    <button th:disabled="${!pagination.prev}" class="ButtonPage_Styled" onclick="navigatePage('[[${selectedOption}]]', [[${pagination.page - 1}]])">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PaginationButtonGroup_Icon">-->
<!--                                    </button>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; 중간 페이지 버튼 &ndash;&gt;-->
<!--                                <button th:each="buttonpage: ${#numbers.sequence(pagination.startPage, pagination.endPage)}" class="footerButton"-->
<!--                                        th:class="${buttonpage == pagination.page ? 'ButtonPage_StyledButtonOn' : 'ButtonPage_StyledButtonOff'}">-->
<!--                                    <a th:text="${buttonpage}" th:href="@{/manager/manager-mainpage(selectedOption=${selectedOption}, page=${buttonpage})}">[[${buttonpage}]]</a>-->
<!--                                </button>-->

<!--                                &lt;!&ndash; 다음 페이지 버튼 &ndash;&gt;-->
<!--                                <div class="PaginationButtonGroup_NextButtonWrapper">-->
<!--                                    <button th:disabled="${!pagination.next}" class="ButtonPage_Styled" onclick="navigatePage('[[${selectedOption}]]', [[${pagination.page + 1}]])">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M18 0H0v18h18z'/%3E %3Cpath stroke='%23000' stroke-width='1.5' d='M7 5l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E">-->
<!--                                    </button>-->
<!--                                    <button th:disabled="${!pagination.next}" class="ButtonPage_Styled" onclick="navigatePage('[[${selectedOption}]]', [[${pagination.realEnd}]])">-->
<!--                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='40' height='40' fill='%23FFF' fill-opacity='0' fill-rule='nonzero' rx='20'/%3E %3Cg stroke='%23000' stroke-width='1.5'%3E %3Cpath d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E">-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </footer>-->
                            <footer class="Footer_Wrapper" th:with="start=${pagination.startPage}, last=(${pagination.endPage})">
                                <div class="PaginationButtonGroup_PrevButtonWrapper">
                                    <button th:if="${pagination.page != start}"
                                            th:onclick="'location.href=\'' + @{/manager/manager-mainpage(selectedOption=${selectedOption}, keyword=${keyword}, page=${pagination.page - 1})} + '\''">
                                        Previous
                                    </button>
                                    <button th:if="${pagination.page == start}" disabled>
                                        Previous
                                    </button>
                                </div>

                                <!-- 중간 페이지 버튼 (1부터 마지막 페이지까지) -->
                                <button th:each="buttonpage: ${#numbers.sequence(start, last)}" class="footerButton"
                                        th:class="${buttonpage == pagination.page ? 'ButtonPage_StyledButtonOn' : 'ButtonPage_StyledButtonOff'}">
                                    <a th:text="${buttonpage}" th:href="@{/manager/manager-mainpage(selectedOption=${selectedOption}, keyword=${keyword}, page=${buttonpage})}">[[${buttonpage}]]</a>
                                </button>

                                <div class="PaginationButtonGroup_NextButtonWrapper">
                                    <button th:if="${pagination.page != last}"
                                            th:onclick="'location.href=\'' + @{/manager/manager-mainpage(selectedOption=${selectedOption}, keyword=${keyword}, page=${pagination.page + 1})} + '\''">
                                        Next
                                    </button>
                                    <button th:if="${pagination.page == last}" disabled>
                                        Next
                                    </button>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/Manager/Manager.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</html>