<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공지사항 작성</title>
    <link rel="stylesheet" href="Manager-announcement.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css">
</head>
<body class="h-full">
<div class="Web">
    <div class="flex-h-screen">
        <!-- 네비 -->
        <nav class="header-nav">
            <div>
                <div class="nav-logo">
                    <!-- 메인페이지로 연결되도록 링크 연결 필요 -->
                    <a href="">
                        <img class="counseLaw-logo" src="counseLaw.png" alt="카운슬로우 로고 이미지">
                    </a>
                    <div class="logo-l">|</div>
                    <div class="nav-PageName">
                        <span>Manager Page</span>
                    </div>
                </div>
            </div>
            <div class="nav-profileWrap">
                <div class="nav-profile">
                    <button class="nav-profileButton">
                        <!-- <span class="Profile"> -->
                        <img alt="프로필 이미지" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2Fd6831bfd-5b2c-4d80-bd53-0f9548aa284a%2FprofileImage%2F84ae7c49-3ef5-4e40-9129-4d26529bb0cc.jpg%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1920&q=75">

                        <!-- </span> -->
                    </button>
                </div>
            </div>
        </nav>
<!--        네비 끝-->
<!--        작성 페이지 시작-->
        <header class="post-postWrap">
            <div class="post-backWrap">
                <div class="post-back">
                    <button class="back-button">
                        <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg" class="back-SVG">
                            <path d="M13.833 8a.667.667 0 0 0-.666-.667H5.72L8.973 4.08a.667.667 0 1 0-.943-.943L3.167 8l4.863 4.863a.665.665 0 0 0 .94-.94L5.72 8.667h7.447A.667.667 0 0 0 13.833 8Z"></path>
                        </svg>
                    </button>
                    <h1 class="h1-font">공지사항</h1>
                </div>
                <div class="post-saveWrap">
                    <div class="post-storage">
                        <button class="storageBtn" disabled>임시저장</button>
                    </div>
                    <div>
                        <button class="post-post" disabled>게시</button>
                    </div>
                </div>
            </div>
        </header>
        <div class="post-header-line"></div>
<!--        헤더 끝, 메인 시작-->
        <main class="post-main">
            <div class="post-writeWrap">
                <section class="post-left">
<!--                    제목 입력-->
                    <div class="post-title">
                        <div>
                            <label class="title-blank" >
                                <input type="text" class="title-text" placeholder="제목을 입력해주세요">
                            </label>
                        </div>
                    </div>
                    <div class="title-underline"></div>
                    <div>
                        <div style="margin-bottom: 48px">
                            <div class="post-detailWrap">
                                <textarea rows="20" cols="55" placeholder="본문 내용을 입력하세요" class="post-mainPost"></textarea>
                          <div></div>
                            </div>
                        </div>
                    </div>
                </section>
                <section></section>
            </div>
        </main>
<!-        전체 div 2개-->
    </div>
</div>
<script src="Manager-post.js"></script>
</body>
</html>