
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <style type="text/css">-->
<!--        @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}-->
<!--    </style>-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>변호사 회원가입</title>
    <link rel="stylesheet" href="/css/lawyer/lawyer-join-membership.css">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.0.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.76.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.77.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.78.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.79.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.80.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.81.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.82.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.83.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.84.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.85.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.86.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.87.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.88.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.89.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.90.woff2">
    <link rel="preconnect" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.91.woff2">
    <link rel="preconnect" href="https://d2nyk3ltml4doc.cloudfront.net/lawtalk/latest/fonts/22eb3211f6def8f859e2.woff">
    <link rel="preconnect" href="https://d2nyk3ltml4doc.cloudfront.net/lawtalk/latest/fonts/041b48e46e314db995d9.woff">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
</head>
<body>
<div id="next">
    <div id="root_view">
        <div class="law_sign_up_container">
        <div class="CourseLaw_auth">
            <div class="auth_box_header">
                <div class="auth_bpx_header_logo">
                    <img src="/image/lawyer/counseLawLogo.png" alt="">
                </div>

                <div class="auth_box_header_title">변호사 회원가입</div>
            </div>

            <form method="post" th:action="@{/member/lawyer-join}" th:object="${lawyerVO}" class="auth_body" autocomplete="off">


                <div class="law_auth_card">
                    <h3 class="law_auth_card_header">계정정보</h3>

                    <div class= "law_auth_card_body">
                        <div class="form_group">
                            <input type="email" class="material_form_control"
                            name="lawyerEmail" placeholder="예) name@example.com" id="sign-up-email">
                            <label class="label_color">이메일</label>
                            <div id="sign-up-email-valid-message" style="display: none">
                                <label class="control-label error">이메일은 반드시 입력하셔야 합니다.</label>
                            </div>
                        </div>



                        <div class="form_group">
                            <input id="sign-up-password" type="password" class="material_form_control"
                                   name="lawyerPassword" placeholder="6~16자, 영문, 숫자, 특수문자(_-!@#$%^&*.,)">

                            <label class="label_color">비밀번호</label>

                            <div id="sign-up-password-validator-message" style="display: none">
                                <label class="control-label error">비밀번호는 반드시 입력하셔야 합니다.</label>
                            </div>
                        </div>

                        <div class="form_group">
                            <input id="sign-up-password-confirm" type="password" class="material_form_control"
                                   name="passwordConfirm" placeholder="비밀번호를 다시 한 번 입력">

                            <label class="label_color">비밀번호 재확인</label>

                            <div id="sign-up-passwordConfirm-validator-message" style="display: none">
                                <label class="control-label error">비밀번호 재확인은 반드시 입력하셔야 합니다.</label>
                            </div>
                        </div>
                    </div>

                    <h3 class="law_auth_card_header">인증정보</h3>


                    <div class="law_auth_card_body">
                        <div class="form_group">
                            <input id="lawyer-sign-up-name" type="text" class="material_form_control"
                                   name="lawyerName" placeholder="예) 홍길동" maxlength="5">

                            <label class="lawyer-sign-up-name">이름</label>

                            <div id="lawyer-sign-up-lawyerName-validator-message" style="display: none">
                                <label class="control-label">이름은 반드시 입력하셔야 합니다.</label>
                            </div>
                        </div>


                        <div class="form_group">
                            <input id="lawyer-sign-up-company" type="text" class="material_form_control"
                                   name="lawyerCompany" placeholder="예) 홍길동 법률사무소, 법무법인 홍길동">

                            <label class="lawyer-sign-up-company">소속(사무소, 회사명)</label>

                            <div id="lawyer-sign-up-lawyerCompany-validator-message" style="display: none">
                                <label class="control-label">사무소명은 반드시 입력하셔야 합니다.</label>
                            </div>
                        </div>


                        <div class="form_group">
                            <input id="lawyer-sign-up-cellphone" type="tel" class="material_form_control"
                                   name="lawyerPhone" placeholder="예) 01012345678" maxlength="11">

                            <label class="lawyer-sign-up-company-telephone">전화 번호</label>

                            <div id="lawyer-sign-up-cellphone-validator-message"  style="display: none">
                                <label class="control-label">전화 번호는 반드시 입력하셔야 합니다.</label>
                            </div>
                        </div>


                    <h3 class="law_auth_card_header">약관동의</h3>

                    <contract-consensus>
                        <div class="contract-consensus-container">
                            <div class="contract-consensus-all-wrap">
                                <div class="contract-consensus-checkbox-wrap">
                                    <input id="sign-up-agree-all" type="checkbox" class="contract-consensus-checkbox allAgree">
                                    <label for="sign-up-agree-all" class="contract-consensus-checkbox-label">
                                        <i class="contract-consensus-checkbox-text">
                                            다음에 모두 동의합니다.
                                        </i>
                                    </label>
                                </div>

                                <div class="contract-consent-all-text">서비스 이용약관, 개인정보 취급방침, 개인정보 이용/수집,  프로모션 정보 수신에 모두 동의함을 의미합니다.
                                </div>
                            </div>

                            <div class="contract-consensus-line"></div>

                            <div class="contract-consensus-check-box-container">
                                <div class="contract-consensus-checkbox-wrap">
                                    <input id="lawyer-sign-up-agreement" type="checkbox" class="contract-consensus-checkbox mustAgree agreement">
                                    <label for="lawyer-sign-up-agreement" class="contract-consensus-checkbox-label">
                                        <i class="contract-consensus-checkbox-text">
                                            서비스 이용약관 동의
                                        </i>
                                        <i class="contract-consensus-checkbox-sub-text">
                                            (필수)
                                        </i>
                                    </label>

                                </div>
                            </div>

                            <div class="contract-consensus-check-box-container">
                                <div class="contract-consensus-checkbox-wrap">
                                    <input id="privacy-policy" type="checkbox" class="contract-consensus-checkbox mustAgree agreement">
                                    <label for="privacy-policy" class="contract-consensus-checkbox-label">
                                        <i class="contract-consensus-checkbox-text">
                                            개인정보 취급방침 동의
                                        </i>
                                        <i class="contract-consensus-checkbox-sub-text">
                                            (필수)
                                        </i>
                                    </label>

                                </div>
                            </div>

                            <div class="contract-consensus-check-box-container">
                                <div class="contract-consensus-checkbox-wrap">
                                    <input id="personal-info" type="checkbox" class="contract-consensus-checkbox mustAgree agreement">
                                    <label for="personal-info" class="contract-consensus-checkbox-label">
                                        <i class="contract-consensus-checkbox-text">
                                            개인정보 이용/수집 동의
                                        </i>
                                        <i class="contract-consensus-checkbox-sub-text">
                                            (필수)
                                        </i>
                                    </label>

                                </div>
                            </div>

                            <div class="contract-consensus-check-box-container">
                                <div class="contract-consensus-checkbox-wrap">
                                    <input id="marketing-accept" type="checkbox" class="contract-consensus-checkbox choiceAgree agreement">
                                    <label for="marketing-accept" class="contract-consensus-checkbox-label">
                                        <i class="contract-consensus-checkbox-text">
                                            혜택정보(마케팅) 수신 전체동의
                                        </i>
                                        <i class="contract-consensus-checkbox-sub-text">
                                            (선택)
                                        </i>
                                    </label>



                                </div>

                                <div class="contract-consensus-marketing-accept-text">
                                    <span class="without-welcome-gift-text">신규 서비스 소식, 이벤트 안내, 할인/혜택 등 다양한 정보를</span>

                                    <br class="it-mobile">
                                    <input id="email-marketing-accept" type="checkbox" class="marketing-checkbox">

                                    <label for="email-marketing-accept" class="contract-consensus-marketing-accept-checkbox-label email">
                                        <i class="contract-consensus-marketing-accept-checkbox-text">이메일</i>
                                    </label>
                                    과
                                    <br class="it-mobile">
                                    <input id="sms-marketing-accept" type="checkbox" class="marketing-checkbox">

                                    <label for="sms-marketing-accept" class="contract-consensus-marketing-accept-checkbox-label phone">
                                        <i class="contract-consensus-marketing-accept-checkbox-text">휴대폰(카카오알림톡 또는 문자)</i>
                                    </label>
                                    로 받아보겠습니다.
                                </div>
                            </div>

                        </div>
                    </contract-consensus>

                    <div class="law-auth-card-footer">
                        <div class="law-auth-card-footer-description">
                            <i class="lc"></i>

                            <span>가입 신청을 하시면 변호사 자격 확인 절차가 있으며, 이후 변호사님의 경력, 자격, 주요분야 등
필수 정보가 모두 입력되어야 변호사님 프로필이 검색에 노출이 됩니다.</span>
                        </div>
                        <button type="submit" class="law-auth-card-footer-button">
                            가입신청
                        </button>
                    </div>
                </div>
            </div>
            </form>

        </div>


        </div>

        <div id="dialog" class="dialog" style="display:none;">
            <div class="dialog-overlay"></div>
            <div class="dialog-content">
                <div class="simple-message">
                    <div class="title">
                        로그인
                        <a href="">
                            <i class="lc"></i>
                        </a>
                    </div>

                    <div class="body">
                        <p style="outline: 0px;">아이디/비밀번호가 일치하지 않습니다.</p>
                    </div>

                    <div class="footer">
                        <a class="yes">확인</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
<script th:if="${emailErrorMsg} != null">
    alert("중복된 아이디입니다.")
</script>
<script src="/js/lawyer/lawyer-join-membership.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>