<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>변호사 즐겨찾기 | 카운슬로우</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="/css/myFavoriteLawyers/favorite-lawyer.css">
</head>
<body>
    <div class="root pc">
        <div style="height: 100%;">
            <div class="Fav-Lawyer-Wrapper">
                <div class="Fav-Lawyer-Contents">
                    <div class="My-Lawyer-Wrapper">
                        <div class="My-Lawyer-Content">
                            <div class="My-Lawyer-Left">
                                <div class="My-Lawyer-Left-Card">
                                    <div class="My-Lawyer-Left-Card-Body">
                                        <div class="Exclamation-Icon-Wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                            </svg>
                                        </div>
                                        <h1 class="My-Lawyer-Left-Empty-Title">
                                            즐겨찾기한 변호사가 없습니다
                                            <span class="Bang">!</span>
                                        </h1>
<!--                                        <p class="My-Lawyer-Left-Empty-Body">-->
<!--                                            즐겨찾기한 변호사는-->
<!--                                            <br>-->
<!--                                            10명까지 저장됩니다.-->
<!--                                        </p>-->
                                        <a href="/member/mypage-member" class="My-Lawyer-Left-Prev-Link">이전 페이지</a>
                                        <a href="/lawyer-search/search-by-categories" class="My-Lawyer-Left-Find-Link">변호사 찾기</a>
                                    </div>
                                </div>
                            </div>
                            <div class="My-Lawyer-Right">
                                <div class="Banner-Wrapper">
                                    <div class="Info-Banner-Wrapper">
                                        <div class="Info-Banner">
                                            <div class="Info-Banner-Header">
                                                <h5 class="Info-Banner-Title">CounseLaw Info.</h5>
                                            </div>
                                            <div class="Info-Banner-Body">
                                                <div>
                                                    <div style="width: 100%;">
                                                        <div style="display: block;" class="Info-Banner-Image-Wrapper">
                                                            <img src="https://d2nyk3ltml4doc.cloudfront.net/lawtalk/latest/images/47ecbec3fec2e3ca0e70.png" alt="변호사 선임료는 착수금과 성공보수로 나뉩니다! 선임료는 변호사마다 다르므로, 프로필에서 수임료 정보를 확인하세요.">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>