<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>변호사 즐겨찾기 | 카운슬로우</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="/css/myFavoriteLawyers/favorite-lawyer.css">
<!--    <th:block th:replace="~{fix/header :: my-header-head}"></th:block>-->
<!--    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>-->
</head>
<body>
<div class="root pc">
<!--    <header th:replace="~{fix/header :: my-header}"></header>-->
    <div style="height: 100%;">
        <div class="Fav-Lawyer-Wrapper">
            <div class="Fav-Lawyer-Contents">
                <div class="My-Lawyer-Wrapper">
                    <div class="My-Lawyer-Content">
                        <div class="My-Lawyer-Left">
                            <div class="My-Lawyer-Card-Container">
                                <div class="My-Lawyer-Card-Wrapper" th:each="favorites:${lawyerLikeDTOS}">
                                    <div class="My-Lawyer-Card" >
                                        <a th:href="@{'/lawyer-home/lawyer-home?lawyerId=' + ${favorites.getLawyerId()}}" class="My-Lawyer-Description">
                                            <div class="My-Lawyer-Star-Block">
                                                <i class="My-Lawyer-Star-Wrapper">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                    </svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                    </svg>
                                                </i>
                                                <h4 class="My-Lawyer-Name-Wrapper">
                                                    <span class="My-Lawyer-Name" th:text="${favorites.lawyerName}"></span>
                                                </h4>
                                            </div>
                                            <p class="My-Lawyer-Introduction" th:text="${favorites.lawyerIntroduction}"></p>
                                            <p class="My-Lawyer-Specialization" th:text="|메인 분야: ${favorites.fieldTitle}|"></p>
                                            <p class="My-Lawyer-Location" th:text="|활동 지역: ${favorites.locationName}|">
<!--                                                <i class="My-Lawyer-Location-Icon-Wrapper">-->
<!--                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">-->
<!--                                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>-->
<!--                                                    </svg>-->
<!--                                                </i>-->
                                            </p>
                                        </a>
                                        <a href="" class="My-Lawyer-Profile">
                                            <img th:src="${favorites.lawyerImage}" alt="변호사 사진1" class="My-Lawyer-Profile-Photo">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="My-Lawyer-Right">
                            <div class="Banner-Wrapper">
                                <div class="Info-Banner-Wrapper">
                                    <div class="Info-Banner">
                                        <div class="Info-Banner-Header">
                                            <h5 class="Info-Banner-Title">CounseLaw Info.</h5>
                                        </div>
                                        <div class="Info-Banner-Body">
                                            <div>
                                                <div style="width: 100%;">
                                                    <div style="display: block;" class="Info-Banner-Image-Wrapper">
                                                        <img src="https://d2nyk3ltml4doc.cloudfront.net/lawtalk/latest/images/47ecbec3fec2e3ca0e70.png" alt="변호사 선임료는 착수금과 성공보수로 나뉩니다! 선임료는 변호사마다 다르므로, 프로필에서 수임료 정보를 확인하세요.">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/myFavoriteLawyers/favorite-lawyer.js"></script>
</html>