<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상담 후기 - 마이페이지 | 카운슬로우</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="/css/reviews/my-reviews.css">
</head>
<body>
<div class="root pc">
    <div style="height: 100%;">
        <div class="My-Review-Wrapper">
            <div class="My-Review-Contents">
                <div class="My-Review-My">
                    <div class="My-Review-My-Contents">
                        <div class="My-Review-My-Favorites">
                            <div>
                                <div class="My-Review-List">
                                    <header class="My-Review-List-Header">
                                        <div class="My-Review-List-Header-Info">
                                            <div class="My-Review-List-Header-Info-Icon-Wrapper">
                                                <i class="My-Review-List-Header-Info-Icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                    </svg>
                                                </i>
                                            </div>
                                            <div class="My-Review-List-Header-Info-Description">
                                                후기는 최신순으로 표시됩니다.
                                            </div>
                                        </div>
                                        <div class="My-Review-List-Header-Count-Wrapper">
                                            <div class="My-Review-List-Header-Count-Description">
                                                총&nbsp;
                                                <span class="My-Review-List-Header-Count">0</span>
                                                개
                                            </div>
                                        </div>
                                    </header>
                                    <section class="My-Review-List-Contents">
                                        <div class="My-Review-List-Feed">
                                            <div class="My-Review-List-Empty-Wrapper">
                                                <div class="My-Review-List-Empty">
                                                    <h2 class="My-Review-List-Empty-Title">
                                                        작성한 후기가 없습니다.
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="My-Review-List-Contents-Trigger-Load"></div>
                                            <div class="My-Review-List-Compose-Section">
                                                <h5 class="My-Review-List-Compose-Section-Title">
                                                    더 빠르고 디테일한 상담을 원하세요?
                                                </h5>
                                                <div class="My-Review-List-Phone-Advice">
                                                    <p class="My-Review-List-Phone-Advice-Desc">
                                                        원하는 시간에 원하는 변호사에게
                                                        <br>
                                                        15분간 전화로 상담하는
                                                    </p>
                                                    <a href="" class="My-Review-List-To-Advice">
                                                        15분 전화상담
                                                        <div class="My-Review-List-To-Advice-Icon-Wrapper">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="Slash"></div>
                                                <div class="My-Review-List-Phone-Advice">
                                                    <p class="My-Review-List-Phone-Advice-Desc">
                                                        원하는 시간에 원하는 변호사와
                                                        <br>
                                                        직접 만나서 30분간 상담하는
                                                    </p>
                                                    <a href="" class="My-Review-List-To-Advice">
                                                        30분 방문상담
                                                        <div class="My-Review-List-To-Advice-Icon-Wrapper">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <aside class="My-Review-List-Aside">
                                            <div class="My-Review-Write-Banner">
                                                <div class="My-Review-Write-Icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                         fill="currentColor" class="bi bi-pencil-square"
                                                         viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                        <path fill-rule="evenodd"
                                                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                    </svg>
                                                </div>
                                                <div class="My-Review-Write-Description">
                                                    지금 첫 후기를 작성하고
                                                    <br>
                                                    5,000원 상당의 쿠폰을 받으세요.
                                                </div>
                                                <a href="" class="Link-To-Write">
                                                    <!-- 상담내역으로 연결됩니다. -->
                                                    후기 쓰러가기
                                                    <i class="My-Review-Right-Arrow-Icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                             fill="currentColor" class="bi bi-chevron-compact-right"
                                                             viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                  d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                                                        </svg>
                                                    </i>
                                                </a>
                                            </div>
                                            <div class="My-Review-List-Aside-Content-Wrapper">
                                                <div class="My-Review-List-Aside-Content">
                                                    <div class="My-Review-List-Aside-Content-Tip">
                                                        <div class="My-Review-List-Aside-Content-Heading">꼭 알아두세요!</div>
                                                    </div>
                                                    <div class="My-Review-List-Aside-Lawguides">
                                                        <a href="" class="My-Review-Lawguide-Each-Link">
                                                            <h3 class="My-Review-Lawguide-Title">스토킹과 협박 관련 고소 상담</h3>
                                                            <h5 class="My-Review-Lawguide-Lawyername">한동석 변호사</h5>
                                                        </a>
                                                        <a href="" class="My-Review-Lawguide-Each-Link">
                                                            <h3 class="My-Review-Lawguide-Title">직장에서 사직서가 사라진 경우, 어떻게
                                                                해야할까요?</h3>
                                                            <h5 class="My-Review-Lawguide-Lawyername">한동석 변호사</h5>
                                                        </a>
                                                        <a href="" class="My-Review-Lawguide-Each-Link">
                                                            <h3 class="My-Review-Lawguide-Title">회사 내 명예훼손 소송 상담</h3>
                                                            <h5 class="My-Review-Lawguide-Lawyername">한동석 변호사</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </aside>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>