<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.app.counselawb.domain.vo.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.ConsultingCaseImgVO" alias="consultingCaseImgVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.ConsultingCaseReplyVO" alias="consultingCaseReplyVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.ConsultingCaseVO" alias="consultingCaseVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.ConsultingReviewVO" alias="consultingReviewVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.CouponAdminVO" alias="couponAdminVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.CouponVO" alias="couponVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.ExperienceVO" alias="experienceVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.FieldVO" alias="fieldVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.LawyerFieldVO" alias="lawyerFieldVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.LawyerLikeVO" alias="lawyerLikeVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.LawyerLocationVO" alias="lawyerLocationVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.LegalGuideImgVO" alias="legalGuideImgVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.LegalGuideVO" alias="legalGuideVO"/>
        <typeAlias type="com.app.counselawb.domain.dto.LegalGuideDTO" alias="legalGuideDTO"/>
        <typeAlias type="com.app.counselawb.domain.vo.LocationVO" alias="locationVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.MemberCouponVO" alias="memberCouponVO"/>
        <typeAlias type="com.app.counselawb.domain.dto.LawyerSidebarDTO" alias="lawyerSidebarDTO" />
        <typeAlias type="com.app.counselawb.domain.vo.NoticeVO" alias="noticeVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.PaymentVO" alias="paymentVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.ReservationVO" alias="reservationVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.SolutionCaseImgVO" alias="solutionCaseImgVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.SolutionCaseVO" alias="solutionCaseVO"/>
        <typeAlias type="com.app.counselawb.domain.vo.LawyerVO" alias="lawyerVO"/>
        <typeAlias type="com.app.counselawb.domain.dto.LawyerFieldDTO" alias="lawyerFieldDTO" />
        <typeAlias type="com.app.counselawb.domain.dto.PostsDTO" alias="postsDTO" />
        <typeAlias type="com.app.counselawb.domain.dto.ConsultingCaseDTO" alias="consultingCaseDTO"/>
        <typeAlias type="com.app.counselawb.domain.dto.ConsultingWriteDTO" alias="consultingWriteDTO"/>
        <typeAlias type="com.app.counselawb.domain.dto.ConsultDetailDTO" alias="consultDetailDTO"/>
        <typeAlias type="com.app.counselawb.domain.dto.ConsultToSolutionDTO" alias="consulttoSolutionDTO"/>
        <typeAlias type="com.app.counselawb.domain.dto.LawyerLocationDTO" alias="lawyerLocationDTO" />
        <typeAlias type="com.app.counselawb.domain.dto.SearchDTO" alias="searchDTO" />
        <typeAlias type="com.app.counselawb.domain.dto.ConsultingCaseReplyDTO" alias="consultingCaseReplyDTO" />
        <typeAlias type="com.app.counselawb.domain.dto.LawyerReplyDTO" alias="lawyerReplyDTO" />
        <typeAlias type="com.app.counselawb.domain.dto.LawyerReviewDTO" alias="lawyerReviewDTO" />
        <typeAlias type="com.app.counselawb.domain.dto.AveragePriceDTO" alias="averagePriceDTO" />
        <typeAlias type="com.app.counselawb.domain.vo.FieldCategoryVO" alias="fieldCategoryVO" />
        <typeAlias type="com.app.counselawb.domain.dto.LawyerAndMemberDTO" alias="lawyerAndMemberDTO" />
        <typeAlias type="com.app.counselawb.domain.dto.LawyerFieldSearchDTO" alias="lawyerFieldSearchDTO" />
    </typeAliases>
</configuration>