<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>변호사 분야로 검색결과</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="/css/defaultSetting.css">
    <link rel="stylesheet" href="/css/lawyerListByCategories/lawyerListByCategories.css">
    <th:block th:replace="~{fix/header :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body>
<div class="search-controller main-content-container">
    <header th:replace="~{fix/header :: my-header}"></header>
    <div class="search-content" style="visibility: visible; margin-top: 30px;">
<!--       로톡에서 script 태그가 있었는데 삭제했습니다.-->
        <section class="content-section lawyers-section">
            <div class="lawyers-section-wrap section-wrap lawyers-tab-section">
                <lawyer-simple-filter>
                    <div class="lawyer-simple-filter">
                        <div class="filter-body" style="max-height: 484px;">
                            <div class="filter-body-inner">
                                <div class="filter-items">
                                    <div class="filter-item-wrap">
                                        <div class="filter-item">
                                            <div class="filter-item-button">
                                                <img src="/image/lawyerListByCategories/lightning.png"
                                                    alt="빠른상담순 아이콘" class="filter-item-button__item-img">
                                                <div class="filter-item-button__label">빠른상담순</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter-item-wrap">
                                        <div class="filter-item">
                                            <div class="filter-item-button">
                                                <div class="filter-item-button">
                                                    <img src="/image/lawyerListByCategories/coupon.png"
                                                        alt="1만원쿠폰 아이콘" class="filter-item-button__item-img">
                                                    <div class="filter-item-button__label">1만원 쿠폰</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter-item-wrap">
                                        <div class="filter-item">
                                            <div class="filter-item-button">
                                                <div class="filter-item-button__label_gender">성별</div>
                                                <div class="upDownButtonWrapper">
                                                    <img class="upButton" src="/image/lawyerListByCategories/up.png" alt="위">
                                                    <img class="downButton" src="/image/lawyerListByCategories/down.png" alt="아래">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filter-item-option lt-desktop">
                                            <div class="filter-item-option__radio-select"><!---->
                                                <div class="filter-item-option__radio-items">
                                                    <div class="filter-item-option__radio-item active">
                                                        <div class="filter-item-option__radio-label">전체</div>
                                                    </div>
                                                </div>
                                                <div class="filter-item-option__radio-items">
                                                    <div class="filter-item-option__radio-item">
                                                        <div class="filter-item-option__radio-label">남</div>
                                                    </div>
                                                </div>
                                                <div class="filter-item-option__radio-items">
                                                    <div class="filter-item-option__radio-item">
                                                        <div class="filter-item-option__radio-label">여</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <button class="reset-button lt-desktop ng-hide">
                                    <div class="reset-button__icon">
                                        <i class="lc lc-btn-reset"></i>
                                    </div>
                                    <div class="reset-button__label">초기화</div>
                                </button>
                            </div>
                        </div>
                        <div class="bottom-sheet-wrap">
                            <div class="bottom-sheet-layer"></div>
                            <div class="bottom-sheet lt-mobile">
                                <div class="bottom-sheet-inner">
                                    <div class="bottom-sheet__header">
                                        <div class="bottom-sheet__handlebar"></div>
                                        <div class="bottom-sheet__filter-item-label"></div>
                                    </div>
                                    <div class="bottom-sheet__body"></div>
                                    <div class="bottom-sheet__footer">
                                        <div class="bottom-sheet__button-wrap">
                                            <div class="bottom-sheet__init-button">
                                                <div class="bottom-sheet__init-button-label">초기화</div>
                                            </div>
                                            <div class="bottom-sheet__complete-button">
                                                <div class="bottom-sheet__complete-button-label">선택 완료</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </lawyer-simple-filter>
                <table class="lawyers-list-wrapper">
                    <tbody>
                    <tr>
                        <td class="lawyers-list-td all">
                            <section class="lawyers-list all desktop-align-top-md">
                                <div class="premium-lawyer-section lawyer-section-title all">
                                    <premium-lawyer-section>
                                        <div class="premium-lawyer-section--component" style="width: 742px; top: 0px;">
                                            <div class="premium-lawyer-section--title">ACTIVE LAWYERS</div>
                                            <div class="premium-lawyer-section--sub-title">광고</div>
                                        </div>
                                    </premium-lawyer-section>
                                </div>
                                <div class="premium-lawyer-card-list">
                                    <lawyer-card-v2 class="need-boundary">
                                        <article class="lawyer-card-v2-premium no-timeslot-card hide-category has-badges">
                                            <div class="lawyer-profile-right">
                                                <div class="picture">
                                                    <img data-src="https://d2ai3ajp99ywjy.cloudfront.net/uploads/original/624a9ddf97d9920024a71f18-original-1649064352433.jpg" data-desktop-size="256x256"
                                                         class="lawyer-profile"
                                                         src="https://d2ai3ajp99ywjy.cloudfront.net/uploads/original/624a9ddf97d9920024a71f18-original-1649064352433.jpg?s=256x256">
                                                </div>
                                            </div>
                                            <div class="lawyer-profile-left">
                                                <div class="lawyer-profile-left-header">
                                                    <a class="lawyer-name"
                                                        data-gtm-vis-first-on-screen-10244850_155="634408"
                                                        data-gtm-vis-total-visible-time-10244850_155="100"
                                                        data-gtm-vis-has-fired-10244850_155="1">길기범 변호사
                                                    </a>
                                                </div>
                                                <div class="lawyer-card-v2-premium__company-name">법률사무소 로진</div>
                                                <a class="lawyer-description"
                                                   data-gtm-vis-first-on-screen-10244850_155="634415"
                                                   data-gtm-vis-total-visible-time-10244850_155="100"
                                                   data-gtm-vis-has-fired-10244850_155="1">
                                                    [사시출신/성범죄 전문]
                                                    치밀한전략/무혐의/기소유예
                                                </a>
                                                <div class="lawyer-specialization">
                                                    <div class="lawyer-specialization-title">주요분야</div>
                                                    <div class="lawyer-specialization-item">
                                                        고소/소송절차
                                                    </div>
                                                    <div class="lawyer-specialization-item">
                                                        음주/무면허
                                                    </div>
                                                </div>
                                                <div class="lawyer-review-coupon-icon-wrap has-review">
                                                    <div class="lawyer-review">
                                                        <div class="lawyer-review-rate-block">
                                                            <div class="lawyer-review-count">
                                                                관련분야 후기 6개
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="lawyer-card-v2-premium__highlighted-keywords">
                                                    <div class="lawyer-card-v2-premium__highlighted-keyword">
                                                        #성매매알선
                                                    </div>
                                                    <div class="lawyer-card-v2-premium__highlighted-keyword">
                                                        #성매수
                                                    </div>
                                                </div>
                                                <div class="available-solutions-block">
                                                    <div class="available-solutions">
                                                        <div class="available-solution">
                                                            <div class="solution-text solution-title">15분 전화상담</div>
                                                            <div class="solution-text solution-price">20,000원</div>
                                                        </div>
                                                        <div class="available-solution in-active">
                                                            <div class="solution-text solution-title">30분 방문상담</div>
                                                            <div class="solution-text solution-price">70,000원</div>
                                                        </div>
                                                    </div>
                                                    <button class="reservation-button">
                                                        예약하기
                                                    </button>
                                                </div>
                                                <div class="lawyer-more-see-block">
                                                    <div class="lawyer-more-see-text">더 알아보기</div>
                                                    <div class="lawyer-more-see-arrow"></div>
                                                </div>
                                            </div>
                                        </article>
                                    </lawyer-card-v2>
                                </div>
                                <div class="normal-lawyer-card-list">
                                    <div class="normal-lawyer-section lawyer-section-title">
                                        <div class="normal-lawyer-section-title">LAWYERS</div>
                                    </div>
                                    <lawyer-card-v2>
                                        <article class="lawyer-card-v2 normal-lawyer-card hide-category">
                                            <div class="lawyer-profile-right">
                                                <a class="picture">
                                                    <img data-src="https://d2ai3ajp99ywjy.cloudfront.net/uploads/original/626a02cd74567300c8806980-original-1664963855590.jpg"
                                                         data-desktop-size="144x144" data-mobile-size="104x104"
                                                         class="lawyer-profile"
                                                         src="https://d2ai3ajp99ywjy.cloudfront.net/uploads/original/626a02cd74567300c8806980-original-1664963855590.jpg?s=144x144">
                                                </a>
                                            </div>
                                            <div class="lawyer-profile-left">
                                                <div class="lawyer-name-icon-wrap">
                                                    <a class="lawyer-name" data-gtm-vis-first-on-screen-10244850_155="1160851"
                                                        data-gtm-vis-total-visible-time-10244850_155="100" data-gtm-vis-has-fired-10244850_155="1">
                                                        홍노경 변호사
                                                    </a>
                                                </div>
                                                <div class="lawyer-card-v2__company-name">법률사무소 이유</div>
                                                <div class="lawyer-description">
                                                    [SKY법대,대형로펌출신] 고객 맞춤형 법률
                                                    서비스
                                                </div>
                                                <div class="lawyer-specialization">
                                                    <div class="lawyer-specialization-title">주요분야</div>
                                                    <div class="lawyer-specialization-item">
                                                        가사 일반
                                                    </div>
                                                    <div class="lawyer-specialization-item">
                                                        형사일반/기타범죄
                                                    </div>
                                                    <div class="lawyer-specialization-item">
                                                        성매매
                                                    </div>
                                                </div>
                                                <div class="available-solutions-block">
                                                    <div class="available-solutions">
                                                        <div class="available-solution">
                                                            <div class="solution-text solution-title normal-solution-title">
                                                                15분 전화상담
                                                            </div>
                                                        </div>
                                                        <div class="available-solution in-active">
                                                            <div class="solution-text solution-title normal-solution-title">
                                                                30분 방문상담
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </lawyer-card-v2>
                                </div>
                                <div class="more-lawyers-block">
                                    <a class="more-lawyers">
                                        <i class="more-text">더보기</i>
                                        <i class="more-total lt-mobile">(</i>
                                        <i class="more-current lt-mobile">1</i>
                                        <i class="more-total more-total-number lt-mobile">/ 2 )</i>
                                        <i class="more-plus">+</i>
                                    </a>
                                    <div class="more-lawyers-button-boundary lt-mobile"></div>
                                </div>
                            </section>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <footer th:replace="~{fix/footer :: my-footer}"></footer>
</div>
</body>
<script src="/js/lawyerListByCategories/lawyerListByCategories.js"></script>
</html>