<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>변호사 분야로 검색결과</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="/css/defaultSetting.css">
    <link rel="stylesheet" href="/css/lawyerListByCategories/lawyerListByCategories.css">
    <th:block th:replace="~{fix/header :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body>
<div class="search-controller main-content-container">
    <header th:replace="~{fix/header :: my-header}"></header>
    <div class="search-content" style="visibility: visible; margin-top: 30px;">
<!--       로톡에서 script 태그가 있었는데 삭제했습니다.-->
        <section class="content-section lawyers-section">
            <div class="lawyers-section-wrap section-wrap lawyers-tab-section">
                <table class="lawyers-list-wrapper">
                    <tbody>
                    <tr>
                        <td class="lawyers-list-td all">
                            <section class="lawyers-list all desktop-align-top-md">
                                <div class="premium-lawyer-section lawyer-section-title all">
                                    <premium-lawyer-section>
                                        <div class="premium-lawyer-section--component" style="width: 742px; top: 0px;">
                                            <div class="premium-lawyer-section--title">ACTIVE LAWYERS</div>
                                        </div>
                                    </premium-lawyer-section>
                                </div>
                                <div class="premium-lawyer-card-list">
                                    <lawyer-card-v2 class="need-boundary">
                                        <article class="lawyer-card-v2-premium no-timeslot-card hide-category has-badges">
                                            <div class="lawyer-profile-right">
                                                <div class="picture">
                                                    <img width="256" height="256" class="lawyer-profile"
                                                         >
                                                </div>
                                            </div>
                                            <div class="lawyer-profile-left">
                                                <div class="lawyer-profile-left-header">
                                                    <a class="lawyer-name"
                                                        data-gtm-vis-first-on-screen-10244850_155="634408"
                                                        data-gtm-vis-total-visible-time-10244850_155="100"
                                                        data-gtm-vis-has-fired-10244850_155="1">길기범 변호사
                                                    </a>
                                                </div>
                                                <div class="lawyer-card-v2-premium__company-name">법률사무소 로진</div>
                                                <a class="lawyer-description"
                                                   data-gtm-vis-first-on-screen-10244850_155="634415"
                                                   data-gtm-vis-total-visible-time-10244850_155="100"
                                                   data-gtm-vis-has-fired-10244850_155="1">
                                                    [사시출신/성범죄 전문]
                                                    치밀한전략/무혐의/기소유예
                                                </a>
                                                <div class="lawyer-review-coupon-icon-wrap has-review">
                                                    <div class="lawyer-review">
                                                        <div class="lawyer-review-rate-block">
                                                            <div class="lawyer-review-count">
                                                                의뢰인 후기 6개
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="lawyer-card-v2-premium__highlighted-keywords">
                                                    <div class="lawyer-card-v2-premium__highlighted-keyword">
                                                        #성매매알선
                                                    </div>
                                                    <div class="lawyer-card-v2-premium__highlighted-keyword">
                                                        #성매수
                                                    </div>
                                                </div>
                                                <div class="available-solutions-block">
                                                    <div class="available-solutions">
                                                        <div class="available-solution">
                                                            <div class="solution-text solution-title">15분 전화상담</div>
                                                            <div class="solution-text solution-price">20,000원</div>
                                                        </div>
                                                        <div class="available-solution">
                                                            <div class="solution-text solution-title">20분 영상상담</div>
                                                            <div class="solution-text solution-price">20,000원</div>
                                                        </div>
                                                        <div class="available-solution">
                                                            <div class="solution-text solution-title">30분 방문상담</div>
                                                            <div class="solution-text solution-price">70,000원</div>
                                                        </div>
                                                    </div>
                                                    <button class="reservation-button">
                                                        예약하기
                                                    </button>
                                                </div>
                                                <div class="lawyer-more-see-block">
                                                    <a href="">
                                                        <div class="lawyer-more-see-text">더 알아보기</div>
                                                        <div class="lawyer-more-see-arrow"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </lawyer-card-v2>
                                </div>
                                <div class="more-lawyers-block">
                                    <a class="more-lawyers">
                                        <i class="more-text">더보기</i>
                                        <i class="more-plus">+</i>
                                    </a>
                                    <div class="more-lawyers-button-boundary lt-mobile"></div>
                                </div>
                            </section>
                        </td>
                        <td ng-class="{'not-all': activeTab !== 'all'}" class="filter-column">
                            <aside class="aside-section" style="top: 127px;">
                                <div class="aside-title">다른 분야 검색하기</div>
                                <div class="category-wrapper">
                                    <a th:each="field : ${allFields}" th:text="${field.fieldTitle}"
                                       th:classappend="${field.fieldId == fieldId ? 'active' : ''}" class="each-category-link"
                                       th:href="'/lawyer-search/lawyer-list-by-categories?fieldId=' + ${field.fieldId}">
                                    </a>
                                </div>
                            </aside>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <footer th:replace="~{fix/footer :: my-footer}"></footer>
</div>
</body>
<script src="/js/lawyerListByCategories/lawyerListByCategories.js"></script>
</html>