<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>개인정보 수정 | 카운슬로우</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="/css/mypage/info-update.css">
    <link rel="stylesheet" href="/css/mypage/mypage-header.css">
</head>
<body>
    <div class="root pc">
        <div class="MypageHeaderWrapper">
            <header class="MypageHeader">
                <div class="MypageHeaderLeft">
                    <div class="MypageHeader-LogoWrapper">
                        <a href="/">
                            <img src="/image/mypage/main_logo.png" alt="카운슬로우 로고" class="MypageHeader-MainLogo">
                        </a>
                    </div>
                </div>
                <div class="MypageHeaderCenter">
                    <p class="MypageHeaderText">내 정보 수정</p>
                </div>
                <div class="MypageHeaderRight">
                    <div class="MypageHeaderRight-ButtonContainer">
                        <a href="/member/mypage-member" style="text-decoration: none;">
                            <p class="MypageHeaderRight-Button">마이페이지로</p>
                        </a>
                        <a href="/login/logout-finally" style="text-decoration: none;">
                            <p class="MypageHeaderRight-Button">로그아웃</p>
                        </a>
                    </div>
                </div>
            </header>
        </div>
        <div style="height: 100%;">
            <div class="Info-Update-Wrapper">
                <div class="Info-Update">
                    <div class="Info-Update-Body">
                        <form role="form" name="accountForm" method="post" th:action="@{/member/change-password}" class="Account-Info-Card">
                            <h3 class="Account-Info-Card-Header">계정정보</h3>
                            <div class="Account-Info-Card-Body">
                                <div class="Account-Info-Card-Group">
                                    <p class="email-label">이메일</p>
                                    <span th:text="${currentMember.getMemberEmail()}" class="Account-Info-Card-Group-Input"></span>
                                    <div class="Missing-Email-Message">
                                        <label>이메일은 반드시 입력하셔야 합니다.</label>
                                    </div>
                                </div>
<!--                                <div class="Account-Info-Card-Group">-->
<!--                                    <div class="Account-Social-Static-Id">hds1234ejsl10pucfut</div>-->
<!--                                    <label>아이디</label>-->
<!--                                    <p class="Account-Social-Help-Block">소셜 로그인한 경우, 임의의 아이디가 부여됩니다.</p>-->
<!--                                </div>-->
                                <div class="Account-Info-Card-Group">
                                    <input id="oldPassword" type="password" maxlength="255" th:name="oldPassword" class="Account-Info-Card-Group-Input">
                                    <label for="oldPassword">기존 비밀번호</label>
<!--                                    <p th:if="${changePwErrorMsg}" th:text="${changePwErrorMsg}" class="Old-Password-Error">기존 비밀번호와 일치하지 않습니다.</p>-->
<!--                                    <p th:unless="${changePwSuccessMsg}" th:text="${changePwSuccessMsg}" class="Update-Error">비밀번호가 성공적으로 변경되었습니다.</p>-->
                                </div>
                                <div class="Account-Info-Card-Group">
                                    <input id="newPassword" type="password" maxlength="255" th:name="newPassword" class="Account-Info-Card-Group-Input">
                                    <label for="newPassword">새로운 비밀번호</label>
                                    <p class="Update-Error New-Password-Error">올바르지 않은 형식입니다.</p>
                                </div>
                                <div class="Account-Info-Card-Group">
                                    <input id="new-password-re" type="password" maxlength="255" name="newPasswordRepeat" class="Account-Info-Card-Group-Input">
                                    <label for="new-password-re">비밀번호 확인</label>
                                    <p class="Update-Error New-Password-Different">비밀번호가 일치하지 않습니다.</p>
                                    <p class="Update-No-Problem New-Password-Same">새로운 비밀번호가 일치합니다.</p>
                                </div>
                            </div>
                            <div class="Account-Info-Card-Footer">
                                <button type="submit" class="Account-Info-Card-Button">[ 저장 ]</button>
                            </div>
                        </form>
                        <form method="post" role="form" name="phoneForm" class="Account-Info-Card" th:action="@{/member/change-phone}">
                            <h3 class="Account-Info-Card-Header">전화번호</h3>
                            <div class="Account-Info-Card-Body">
                                <div class="Account-Info-Card-Group">
                                    <input th:value="${currentMember.getMemberPhone()}" id="newPhone" type="text" placeholder="예) 01012345678" maxlength="11" th:name="newPhone" class="Account-Info-Card-Group-Input">
                                    <label for="newPhone">전화번호</label>
                                </div>
<!--                                    <div class="Missing-Phone-Message">-->
<!--                                        <label>전화번호는 반드시 입력하셔야 합니다.</label>-->
<!--                                    </div>-->
<!--                                    <button type="button" class="Authenticate-Phone-Button">[ 인증번호 발송 ]</button>-->
<!--                                </div>-->
<!--                                <div class="Account-Info-Card-Group Phone-Auth-Code-Wrapper">-->
<!--                                    <input id="phone-auth-code" type="text" maxlength="6" name="phoneAuthCode" class="Account-Info-Card-Group-Input">-->
<!--                                    <label for="phone-auth-code">인증번호</label>-->
<!--                                    <button type="button" class="Authenticate-Phone-Check-Button">[ 인증번호 확인 ]</button>-->
<!--                                    <p class="Update-Error Phone-Auth-Code-Error">인증번호가 일치하지 않습니다.</p>-->
<!--                                    <p class="Update-No-Problem Phone-Auth-Code-Same">인증번호가 일치합니다.</p>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="Account-Info-Card-Footer">
                                <button type="submit" class="Account-Info-Card-Button">[ 저장 ]</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="Info-Update-Footer">
                        <div class="Info-Update-Footer-Row">
                            <a href="/withdraw/member-withdraw" methods="get">의뢰인 회원탈퇴</a>
                            <a href="/">메인 페이지</a>
                        </div>
                        <div class="Info-Update-Footer-Row">
                            <a href="" class="Info-Update-Footer-Copyright">
                                (C) CounseLaw Co., Ltd.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:inline="javascript">
    const lawyer = [[${session.lawyer}]];
    const member = [[${session.member}]];
</script>
<script th:if="${failMsg}">
    alert("기존 비밀번호가 일치하지 않습니다.");
</script>
<script th:if="${successMsg}">
    alert("비밀번호를 성공적으로 변경하였습니다.");
</script>
<script th:if="${isSuccessful}">
    alert("전화번호를 성공적으로 변경하였습니다.");
</script>
<script src="/js/mypage/info-update.js"></script>
</html>