<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>카운슬로우 - CounseLaw</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="./mypage.css">
</head>
<body style="background-color: #fff;">
    <div class="root pc">
        <div>
            <div>
                <div class="MypageHeaderWrapper">
                    <header class="MypageHeader">
                        <div class="MypageHeaderLeft">
                            <div class="MypageHeader-LogoWrapper">
                                <img src="./main_logo.png" alt="카운슬로우 로고" class="MypageHeader-MainLogo">
                            </div>
                        </div>
                        <div class="MypageHeaderCenter">
                            <p class="MypageHeaderText">마이페이지</p>
                        </div>
                        <div class="MypageHeaderRight">
                            <div class="MypageHeaderRight-ButtonContainer">
                                <p class="MypageHeaderRight-Button">내 정보 수정</p>
                                <p class="MypageHeaderRight-Button">로그아웃</p>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="MypageHeader-PlaceholderWrapper">
                    <div class="MypageHeader-Placeholder"></div>
                </div>
            </div>
            <div class="MypageWrapper">
                <div class="MypageCard">
                    <div class="MypageButtonwrapper">
                        <a href="" class="MypageButton">
                            쿠폰함
                            <span class="MypageButtonCount">0</span>
                        </a>
                        <a href="" class="MypageButton">
                            내 관심글
                            <span class="MypageButtonCount">0</span>
                        </a>
                        <a href="" class="MypageButton">
                            변호사 즐겨찾기
                            <span class="MypageButtonCount">0</span>
                        </a>
                    </div>
                </div>
                <div class="MypageBox">
                    <div class="MypageBox-AdviceList">
                        <div class="MypageBox-Title">내 상담내역</div>
                        <a href="" class="MypageBox-MenuItem">
                            <div class="MypageBox-MenuItemLabel">15분 전화상담</div>
                            <div class="MypageBox-MenuItemCount">0</div>
                        </a>
                        <a href="" class="MypageBox-MenuItem">
                            <div class="MypageBox-MenuItemLabel">20분 영상상담</div>
                            <div class="MypageBox-MenuItemCount">0</div>
                        </a>
                        <a href="" class="MypageBox-MenuItem">
                            <div class="MypageBox-MenuItemLabel">30분 방문상담</div>
                            <div class="MypageBox-MenuItemCount">0</div>
                        </a>
                        <a href="" class="MypageBox-MenuItem">
                            <div class="MypageBox-MenuItemLabel">작성한 온라인 상담글</div>
                            <div class="MypageBox-MenuItemCount">0</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="root mobile">
        <div>
            <div>
                <div class="MypageHeaderWrapper">
                    <div class="MypageHeader-Mobile">
                        <div>
                            <header class="MypageHeaderModule-Mobile">
                                <div class="MypageHeaderLeft-Mobile">
                                    <div class="MypageHeaderLeft-ArrowWrapper">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3252 17.3L8.72519 12.7C8.62519 12.6 8.55453 12.4917 8.5132 12.375C8.4712 12.2584 8.4502 12.1334 8.4502 12C8.4502 11.8667 8.4712 11.7417 8.5132 11.625C8.55453 11.5084 8.62519 11.4 8.72519 11.3L13.3252 6.70005C13.5085 6.51672 13.7419 6.42505 14.0252 6.42505C14.3085 6.42505 14.5419 6.51672 14.7252 6.70005C14.9085 6.88338 15.0002 7.11672 15.0002 7.40005C15.0002 7.68338 14.9085 7.91672 14.7252 8.10005L10.8252 12L14.7252 15.9C14.9085 16.0834 15.0002 16.3167 15.0002 16.6C15.0002 16.8834 14.9085 17.1167 14.7252 17.3C14.5419 17.4834 14.3085 17.575 14.0252 17.575C13.7419 17.575 13.5085 17.4834 13.3252 17.3Z" fill="black"></path></svg>
                                    </div>
                                    <p class="MypageHeaderLeft-Title">마이페이지</p>
                                </div>
                                <div class="MypageHeaderRight">
                                    <div class="MypageHeaderRight-ButtonContainer">
                                        <p class="MypageHeaderRight-Button">내 정보 수정</p>
                                        <p class="MypageHeaderRight-Button">로그아웃</p>
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
                <div class="MypageHeader-PlaceholderWrapper-Mobile">
                    <div class="MypageHeader-Placeholder-Mobile"></div>
                </div>
            </div>
            <div class="MypageWrapper-Mobile">
                <div class="MypageCard-Mobile">
                    <div class="MypageButtonwrapper-Mobile">
                        <a href="" class="MypageButton-Mobile">
                            쿠폰함
                            <span class="MypageButtonCount-Mobile">0</span>
                        </a>
                        <a href="" class="MypageButton-Mobile">
                            내 관심글
                            <span class="MypageButtonCount-Mobile">0</span>
                        </a>
                        <a href="" class="MypageButton-Mobile">
                            변호사 즐겨찾기
                            <span class="MypageButtonCount-Mobile">0</span>
                        </a>
                    </div>
                </div>
                <div class="MypageBox-Mobile">
                    <div class="MypageBox-AdviceList">
                        <div class="MypageBox-Title-Mobile">내 상담내역</div>
                        <a href="" class="MypageBox-MenuItem-Mobile">
                            <div class="MypageBox-MenuItemLabel-Mobile">15분 전화상담</div>
                            <div class="MypageBox-MenuItemCount-Mobile">0</div>
                        </a>
                        <a href="" class="MypageBox-MenuItem-Mobile">
                            <div class="MypageBox-MenuItemLabel-Mobile">20분 영상상담</div>
                            <div class="MypageBox-MenuItemCount-Mobile">0</div>
                        </a>
                        <a href="" class="MypageBox-MenuItem-Mobile">
                            <div class="MypageBox-MenuItemLabel-Mobile">30분 방문상담</div>
                            <div class="MypageBox-MenuItemCount-Mobile">0</div>
                        </a>
                        <a href="" class="MypageBox-MenuItem-Mobile">
                            <div class="MypageBox-MenuItemLabel-Mobile">작성한 온라인 상담글</div>
                            <div class="MypageBox-MenuItemCount-Mobile">0</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>