<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>의뢰인 회원탈퇴 | 카운슬로우</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="./withdraw.css">
</head>
<body>
    <div class="root pc">
        <div style="height: 100%;">
            <div class="Withdraw-Wrapper">
                <div class="Withdraw-Page">
                    <div class="Withdraw-Header">
                        <div class="Withdraw-Header-Logo-Wrapper">
                            <div class="Withdraw-Header-Logo-Image-Wrapper">
                                <img src="./main_logo.png" alt="카운슬로우 로고">
                            </div>
                        </div>
                        <div class="Withdraw-Header-English">Good Lawyers</div>
                        <h1 class="Withdraw-Header-Title">의뢰인 회원탈퇴</h1>
                    </div>
                    <div class="Withdraw-Body">
                        <div class="Withdraw-Body-Card">
                            <h3 class="Withdraw-Body-Card-Header">안내사항</h3>
                            <div class="Withdraw-Body-Card-Body">
                                <div class="Withdraw-Body-Card-Body-Item">
                                    <ol class="Withdraw-Body-Card-Body-Item-List">
                                        <li>
                                            <p>1. 회원정보(아이디, 이메일, 휴대전화번호 등)는 탈퇴 후 삭제 또는 서비스와 격리하여 보존 조치합니다.</p>
                                        </li>
                                        <li>
                                            <p>2. 불량 이용자의 재가입 방지, 명예훼손 등 권리침해 분쟁 및 수사협조 등을 위한 한시적인 개인정보 보존 조치는 개인정보 취급방침을 따릅니다.</p>
                                        </li>
                                        <li>
                                            <p>3. 회원이 작성한 상담글 등의 콘텐츠는 의뢰인회원과 변호사회원 상호간의 기록이자 이용약관에 따라 회사가 이용권을 취득하고 있어 삭제 대상에 포함하지 않습니다.</p>
                                        </li>
                                        <li>
                                            <p>4. 탈퇴 후에는 기존의 아이디로 다시 가입할 수 없습니다.</p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="Withdraw-Body-Card-Footer">
                                <div class="Withdraw-Body-Card-Footer-Description">
                                    [ 회원탈퇴 ] 를 누르는 것은 위 안내사항을
                                    <br>
                                    모두 확인하였으며, 이에 동의함을 의미합니다.
                                </div>
                                <button type="button" class="Withdraw-Button">[ 회원탈퇴 ]</button>
                            </div>
                        </div>
                    </div>
                    <div class="Withdraw-Footer">
                        <div class="Withdraw-Footer-Row">
                            <a href="" class="Withdraw-Footer-Copyright">
                                (C) CounseLaw Co., Ltd.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>