/* 전체 css */
* {font-family: Pretendard,'Noto Sans KR', sans-serif;}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1f4f6;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1f4f6;
}

body {
    margin: 0;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: block;
    /*margin: 8px;*/
}

a {
    cursor: pointer;
    background-color: transparent;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

div {
    display: block;
}

a:active, a:hover {
    outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

button, input[type=button], input[type=file]::-webkit-file-upload-button, input[type=reset], input[type=submit] {
    border-radius: 0;
}

a, body, button, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, html, label, li, p, span, table, td, tr, ul {
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

/* 작성한 온라인 상담글 css */
.My-Review-Wrapper {
    width: 100%;
    background-color: #fff;
}

.My-Review-My-Favorites {
    padding-top: 0;
}

.My-Review-List {
    margin: 0 auto;
    width: 1032px;
}

.My-Review-List-Header {
    border: 1px solid #e6e6e6;
    border-bottom: none;
    padding: 20px 40px 16px;
    background-color: #fff;
    display: block;
}

.My-Review-List-Header-Info {
    display: flex;
}

.My-Review-List-Header-Info-Icon-Wrapper {
    align-items: center;
    color: #c2c2c2;
    display: flex;
    font-size: 16px;
}

.My-Review-List-Header-Info-Icon {
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: LawCompanyGlyphs;
    font-size: inherit;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: inherit;
    transform: translate(0);
    vertical-align: top;
}

.My-Review-List-Header-Info-Icon svg {
    margin-bottom: 2px;
}

.My-Review-List-Header-Info-Description {
    color: #999;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.82;
    margin-left: 3px;
}

.My-Review-List-Header-Count-Wrapper {
    margin-top: 20px;
}

.My-Review-List-Header-Count-Description {
    color: #7a8287;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 13px;
    line-height: 100%;
    font-weight: 400;
}

.My-Review-List-Header-Count {
    font-weight: 700;
    color: #7a8287;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 13px;
    line-height: 100%;
}

.My-Review-List-Contents {
    border: 1px solid #e6e6e6;
    display: table;
    position: relative;
    width: 100%;
}

.My-Review-List-Feed {
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid #e6e6e6;
    max-width: 638px;
    position: relative;
    width: 638px;
}

.My-Review-List-Empty-Wrapper {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    padding: 110px 0;
    text-align: center;
}

.My-Review-List-Cards-Wrapper {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0;
}

.My-Review-List-Card-Wrapper {
    padding: 48px 40px 53px;
    position: relative;
    background: none #fff;
}

.My-Review-List-Card-Keyword {
    margin-bottom: 10px;
    color: #777;
    font-size: 14px;
}

.My-Review-List-Card-Keyword-Text {
    color: #757575;
    font-size: 14px;
    line-height: 20px;
}

.My-Review-List-Card-Keyword-Text:after {
    content: "";
    color: #d4cfcf;
    padding-left: 3px;
}

.My-Review-List-Card-Title {
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 32px;
    max-height: 64px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #333;
    display: -webkit-box;
    overflow: hidden;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 500;
}

.My-Review-List-Card-Answer {
    margin-top: -1px;
    color: #c50000;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 6px;
}

.My-Review-List-Card-Answer-Lawyer {
    color: #555;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 400;
    padding-left: 10px;
}

.My-Review-List-Card-Answer-Detail {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    color: #555;
    display: -webkit-box;
    font-size: 15px;
    line-height: 1.6em;
    max-height: 3.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.My-Review-List-Card-Other-Answers {
    margin-top: 7px;
}

.My-Review-List-Card-Other-Photo-Wrapper {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.My-Review-List-Card-Other-Photo {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 26px;
    margin-left: 0;
    width: 26px;
}

.My-Review-List-Card-Other-Description {
    color: #777;
    display: inline-block;
    font-size: 14px;
    line-height: 23px;
    position: relative;
    vertical-align: middle;
}

.My-Review-List-Card-Other-Inner {
    left: 0;
    line-height: 32px;
    min-width: 160px;
}

.My-Review-List-Card-Info {
    color: #999;
    font-size: 12px;
    margin-top: 29px;
}

.My-Review-List-Card-Viewcount {
    margin-right: 10px;
}

.My-Review-List-Card-Type {
    margin-left: 10px;
}

.My-Review-List-Card-Viewcount-Number {
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 700;
    margin-left: 2px;
}

.My-Review-List-Card-Bookmark-Count {
    padding-left: 20px;
    position: relative;
}

.My-Review-List-Card-Bookmark-Icon-Wrapper {
    font-size: 16px;
    color: #999;
    left: 0;
    position: absolute;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: LawCompanyGlyphs;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: inherit;
    transform: translate(0);
    vertical-align: top;
}

.My-Review-List-Card-Bookmark-Icon-Wrapper svg {
    margin-bottom: 2px;
}

.My-Review-List-Card-Bookmark-Icon-Wrapper:hover {
    color: #c50000;
}

.My-Review-List-Card-Date {
    float: right;
}

.My-Review-List-Empty {
    text-align: center;
}

.My-Review-List-Empty-Title {
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 700;
    color: #c9c9c9;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 3px;
}

.My-Review-List-Compose-Section {
    border: 0 !important;
    padding: 48px 0!important;
    background: none #fff;
    clear: both;
    text-align: center;
}

.My-Review-List-Compose-Section-Title {
    font-size: 20px;
    margin-bottom: 19px;
    color: #333;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 400;
}

.My-Review-List-Phone-Advice {
    display: inline-block;
    vertical-align: middle;
}

.My-Review-List-Phone-Advice-Desc {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    color: #777;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 400;
}

.My-Review-List-To-Advice {
    border-bottom: 2px solid transparent;
    font-size: 15px;
    -webkit-transition: border-bottom ease-out;
    -webkit-transition-delay: .1s;
    -moz-transition: border-bottom .1s ease-out;
    -o-transition: border-bottom .1s ease-out;
    transition: border-bottom .1s ease-out;
    color: #c50000;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.My-Review-List-To-Advice-Icon-Wrapper {
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: LawCompanyGlyphs;
    font-size: inherit;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: inherit;
    transform: translate(0);
    vertical-align: middle;
    margin-top: -2px;
}

.My-Review-List-To-Advice-Icon-Wrapper svg {
    margin-top: 4px;
}

.Slash {
    height: 71px;
    margin-right: 22px;
    width: 71px;
    background: linear-gradient(to right bottom,#fff,0,#fff 50%,#e9e6e4 calc(50% - 1px),#e9e6e4 calc(50% + 1px),#fff calc(50% + 1px),#fff);
    display: inline-block;
    vertical-align: middle;
}

.My-Review-List-Feed > * {
    border-bottom: 1px solid #e6e6e6;
}

.My-Review-List-Question-Wrapper {
    margin-bottom: 0;
}

.My-Review-List-Question-Wrapper > a {
    display: block;
    text-decoration: none;
}

.My-Review-List-Question {
    padding: 48px 40px 53px;
    position: relative;
    background: none #fff;
}

.My-Review-List-Question-Keywords {
    margin-bottom: 14px;
    position: relative;
    color: #777;
    font-size: 14px;
}

.My-Review-List-Question-Keyword {
    cursor: pointer;
    font-size: 14px;
    line-height: 22px;
    color: #757575;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 400;
}

.My-Review-List-Question-Title {
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 32px;
    max-height: 64px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #333;
    display: -webkit-box;
    overflow: hidden;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 700;
}

.My-Review-List-Question-Viewcount {
    margin-bottom: 16px;
    color: #a3a3a3;
    font-size: 13px;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 400;
}

.My-Review-List-Question-Body {
    max-height: 40px;
    line-height: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #333;
    display: -webkit-box;
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 15px;
}

.My-Review-List-Question-Inner {
    border-left: 1px solid #f1eeec;
    padding: 0 10px;
}

.My-Review-List-Question-Answer-Author {
    font-size: 15px;
    line-height: 23px;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 700;
    color: #222;
    display: block;
    margin-bottom: 8px;
    position: relative;
}

.My-Review-List-Question-Answer-Body {
    color: #323131;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 400;
    line-height: 23px;
    max-height: 46px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font-size: 14px;
    margin-bottom: 20px;
    overflow: hidden;
}

.My-Review-List-Question-Answer-Others-Message {
    color: #999;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
}

.My-Review-List-Question-Bottom {
    margin-top: 32px;
}

.My-Review-List-Question-Date {
    color: #a9a7a6;
    display: block;
    font-size: 14px;
    margin-bottom: 30px;
}

.My-Review-List-Contents-Trigger-Load {
    border: none !important;
}

.My-Review-List-Aside {
    display: table-cell;
    vertical-align: top;
    background-color: #fff;
    max-width: 300px;
    width: 300px;
}

.My-Review-List-Aside > * {
    border-bottom: 1px solid #e6e6e6;
}

.My-Review-Write-Banner {
    -webkit-font-smoothing: antialiased;
    position: relative;
    text-align: center;
    height: 249px;
    padding-top: 52px;
    width: 100%;
}

.My-Review-Write-Icon {
    height: 56px;
    width: 56px;
    background-color: #c50000;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

.My-Review-Write-Icon:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.My-Review-Write-Icon > svg {
    font-size: 36px;
    line-height: 28px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    font-family: LawCompanyGlyphs;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    transform: translate(0);
    text-align: center;
    margin-left: -4.5px;
}

.My-Review-Write-Description {
    color: #555;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
}

.Link-To-Write {
    color: #c50000;
    display: inline-block;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 700;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-top: 16px;
}

.My-Review-Right-Arrow-Icon {
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: LawCompanyGlyphs;
    font-size: inherit;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: inherit;
    transform: translate(0);
    vertical-align: middle;
    margin-top: 2.5px;
    margin-left: -2px;
}

.My-Review-List-Aside > div:last-child {
    border-bottom: none;
}

.My-Review-List-Aside-Content-Wrapper {
    padding: 10px;
    background-color: white;
}

.My-Review-List-Aside-Content {
    background-color: #fff;
    display: inline-block;
    height: 66px;
    padding: 38px;
    width: 100%;
    min-height: 350px;
}

.My-Review-List-Aside-Content-Tip {
    background-color: #fff;
    margin-top: -66px;
    position: relative;
    width: 100%;
}

.My-Review-List-Aside-Content-Heading {
    color: #222;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 45px;
}

.My-Review-List-Aside-Lawguides {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.My-Review-Lawguide-Each-Link {
    color: black;
    display: inline-block;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    padding: 0;
    text-decoration: none;
    margin-top: 12px;
    float: left;
}

.My-Review-Lawguide-Each-Link > * {
    text-align: left;
}

.My-Review-Lawguide-Title {
    font-size: 16px;
    font-weight: 700;
}

.My-Review-Lawguide-Lawyername {
    margin-top: 15px;
    margin-bottom: 20px;
}