<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>분야로 검색하기 : 카운슬로우 (CounseLaw)</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="/css/defaultSetting.css">
    <link rel="stylesheet" href="/css/searchByCategories/searchByCategories.css">
    <th:block th:replace="~{fix/header :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body>
    <div class="search-controller main-content-container">
        <header th:replace="~{fix/header :: my-header}"></header>
        <div class="search-content" style="visibility: visible; margin-top: 124px;">
            <div class="lawyer-find">
                <div class="lawyer-find__toggle-wrap">
                    <div class="wide-toggle-fixed-on-mobile">
                        <wide-toggle toggle-options="toggleOptions" on-toggle="onToggle($toggledTo)"
                                     initial-selected-index="initialToggleIndex">
                            <div class="wide-toggle">
                                <div class="wide-toggle__option-hovering" style="transform: translateX(0px);"></div>
                                <div class="wide-toggle__option wide-toggle__option--active">
                                    분야로 찾기
                                </div>
                                <div class="wide-toggle__option" onclick="location.href='/lawyer-search/search-by-locations'">
                                    지역으로 찾기
                                </div>
                            </div>
                        </wide-toggle>
                    </div>
                </div>
                <div>
                    <div class="category-search-container">
                        <div class="group-category-list-container">
                            <div class="group-category-list-container__fixed-blank lt-mobile ng-hide"></div>
                            <div class="group-category-list-wrap">
                                <group-category-list>
                                    <div class="group-category-list" style="max-height: 583px; overflow-y: scroll;">
                                        <div class="group-category-list__inner">
                                            <a th:each="category: ${allCategories}" th:text="${category.fieldCategoryName}"
                                               class="group-category-list__item" id="group_list_0"></a>
                                        </div>
                                    </div>
                                </group-category-list>
                            </div>
                        </div>
                        <div class="category-search-list-container">
                            <div class="find-group-categories-list-container">
                                <div th:each="categoryMap: ${fieldMap}" class="find-group-category" id="group_0">
                                    <div class="find-group-category__header">
                                        <div th:text="${categoryMap.key.fieldCategoryName}" class="find-group-category__title"></div>
                                    </div>
                                    <div class="find-group-category__body">
                                        <div th:each="field: ${categoryMap.value}" class="find-category-wrap">
                                            <a th:href="'/lawyer-search/lawyer-list-by-categories?fieldId=' + ${field.fieldId}"
                                                    class="find-category bottom-padding-none">
                                                <div th:text="${field.fieldTitle}" class="find-category__title"></div>
                                                <div th:text="${field.fieldDescription}" class="find-category__description"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{fix/footer :: my-footer}"></footer>
    </div>
</body>
<script src="/js/searchByCategories/searchByCategories.js"></script>
</html>