<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카운슬로우 - 내 손 안의 법률상담사</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="../defaultSetting.css">
    <link rel="stylesheet" href="searchByCategories.css">
</head>
<body>
<div class="search-controller main-content-container">
<div ui-view="" ng-style="{ 'visibility': inputFocused &amp;&amp; isMobile ? 'hidden' : 'visible' }"
     class="search-content" style="visibility: visible;">
    <div class="lawyer-find">
        <div class="lawyer-find__toggle-wrap">
            <div class="wide-toggle-fixed-on-mobile">
                <wide-toggle toggle-options="toggleOptions" on-toggle="onToggle($toggledTo)"
                             initial-selected-index="initialToggleIndex">
                    <div class="wide-toggle">
                        <div ng-style="{ transform: 'translateX(' + (stepWidth * selectedIndex) + 'px)' }"
                             class="wide-toggle__option-hovering" style="transform: translateX(0px);"></div><!---->
                        <div ng-class="{ 'wide-toggle__option--active': selectedIndex === $index }"
                             ng-repeat="option in toggleOptions track by $index"
                             ng-click="onToggleInner(option, $index)" ng-mouseenter="onMouseEnter($index)"
                             ng-mouseleave="onMouseLeave($index)"
                             class="wide-toggle__option wide-toggle__option--active">분야로 찾기
                        </div><!---->
                        <div ng-class="{ 'wide-toggle__option--active': selectedIndex === $index }"
                             ng-repeat="option in toggleOptions track by $index"
                             ng-click="onToggleInner(option, $index)" ng-mouseenter="onMouseEnter($index)"
                             ng-mouseleave="onMouseLeave($index)" class="wide-toggle__option">지역으로 찾기
                        </div><!----></div>
                </wide-toggle>
            </div>
        </div><!---->
        <div ui-view="">
            <div class="category-search-container">
                <div class="group-category-list-container">
                    <div ng-show="visibleTopNav"
                         class="group-category-list-container__fixed-blank lt-mobile ng-hide"></div>
                    <div ng-class="{ 'fixed': visibleTopNav }" class="group-category-list-wrap">
                        <group-category-list list-items="groupCategories" on-click-item="selectGroup($clickedItem)"
                                             active-item-index="currentGroup">
                            <div class="group-category-list" style="max-height: 583px; overflow-y: scroll;">
                                <div class="group-category-list__inner"><!----><a ng-repeat="item in listItems"
                                                                                  ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                                                                  ng-click="onClickItemInner($index)"
                                                                                  ng-attr-id="{{'group_list_' + $index }}"
                                                                                  analytics-if="item.gaEvent"
                                                                                  analytics-on="click"
                                                                                  analytics-category=""
                                                                                  analytics-event="click_category"
                                                                                  analytics-label="성범죄"
                                                                                  class="group-category-list__item active"
                                                                                  id="group_list_0">성범죄</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="재산범죄"
                                        class="group-category-list__item" id="group_list_1">재산범죄</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="교통사고/범죄"
                                        class="group-category-list__item" id="group_list_2">교통사고/범죄</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="형사절차"
                                        class="group-category-list__item" id="group_list_3">형사절차</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="폭행/협박"
                                        class="group-category-list__item" id="group_list_4">폭행/협박</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="명예훼손/모욕"
                                        class="group-category-list__item" id="group_list_5">명예훼손/모욕</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="기타 형사범죄"
                                        class="group-category-list__item" id="group_list_6">기타 형사범죄</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="부동산/임대차"
                                        class="group-category-list__item" id="group_list_7">부동산/임대차</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="금전/계약 문제"
                                        class="group-category-list__item" id="group_list_8">금전/계약 문제</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="민사절차"
                                        class="group-category-list__item" id="group_list_9">민사절차</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="기타 민사문제"
                                        class="group-category-list__item" id="group_list_10">기타 민사문제</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="가족"
                                        class="group-category-list__item" id="group_list_11">가족</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="회사"
                                        class="group-category-list__item" id="group_list_12">회사</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="의료/세금/행정"
                                        class="group-category-list__item" id="group_list_13">의료/세금/행정</a><!----><a
                                        ng-repeat="item in listItems"
                                        ng-class="{'active': 'group_' + $index === 'group_' + activeItemIndex }"
                                        ng-click="onClickItemInner($index)" ng-attr-id="{{'group_list_' + $index }}"
                                        analytics-if="item.gaEvent" analytics-on="click" analytics-category=""
                                        analytics-event="click_category" analytics-label="IT/지식재산/금융"
                                        class="group-category-list__item" id="group_list_14">IT/지식재산/금융</a><!----></div>
                            </div>
                        </group-category-list>
                    </div>
                </div>
                <div class="category-search-list-container"><!---->
                    <div class="find-group-categories-list-container"><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_0">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">성범죄</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="성매매" class="find-category bottom-padding-none">
                                    <div class="find-category__title">성매매</div>
                                    <div class="find-category__description">조건만남, 랜덤채팅, 유흥업소, 유사성매매 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="성폭력/강제추행 등" class="find-category bottom-padding-none">
                                    <div class="find-category__title">성폭력/강제추행 등
                                    </div>
                                    <div class="find-category__description">성폭행, 준강간, 데이트폭력, 성희롱, 성추행 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="미성년 대상 성범죄" class="find-category bottom-padding-none">
                                    <div class="find-category__title">미성년 대상 성범죄
                                    </div>
                                    <div class="find-category__description">아동청소년보호법, 미성년성매매 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="디지털 성범죄"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">디지털 성범죄
                                    </div>
                                    <div class="find-category__description">통신매체이용음란죄, 웹하드, 몰카, 음란물유포 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_1">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">재산범죄</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="횡령/배임" class="find-category bottom-padding-none">
                                    <div class="find-category__title">횡령/배임</div>
                                    <div class="find-category__description">업무상 횡령/배임, 신용카드 범죄, 점유이탈물횡령 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="사기/공갈" class="find-category bottom-padding-none">
                                    <div class="find-category__title">사기/공갈</div>
                                    <div class="find-category__description">보이스피싱, 명의 대여/도용, 유사수신, 중고사기 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="기타 재산범죄"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">기타 재산범죄
                                    </div>
                                    <div class="find-category__description">절도, 주거침입, 재물손괴, 장물 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_2">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">교통사고/범죄</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="교통사고/도주" class="find-category bottom-padding-none">
                                    <div class="find-category__title">교통사고/도주
                                    </div>
                                    <div class="find-category__description">교통사고 합의, 손해사정, 뺑소니, 보복운전 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="음주/무면허"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">음주/무면허</div>
                                    <div class="find-category__description">음주운전, 음주사고, 무면허운전 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_3">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">형사절차</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="고소/소송절차" class="find-category bottom-padding-none">
                                    <div class="find-category__title">고소/소송절차
                                    </div>
                                    <div class="find-category__description">합의, 무혐의, 공소시효, 고소대리, 약식명령, 즉결심판 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="수사/체포/구속"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">수사/체포/구속
                                    </div>
                                    <div class="find-category__description">체포/구속, 현행범, 영장, 압수수색, 포렌식 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_4">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">폭행/협박</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="폭행/협박/상해 일반"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">폭행/협박/상해 일반
                                    </div>
                                    <div class="find-category__description">폭행, 협박, 상해, 감금, 유기, 학대, 과실치사상, 공무집행방해 등
                                    </div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_5">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">명예훼손/모욕</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="명예훼손/모욕 일반" class="find-category bottom-padding-none">
                                    <div class="find-category__title">명예훼손/모욕 일반
                                    </div>
                                    <div class="find-category__description">명예훼손죄, 모욕죄, 허위사실유포, 언어폭력 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="사이버 명예훼손/모욕"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">사이버 명예훼손/모욕
                                    </div>
                                    <div class="find-category__description">정보통신망법, 악성댓글 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_6">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">기타 형사범죄</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="마약/도박" class="find-category bottom-padding-none">
                                    <div class="find-category__title">마약/도박</div>
                                    <div class="find-category__description">향정신성의약품, 대마, 사설토토, 사행성게임, 원정도박 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="소년범죄/학교폭력" class="find-category bottom-padding-none">
                                    <div class="find-category__title">소년범죄/학교폭력
                                    </div>
                                    <div class="find-category__description">아동학대, 학교폭력, 왕따, 소년사건 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="형사일반/기타범죄"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">형사일반/기타범죄
                                    </div>
                                    <div class="find-category__description">위증, 무고, 뇌물, 문서위조, 스토킹, 실화/방화 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_7">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">부동산/임대차</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="건축/부동산 일반" class="find-category bottom-padding-none">
                                    <div class="find-category__title">건축/부동산 일반
                                    </div>
                                    <div class="find-category__description">건축법, 하자담보책임, 누수, 층간소음, 공사대금 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="재개발/재건축" class="find-category bottom-padding-none">
                                    <div class="find-category__title">재개발/재건축
                                    </div>
                                    <div class="find-category__description">재개발, 재건축, 지역주택조합, 수용, 보상 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="매매/소유권 등" class="find-category bottom-padding-none">
                                    <div class="find-category__title">매매/소유권 등
                                    </div>
                                    <div class="find-category__description">부동산매매, 유치권, 지상권, 경매, 명도소송, 명의신탁 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="임대차"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">임대차</div>
                                    <div class="find-category__description">주택/상가임대차, 계약금, 권리금, 보증금, 전세계약 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_8">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">금전/계약 문제</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="손해배상" class="find-category bottom-padding-none">
                                    <div class="find-category__title">손해배상</div>
                                    <div class="find-category__description">손해배상청구, 정신적피해보상, 위자료, 불법행위, 과실 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="대여금/채권추심" class="find-category bottom-padding-none">
                                    <div class="find-category__title">대여금/채권추심
                                    </div>
                                    <div class="find-category__description">대여금반환청구, 채권압류 및 추심, 연대보증 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="계약일반/매매"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">계약일반/매매
                                    </div>
                                    <div class="find-category__description">계약해지, 계약서검토, 계약금, 중도금, 이중계약, 중고차매매 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_9">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">민사절차</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="소송/집행절차" class="find-category bottom-padding-none">
                                    <div class="find-category__title">소송/집행절차
                                    </div>
                                    <div class="find-category__description">지급명령, 등기/등록, 조정/화해/중재, 재심, 공탁 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="가압류/가처분" class="find-category bottom-padding-none">
                                    <div class="find-category__title">가압류/가처분
                                    </div>
                                    <div class="find-category__description">가처분/가압류 절차, 가등기, 이의신청, 취소 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="회생/파산"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">회생/파산</div>
                                    <div class="find-category__description">개인회생, 법인회생, 파산, 도산, 면책 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_10">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">기타 민사문제</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="공증/내용증명/조합/국제문제 등"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">공증/내용증명/조합/국제문제 등<i
                                            class="lc lc-magnifying_glass"></i></div>
                                    <div class="find-category__description">증여, 도급/용역, 조합/사단, 부당이득, 국제, 종교, 공증 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_11">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">가족</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="이혼" class="find-category bottom-padding-none">
                                    <div class="find-category__title">이혼</div>
                                    <div class="find-category__description">합의이혼, 재판이혼, 재산분할, 양육권, 상간, 위자료, 외도 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="상속" class="find-category bottom-padding-none">
                                    <div class="find-category__title">상속</div>
                                    <div class="find-category__description">상속재산분할, 증여세, 유류분, 한정승인, 상속포기 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="가사 일반"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">가사 일반</div>
                                    <div class="find-category__description">친족, 성년후견, 부양료, 친자확인, 친권, 가사소송 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_12">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">회사</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="기업법무" class="find-category bottom-padding-none">
                                    <div class="find-category__title">기업법무</div>
                                    <div class="find-category__description">경업금지, 합병, 영업양도, 스타트업, 계약서검토, 부정경쟁방지법 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="노동/인사"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">노동/인사</div>
                                    <div class="find-category__description">노무, 직장 내 괴롭힘, 임금체불, 부당해고, 실업급여, 산업재해보상 등
                                    </div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_13">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">의료/세금/행정</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="세금/행정/헌법" class="find-category bottom-padding-none">
                                    <div class="find-category__title">세금/행정/헌법
                                    </div>
                                    <div class="find-category__description">세금, 과태료, 환경, 인허가, 헌법, 이민/비자, 선거, 언론/방송, 행정소송
                                        등
                                    </div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="의료/식품의약" class="find-category bottom-padding-none">
                                    <div class="find-category__title">의료/식품의약
                                    </div>
                                    <div class="find-category__description">의료사고, 의료소송, 약사법, 식품위생법 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="병역/군형법"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">병역/군형법</div>
                                    <div class="find-category__description">국방/병역, 군형법, 유공자/보훈, 군인징계 등</div>
                                </a></div><!----></div>
                        </div><!---->
                        <div ng-repeat="groupCategory in groupCategories" ng-attr-id="{{ 'group_' + $index }}"
                             class="find-group-category" id="group_14">
                            <div class="find-group-category__header">
                                <div class="find-group-category__title">IT/지식재산/금융</div>
                            </div>
                            <div class="find-group-category__body"><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="소비자/공정거래" class="find-category bottom-padding-none">
                                    <div class="find-category__title">소비자/공정거래
                                    </div>
                                    <div class="find-category__description">소비자피해, 집단소송, 전자상거래, 불공정거래, 약관, 허위/과대광고 등
                                    </div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="IT/개인정보" class="find-category bottom-padding-none">
                                    <div class="find-category__title">IT/개인정보
                                    </div>
                                    <div class="find-category__description">개인정보유출/침해, 감청, 통신비밀보호법, 인공지능, SNS 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="지식재산권/엔터" class="find-category bottom-padding-none">
                                    <div class="find-category__title">지식재산권/엔터
                                    </div>
                                    <div class="find-category__description">상표권, 저작권, 특허, 방송, 음악, 영화 등</div>
                                </a></div><!---->
                                <div ng-repeat="category in groupCategory.categories" class="find-category-wrap"><a
                                        ng-class="{'bottom-padding-none': $index > (groupCategory.categories.length - 5), 'last-category-name': $last}"
                                        ng-click="searchCategory(category.category.name)" analytics-on="click"
                                        analytics-category="category-search-page" analytics-event="click_category"
                                        analytics-label="금융/보험"
                                        class="find-category bottom-padding-none last-category-name">
                                    <div class="find-category__title">금융/보험</div>
                                    <div class="find-category__description">가상화폐, 투자, 마진거래, 보험 등</div>
                                </a></div><!----></div>
                        </div><!----></div><!---->
                   <!----></div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="searchByCategories.js"></script>
</html>