<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>카운슬로우 변호사스퀘어</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="/css/introductions/general.css">
</head>
<body>
<div class="root pc">
    <div>
        <div class="Intro-Page-Wrapper">
            <div>
                <div class="Left-Wrapper">
                    <div class="Left-Sidebar">
                        <a href="/member/lawyer-introduction" class="Left-Sidebar-Title">
                            <img src="/image/introductions/logo_black.png" alt="검은색 로고" class="Left-Sidebar-Title-Logo">
                            <p class="Left-Sidebar-Title-Name">변호사스퀘어</p>
                        </a>
                        <a href="/member/lawyer-join" style="text-decoration: none;">
                            <button class="Left-Sidebar-Signup">
                                <div class="Signup-BackImg"></div>
                                <span class="Signup-Text">회원가입</span>
                                <div class="Signup-Plus">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 5.5h-1v6h-6v1h6v6h1v-6h6v-1h-6v-6z" fill="#fff"></path>
                                    </svg>
                                </div>
                            </button>
                        </a>
                        <div class="Left-Sidebar-Menus">
                            <a href="/member/lawyer-introduction" class="Left-Sidebar-Menu-Each">
                                카운슬로우 소개
                            </a>
                            <a href="/member/lawyer-solution" class="Left-Sidebar-Menu-Each">
                                솔루션 소개
                            </a>
                            <a href="/member/lawyer-advertise" class="Left-Sidebar-Menu-Each Active-Menu">
                                카운슬로우AD 소개
                            </a>
                        </div>
                        <a href="/" class="Left-Sidebar-Link-Main">
                            카운슬로우 홈페이지 바로가기
                        </a>
                    </div>
                </div>
            </div>
            <div class="Intro-Body-Container">
                <div class="Solution-Wrapper">
                    <div>
                        <div>
                            <div class="Solution-Header">
                                <p class="Solution-Header-Title">
                                    더 많은 의뢰인을 만나는
                                    <br>
                                    효율적인 방법
                                    <br>
                                    <span>카운슬로우AD</span>
                                </p>
                                <p class="Solution-Header-Desc">
                                    카운슬로우AD는 변호사님이 원하는 분야의 의뢰인을 타겟팅해 효율적으로 운영가능한 카운슬로우 광고상품입니다.
                                </p>
                            </div>
                            <div class="Advertise-Body">
                                <div class="Advertise-Products">
                                    <div class="Advertise-Product">
                                        <div class="Advertise-Product-Image-Wrap">
                                            <div class="Ad-Product-Image"></div>
                                        </div>
                                        <div class="Advertise-Product-Header">
                                            <p class="Advertise-Product-Title">분야 광고</p>
                                        </div>
                                        <p class="Advertise-Product-Desc">
                                            의뢰인이 분야를 검색하면 검색결과 페이지 상단에 변호사 프로필 카드가 노출됩니다.
                                        </p>
                                    </div>
                                    <div class="Advertise-Product">
                                        <div class="Advertise-Product-Image-Wrap">
                                            <div class="Ad-Product-Image"></div>
                                        </div>
                                        <div class="Advertise-Product-Header">
                                            <p class="Advertise-Product-Title">지역 광고</p>
                                        </div>
                                        <p class="Advertise-Product-Desc">
                                            지역으로찾기 페이지에서 변호사님의 활동 지역을 기반으로 프로필 카드가 노출됩니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Solution-Advantage-Wrapper">
                        <div>
                            <div>
                                <p class="Advantage-Subtitle">Advantage</p>
                                <p class="Advantage-Title">어떤 점이 좋은가요?</p>
                            </div>
                            <div class="Advantage-Body">
                                <div>
                                    <div class="Advantage-Item">
                                        <p class="Advantage-Item-Title">
                                            원하는 타겟팅으로 높은 만족도
                                        </p>
                                        <p class="Advantage-Item-Desc">
                                            변호사님의 주력 분야와 활동하시는 지역에만 선택적으로 광고할 수 있습니다.
                                        </p>
                                    </div>
                                    <div class="Advantage-Item">
                                        <p class="Advantage-Item-Title">
                                            광고가 끝나도 오래 지속되는 효과
                                        </p>
                                        <p class="Advantage-Item-Desc">
                                            광고를 통해 이루어진 상담활동이 콘텐츠로 쌓이고, 카운슬로우 뿐 아니라 외부 검색포탈에도 노출이 되어 지속적인 광고 효과를 낼 수 있습니다.
                                        </p>
                                    </div>
                                    <div class="Advantage-Item">
                                        <p class="Advantage-Item-Title">
                                            비즈니스 매니저의 1:1 밀착관리
                                        </p>
                                        <p class="Advantage-Item-Desc">
                                            카운슬로우 서비스 이용과 활동, 광고성과를 극대화할 수 있도록 카운슬로우 비즈니스 매니저가 1:1 밀착 관리를 해 드립니다.
                                        </p>
                                    </div>
                                    <div class="Advantage-Item">
                                        <p class="Advantage-Item-Title">
                                            멋지고, 매력있고 퀄리티 높은 광고
                                        </p>
                                        <p class="Advantage-Item-Desc">
                                            카운슬로우는 광고를 만들 때 변호사님의 전문성이 잘 느껴질 수 있도록, 의뢰인이 변호사님께 좋은 느낌을 갖고 연락하도록 고민하고 디자인합니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Footer-Container">
                    <footer class="Intro-Footer">
<!--                        <div class="Footer-Links">-->
<!--                            <a href="" class="Footer-Link">회사소개</a>-->
<!--                            <a href="" class="Footer-Link">자주묻는질문</a>-->
<!--                        </div>-->
                        <p class="Footer-Description">
                            (주)카운슬로우 서울시 강남구 역삼동 KIA 별관 13층 J클래스 사업자번호: 000-00-00000 통신판매번호 : 2023-서울서초-0000 대표자명 : 이도은 대표번호 : 02-0000-0000
                        </p>
                        <div class="Footer-Title">(C) CounseLaw Co., Ltd. ALL RIGHTS RESERVED.</div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="./general.js"></script>
</html>