<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>카운슬로우 변호사스퀘어</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="./general.css">
</head>
<body>
    <div class="root pc">
        <div>
            <div class="Intro-Page-Wrapper">
                <div>
                    <div class="Left-Wrapper">
                        <div class="Left-Sidebar">
                            <a href="" class="Left-Sidebar-Title">
                                <img src="./logoImage/logo_black.png" alt="검은색 로고" class="Left-Sidebar-Title-Logo">
                                <p class="Left-Sidebar-Title-Name">변호사스퀘어</p>
                            </a>
                            <button class="Left-Sidebar-Signup">
                                <div class="Signup-BackImg"></div>
                                <span class="Signup-Text">회원가입</span>
                                <div class="Signup-Plus">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 5.5h-1v6h-6v1h6v6h1v-6h6v-1h-6v-6z" fill="#fff"></path></svg>
                                </div>
                            </button>
                            <div class="Left-Sidebar-Menus">
                                <a href="" class="Left-Sidebar-Menu-Each Active-Menu">
                                    카운슬로우 소개
                                </a>
                                <a href="" class="Left-Sidebar-Menu-Each">
                                    솔루션 소개
                                </a>
                                <a href="" class="Left-Sidebar-Menu-Each">
                                    카운슬로우AD 소개
                                </a>
                            </div>
                            <a href="" class="Left-Sidebar-Link-Main">
                                카운슬로우 홈페이지 바로가기
                            </a>
                        </div>
                    </div>
                </div>
                <div class="Intro-Body-Container">
                    <div class="Intro-Body">
                        <div class="Intro-Top-Banner">
                            <div class="Top-Banner">
                                <div class="Top-Banner-Background"></div>
                                <div class="Top-Banner-Contents">
                                    <div class="Top-Banner-Title">
                                        <p class="Top-Banner-Title-Text">
                                            대한민국
                                            <br>
                                            변호사라면,
                                            <span class="Top-Banner-Title-Text-Bold">
                                                &nbsp;카운슬로우
                                            </span>
                                        </p>
                                    </div>
                                    <p class="Top-Banner-Description">
                                        요즘 의뢰인의 70% 이상은 인터넷을 통해 변호사를 탐색합니다.
                                        <br>
                                        국내 1위 법률서비스 플랫폼 카운슬로우, 변호사라면 이제 선택이 아닌 필수입니다.
                                    </p>
                                    <div class="Top-Banner-Button-Wrapper">
                                        <button class="Top-Banner-Button">
                                            무료로 변호사 회원가입하기
                                            <svg width="34" height="34" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 5.5h-1v6h-6v1h6v6h1v-6h6v-1h-6v-6z" fill="#fff"></path></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Intro-Main-Body">
                            <div class="Intro-Main-Value-Wrapper">
                                <div>
                                    <p class="Intro-Main-Value-Subtitle">What we do</p>
                                    <h3 class="Intro-Main-Value-Title">카운슬로우의 가치</h3>
                                    <div class="Intro-Main-Whatwedo-Contents">
                                        <div class="Whatwedo-Content">
                                            <p class="Whatwedo-Number">01</p>
                                            <p class="Whatwedo-Title">
                                                변호사님과 의뢰인을
                                                <br>
                                                연결합니다.
                                            </p>
                                            <span class="Whatwedo-Description">
                                                변호사에 대한 법률소비자의 접근성을 높여,
                                                <br>
                                                법률시장 전체규모를 키웁니다.
                                            </span>
                                        </div>
                                        <div class="Whatwedo-Content">
                                            <p class="Whatwedo-Number">02</p>
                                            <p class="Whatwedo-Title">
                                                업무 효율을
                                                <br>
                                                향상시켜 드립니다.
                                            </p>
                                            <span class="Whatwedo-Description">
                                                변호사님의 업무에 도움이 되는 다양한
                                                <br>
                                                솔루션을 만듭니다.
                                            </span>
                                        </div>
                                        <div class="Whatwedo-Content">
                                            <p class="Whatwedo-Number">03</p>
                                            <p class="Whatwedo-Title">
                                                변호사님의 경쟁력을
                                                <br>
                                                높여드립니다.
                                            </p>
                                            <span class="Whatwedo-Description">
                                                변호사님이 원하는 분야/지역에 맞는 의뢰인에게만
                                                효과적으로 광고할 수 있도록 돕습니다.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Intro-Main-faq-Wrapper">
                                <div>
                                    <p class="faq-Subtitle">Q&A</p>
                                    <h3 class="faq-Title">자주하는 질문</h3>
                                    <div class="faq-contents">
                                        <div class="faq-content">
                                            <button class="faq-question-wrap">
                                                <p class="faq-question-title">
                                                    카운슬로우는
                                                    <span class="faq-question-title-bold">가입비가 </span>
                                                    있나요?
                                                </p>
                                                <div class="faq-question-arrow">
                                                    <svg width="24px" height="10px" viewBox="0 0 12 7" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#757575"><title>icon/01sign/drop_big</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="홈/로톡소개-모바일" transform="translate(-337.000000, -2146.000000)" fill="#757575"><g id="Group-20" transform="translate(20.000000, 2061.000000)"><g id="Group-14" transform="translate(0.000000, 63.000000)"><g id="Combined-Shape" transform="translate(311.000000, 13.000000)"><path d="M8.94974747,5.79289322 L8.94974747,12.7928932 L15.9497475,12.7928932 L15.9497475,13.7928932 L7.94974747,13.7928932 L7.94974747,5.79289322 L8.94974747,5.79289322 Z" transform="translate(11.949747, 9.792893) rotate(-45.000000) translate(-11.949747, -9.792893) "></path></g></g></g></g></g></svg>
                                                </div>
                                            </button>
                                            <div class="faq-description-wrap">
                                                <br>
                                                <p class="faq-description">
                                                    카운슬로우는 변호사 회원가입부터 변호사 홈페이지 생성, 온라인상담 등 모든 이용 및 활동이&nbsp;
                                                    <span class="faq-description-bold">무료</span>
                                                    입니다.
                                                    <br>
                                                    활동할수록 변호사님이
                                                    <span class="faq-description-bold">더 많이 홍보</span>
                                                    되니 지금 시작해보세요.
                                                </p>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="faq-description-bottombar false"></div>
                                        <div class="faq-content">
                                            <button class="faq-question-wrap">
                                                <p class="faq-question-title">
                                                    변호사 회원가입 자격이 있나요?
                                                </p>
                                                <div class="faq-question-arrow">
                                                    <svg width="24px" height="10px" viewBox="0 0 12 7" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#757575"><title>icon/01sign/drop_big</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="홈/로톡소개-모바일" transform="translate(-337.000000, -2146.000000)" fill="#757575"><g id="Group-20" transform="translate(20.000000, 2061.000000)"><g id="Group-14" transform="translate(0.000000, 63.000000)"><g id="Combined-Shape" transform="translate(311.000000, 13.000000)"><path d="M8.94974747,5.79289322 L8.94974747,12.7928932 L15.9497475,12.7928932 L15.9497475,13.7928932 L7.94974747,13.7928932 L7.94974747,5.79289322 L8.94974747,5.79289322 Z" transform="translate(11.949747, 9.792893) rotate(-45.000000) translate(-11.949747, -9.792893) "></path></g></g></g></g></g></svg>
                                                </div>
                                            </button>
                                            <div class="faq-description-wrap">
                                                <br>
                                                <p class="faq-description">
                                                    대한민국
                                                    <span class="faq-description-bold">변호사 자격증을 보유한 변호사</span>
                                                    라면 누구나 무료로 가입을 할 수 있습니다.
                                                    <br>
                                                    단, 등록 전이거나 휴업상태인 변호사님이시면 운영팀으로 문의하세요.
                                                </p>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="faq-description-bottombar false"></div>
                                        <div class="faq-content">
                                            <button class="faq-question-wrap">
                                                <p class="faq-question-title">
                                                    카운슬로우에서의 법률상담, 얼마나 의미가 있나요?
                                                </p>
                                                <div class="faq-question-arrow">
                                                    <svg width="24px" height="10px" viewBox="0 0 12 7" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#757575"><title>icon/01sign/drop_big</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="홈/로톡소개-모바일" transform="translate(-337.000000, -2146.000000)" fill="#757575"><g id="Group-20" transform="translate(20.000000, 2061.000000)"><g id="Group-14" transform="translate(0.000000, 63.000000)"><g id="Combined-Shape" transform="translate(311.000000, 13.000000)"><path d="M8.94974747,5.79289322 L8.94974747,12.7928932 L15.9497475,12.7928932 L15.9497475,13.7928932 L7.94974747,13.7928932 L7.94974747,5.79289322 L8.94974747,5.79289322 Z" transform="translate(11.949747, 9.792893) rotate(-45.000000) translate(-11.949747, -9.792893) "></path></g></g></g></g></g></svg>
                                                </div>
                                            </button>
                                            <div class="faq-description-wrap">
                                                <br>
                                                <p class="faq-description">
                                                    의뢰인은 법률상담 선결제 솔루션을 통하여 15분 전화상담/30분 방문상담을 예약합니다.
                                                    <br>
                                                    해당 솔루션은 변호사님이 원하는 시간과 상담료를 설정할 수 있으며, 유료로 상담을 예약하는 의뢰인들은 법률문제가 위중하고 법률상담에 돈을 지불할 의사가 있는 사람들이기 때문에&nbsp;
                                                    <span class="faq-description-bold">수임으로 연결될 가능성이 높습니다.</span>
                                                </p>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="faq-description-bottombar false"></div>
                                        <div class="faq-content">
                                            <button class="faq-question-wrap">
                                                <p class="faq-question-title">
                                                    카운슬로우는
                                                    <span class="faq-question-title-bold">중개 수수료</span>
                                                    를 받나요?
                                                </p>
                                                <div class="faq-question-arrow">
                                                    <svg width="24px" height="10px" viewBox="0 0 12 7" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#757575"><title>icon/01sign/drop_big</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="홈/로톡소개-모바일" transform="translate(-337.000000, -2146.000000)" fill="#757575"><g id="Group-20" transform="translate(20.000000, 2061.000000)"><g id="Group-14" transform="translate(0.000000, 63.000000)"><g id="Combined-Shape" transform="translate(311.000000, 13.000000)"><path d="M8.94974747,5.79289322 L8.94974747,12.7928932 L15.9497475,12.7928932 L15.9497475,13.7928932 L7.94974747,13.7928932 L7.94974747,5.79289322 L8.94974747,5.79289322 Z" transform="translate(11.949747, 9.792893) rotate(-45.000000) translate(-11.949747, -9.792893) "></path></g></g></g></g></g></svg>
                                                </div>
                                            </button>
                                            <div class="faq-description-wrap">
                                                <br>
                                                <p class="faq-description">
                                                    카운슬로우는 변호사법 준수를 최우선시하여,&nbsp;
                                                    <span class="faq-description-bold">중개 수수료를 일절 받지 않습니다.</span>
                                                    <br>
                                                     카운슬로우를 통한 유료상담료와 수임료 전부 변호사님에게 귀속됩니다.
                                                </p>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="faq-description-bottombar false"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="Intro-Main-ads-Wrapper">
                                <div>
                                    <div class="Ads-Header">
                                        <a href="" class="Ads-Title">
                                            <h3 class="Ads-Title-Hashtag">
                                                #카운슬로우AD
                                            </h3>
                                            <p class="Ads-Description">효율적인 변호사 광고, 카운슬로우AD.</p>
                                        </a>
                                    </div>
                                    <div class="Ads-Banner"></div>
                                    <div class="Ads-Contents">
                                        <div class="Ads-Content">
                                            <div class="Ads-Content-Header">
                                                <p class="Ads-Content-Header-Title">분야 광고</p>
                                            </div>
                                            <p class="Ads-Content-Description">
                                                통합검색 결과 페이지에 변호사 프로필 카드가 가장 먼저 노출됩니다.
                                            </p>
                                        </div>
                                        <div class="Ads-Content">
                                            <div class="Ads-Content-Header">
                                                <p class="Ads-Content-Header-Title">지역 광고</p>
                                            </div>
                                            <p class="Ads-Content-Description">
                                                의뢰인이 지역을 선택하면 활동 지역 광고가 노출 됩니다.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Intro-Main-Meet-Wrapper">
                                <p class="Meet-Description">더 많은 의뢰인을 만나는 방법,</p>
                                <p class="Meet-Description">
                                    지금 바로
                                    <span class="Meet-Description-Bold">카운슬로우 변호사</span>
                                    로 등록하세요
                                </p>
                                <button class="Meet-Button">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 5.5h-1v6h-6v1h6v6h1v-6h6v-1h-6v-6z" fill="#fff"></path></svg>
                                    <p class="Meet-Button-Text">회원가입</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="Footer-Container">
                        <footer class="Intro-Footer">
                            <div class="Footer-Links">
                                <a href="" class="Footer-Link">회사소개</a>
                                <a href="" class="Footer-Link">자주묻는질문</a>
                            </div>
                            <p class="Footer-Description">
                                (주)카운슬로우 서울시 강남구 역삼동 KIA 별관 13층 J클래스 사업자번호: 000-00-00000 통신판매번호 : 2023-서울서초-0000 대표자명 : 박지민 대표번호 : 02-0000-0000
                            </p>
                            <div class="Footer-Title">(C) CounseLaw Co., Ltd. ALL RIGHTS RESERVED.</div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./general.js"></script>
</html>