<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>카운슬로우 변호사스퀘어</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="/css/introductions/general.css">
</head>
<body>
<div class="root pc">
    <div>
        <div class="Intro-Page-Wrapper">
            <div>
                <div class="Left-Wrapper">
                    <div class="Left-Sidebar">
                        <a href="/member/lawyer-introduction" class="Left-Sidebar-Title">
                            <img src="/image/introductions/logo_black.png" alt="검은색 로고" class="Left-Sidebar-Title-Logo">
                            <p class="Left-Sidebar-Title-Name">변호사스퀘어</p>
                        </a>
                        <a href="/member/lawyer-join" style="text-decoration: none;">
                            <button class="Left-Sidebar-Signup">
                                <div class="Signup-BackImg"></div>
                                <span class="Signup-Text">회원가입</span>
                                <div class="Signup-Plus">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 5.5h-1v6h-6v1h6v6h1v-6h6v-1h-6v-6z" fill="#fff"></path>
                                    </svg>
                                </div>
                            </button>
                        </a>
                        <div class="Left-Sidebar-Menus">
                            <a href="/member/lawyer-introduction" class="Left-Sidebar-Menu-Each">
                                카운슬로우 소개
                            </a>
                            <a href="/member/lawyer-solution" class="Left-Sidebar-Menu-Each Active-Menu">
                                솔루션 소개
                            </a>
                            <a href="/member/lawyer-advertise" class="Left-Sidebar-Menu-Each">
                                카운슬로우AD 소개
                            </a>
                        </div>
                        <a href="/" class="Left-Sidebar-Link-Main">
                            카운슬로우 홈페이지 바로가기
                        </a>
                    </div>
                </div>
            </div>
            <div class="Intro-Body-Container">
                <div class="Solution-Wrapper">
                    <div>
                        <div>
                            <div class="Solution-Header">
                                <p class="Solution-Header-Title">
                                    법률상담,
                                    <br>
                                    <span>원하는 시간과 금액</span>
                                    으로
                                    <br>
                                    의뢰인에게 제공하세요
                                </p>
                                <p class="Solution-Header-Desc">
                                    법률상담 선결제 솔루션이란 변호사님이 원하시는 상담시간 및 금액으로 예약한 의뢰인과 전화/방문으로 상담을 진행하는 솔루션입니다.
                                </p>
                            </div>
                            <div class="Solution-Body">
                                <div class="Solution-Products">
                                    <div class="Solution-Product">
                                        <img class="Product-Image" src="https://d3bej4zsxhyzak.cloudfront.net/staticImages/solution-phone_desktop.jpg">
                                        <div class="Product-Header">
                                            <p class="Product-Title">15분 전화상담</p>
                                        </div>
                                        <p class="Product-Desc">상담을 결제/예약한 의뢰인에게 변호사님이 직접 전화를 걸어 15분간 상담합니다.</p>
                                    </div>
                                    <div class="Solution-Product">
                                        <img class="Product-Image" src="https://d3bej4zsxhyzak.cloudfront.net/staticImages/solution-video_desktop.jpg">
                                        <div class="Product-Header">
                                            <p class="Product-Title">20분 영상상담</p>
                                        </div>
                                        <p class="Product-Desc">모바일 디바이스 등을 통해 공간의 제약없이 의뢰인에게 깊이있는 상담 서비스 제공이 가능합니다.</p>
                                    </div>
                                    <div class="Solution-Product">
                                        <img class="Product-Image" src="https://d3bej4zsxhyzak.cloudfront.net/staticImages/solution-visit_desktop.jpg">
                                        <div class="Product-Header">
                                            <p class="Product-Title">30분 방문상담</p>
                                        </div>
                                        <p class="Product-Desc">상담을 결제/예약한 의뢰인이 변호사님 사무실로 방문하면 30분간 상담을 진행합니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Solution-Advantage-Wrapper">
                        <div>
                            <div>
                                <p class="Advantage-Subtitle">Advantage</p>
                                <p class="Advantage-Title">어떤 점이 좋은가요?</p>
                            </div>
                            <div class="Advantage-Body">
                                <div>
                                    <div class="Advantage-Item">
                                        <p class="Advantage-Item-Title">
                                            선결제를 통한 의뢰인 노쇼 방지
                                        </p>
                                        <p class="Advantage-Item-Desc">
                                            예약 시간이 임박했을 경우에는 의뢰인의 예약 취소가 불가능해지므로 노쇼로 인한 시간손실을 방지할 수 있습니다.
                                        </p>
                                    </div>
                                    <div class="Advantage-Item">
                                        <p class="Advantage-Item-Title">
                                            자동 예약 관리로 줄어드는 예약 업무
                                        </p>
                                        <p class="Advantage-Item-Desc">
                                            예약 전 과정을 카운슬로우가 실시간으로 안내해드리기 때문에 변호사님 본연의 업무에 더욱 집중할 수 있습니다.
                                        </p>
                                    </div>
                                    <div class="Advantage-Item">
                                        <p class="Advantage-Item-Title">
                                            온라인 결제 대행사 결제 수수료 할인
                                        </p>
                                        <p class="Advantage-Item-Desc">
                                            카운슬로우는 상담에 대한 어떠한 수수료도 받지 않기 때문에, 온라인 결제 대행사의 결제 수수료가 할인됩니다.
                                        </p>
                                    </div>
                                    <div class="Advantage-Item">
                                        <p class="Advantage-Item-Title">
                                            의뢰인의 상담 내용 사전 검토 가능
                                        </p>
                                        <p class="Advantage-Item-Desc">
                                            의뢰인이 상담 내용을 입력하여 전달드리기 때문에 변호사님께서 사전에 사건내용을 검토 하실 수 있습니다.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Footer-Container">
                    <footer class="Intro-Footer">
<!--                        <div class="Footer-Links">-->
<!--                            <a href="" class="Footer-Link">회사소개</a>-->
<!--                            <a href="" class="Footer-Link">자주묻는질문</a>-->
<!--                        </div>-->
                        <p class="Footer-Description">
                            (주)카운슬로우 서울시 강남구 역삼동 KIA 별관 13층 J클래스 사업자번호: 000-00-00000 통신판매번호 : 2023-서울서초-0000 대표자명 : 박지민 대표번호 : 02-0000-0000
                        </p>
                        <div class="Footer-Title">(C) CounseLaw Co., Ltd. ALL RIGHTS RESERVED.</div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/introductions/general.js"></script>
</html>