<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>내 쿠폰함 | 카운슬로우</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="/css/couponbooks/myCoupons.css">
    <link href="https://db.onlinewebfonts.com/c/cfacbd01431cbe68ac87ba5af5c3b444?family=Amplitude-Medium" rel="stylesheet">
    <script th:if="${couponSaveMsg} != null">
        alert("쿠폰이 저장되었습니다.");
    </script>
</head>
<body>
<div class="root pc">
    <div style="height: 100%;">
        <div class="CouponbookPage-Wrapper">
            <div class="Couponbooks">
                <div class="Couponbooks-Contents">
                    <div class="Couponbooks-My">
                        <div class="GiveUCoupons">
                            <div class="Phrase">
                                <div class="Phrase-Row">카운슬로우가 드리는 쿠폰으로</div>
                                <div class="Phrase-Row Orange-Dot">부담없이 상담받으세요</div>
                            </div>
                        </div>
                        <div class="Couponbook-Tab-Nav">
                                <div class="Couponbooks-Tab event">
                                    <a href="/coupon/coupon-event" style="text-decoration: none">
                                        <i class="Couponbooks-Tab-Text">쿠폰 이벤트</i>
                                    </a>
                                </div>
                                <div class="Couponbooks-Tab My Active">
                                    <a href="/member-mypage/my-coupons" style="text-decoration: none">
                                        <i class="Couponbooks-Tab-Text">마이쿠폰</i>
                                    </a>
                                </div>
                        </div>
                        <div class="CouponRegisterWrapper">
                            <button class="CouponRegister-Button">
                                쿠폰 등록하기
                            </button>
                        </div>
                        <div class="CouponCode-Hide-Wrapper">
                            <div class="CouponRegister-Input-Wrapper">
                                <div class="CouponRegister-Input-Title">
                                    쿠폰을 등록해 주세요
                                </div>
                                <div class="CouponRegister-Hide-Button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                                    </svg>
                                </div>
                                <div class="CouponCode-Wrapper">
                                    <input type="text" class="CouponCode" placeholder="쿠폰코드를 입력해주세요.">
                                    <button type="button" disabled class="CouponCode-Button">등록하기</button>
                                </div>
                            </div>
                        </div>
                        <div class="CouponInventory">
                            <div class="CouponInfo">
                                <div class="MyCouponCount">
                                    보유쿠폰
                                    <i class="CouponCountNumber" th:text="${myCoupons.size()}">&nbsp;1</i>
                                    장
                                </div>
                            </div>
                            <div class="CouponContent" th:each="myCouponList:${myCoupons}">
                                <div class="Coupons">
                                    <div class="CouponCard-Wrapper">
                                        <div class="CouponCard-Orange">
                                            <div class="CouponEventCard-LeftIcon-Wrapper">
                                                <img th:if="${myCouponList.getCouponAvailableType().equals('CALL')}" src="/image/coupon/CALL.png" style="width: 50px; height: 50px; margin-top: 50px" class="bi bi-telephone">
                                                <img th:if="${myCouponList.getCouponAvailableType().equals('VIDEO')}" src="/image/coupon/VIDEO.png" style="width: 50px; height: 50px; margin-top: 50px" class="bi bi-telephone">
                                                <img th:if="${myCouponList.getCouponAvailableType().equals('VISIT')}" src="/image/coupon/VISIT.png" style="width: 55px; height: 55px; margin-top: 50px"  class="bi bi-telephone">
                                            </div>
                                            <div class="CouponEventCard-RightArrow">
                                                <div class="CouponEventCard-Arrow">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="CouponEventCard-Content">
                                                <div class="CouponEventCard-ContentInner" >
                                                    <div class="CouponEventCard-Phrase" th:text="${myCouponList.getCouponTitle()}">첫 15분 전화상담</div>
                                                    <div class="CouponEventCard-CouponValue">
                                                        <i class="CouponDiscountRate" th:text="${myCouponList.getCouponDiscountRate()}">10</i>
                                                        <i class="CouponUnit">% 할인</i>
                                                    </div>
                                                    <div class="CouponEventCard-EndDate" th:text="${myCouponList.getCouponExpireDate()}">
                                                        2023년 12월 31일까지 사용가능
                                                    </div>
                                                    <div class="CouponEventCard-DiscountLimit" th:if="${myCouponList.getCouponAvailableType().equals('CALL')}"> 전화 상담시 사용가능합니다.</div>
                                                    <div class="CouponEventCard-DiscountLimit" th:if="${myCouponList.getCouponAvailableType().equals('VIDEO')}"> 영상 상담시 사용가능합니다.</div>
                                                    <div class="CouponEventCard-DiscountLimit" th:if="${myCouponList.getCouponAvailableType().equals('VISIT')}"> 방문 상담시 사용가능합니다.</div>
                                                    <div class="CouponEventCard-DiscountLimit" th:if="${myCouponList.getCouponAvailableType().equals('ALL')}"> 모든 상담에 사용가능합니다.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ReservationWrapper">
                            <div class="ReservationButton">
                                <a href="/lawyer-search/search-by-categories" style="text-decoration: none; color: white">
                                상담 예약하러 가기
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="Couponbook-Footer">
                <div class="Couponbook-Footer-Row">
                    <span>(주)카운슬로우</span>
                    <i class="Couponbook-Footer-VerticalLine"></i>
                    <span>대표자 : 박지민</span>
                    <i class="Couponbook-Footer-VerticalLine"></i>
                    <span>사업자번호 : 000-00-00000</span>
                    <i class="Couponbook-Footer-VerticalLine"></i>
                    <span>통신판매번호 : 2023-서울강남-0000</span>
                </div>
                <div class="Couponbook-Footer-Row">
                    <p class="Couponbook-Footer-Content">
                        (주)카운슬로우는 대한민국 법률시장의 정보비대칭과 불법 법조브로커를 해소하여 투명하고 공정한 법률시장을 만들기 위해 카운슬로우(CounseLaw) 서비스를 제공하고 있습니다. 카운슬로우는 의뢰인회원의 법률상담 내용 및 상담 여부, 법률사건 내용 및 수임 여부, 변호사회원의 선택 등에 대해 일절 관여하지 않아 변호사법 및 기타 관련규정을 준수하고 있으며, 변호사회원이 의뢰인회원에게 제공하는 서비스의 내용과 질에 대해 어떠한 법적책임도 부담하지 않습니다.
                        <br style="display: block;">
                        또한 회원간의 예약 및 결제정보의 중개서비스 또는 통신판매중개 시스템을 제공할 뿐, 통신판매의 당사자가 아닙니다. 모든 법률상담은 각 변호사회원이 직접 수행하며, 모든 변호사회원은 각 소속 법률사무소, 로펌에서 독립적으로 법률업무를 수행합니다. 그리고 카운슬로우에 가입한 변호사들 상호간에는 어떠한 조직적인 관계가 없음을 밝힙니다. 카운슬로우에 표시된 변호사회원의 정보는 해당 변호사가 직접 제공한 것이며 무단으로 복제, 편집, 전시, 전송, 배포, 판매, 방송, 공연 등에 이용할 수 없습니다.
                    </p>
                </div>
                <div class="Couponbook-Footer-Row">
                    <a href="" class="Couponbook-Footer-Copyright">
                        (C) CounseLaw Co., Ltd.
                    </a>
                </div>
            </footer>
        </div>
    </div>
</div>
<div class="root mobile">
    <div style="height: auto;">
        <div class="CouponbookPage-Wrapper">
            <div class="Couponbooks">
                <div class="Couponbooks-Contents">
                    <div class="Couponbooks-My">
                        <div class="Couponbook-Tab-Nav-Mobile">
                            <div class="Couponbooks-Tab event">
                                <i class="Couponbooks-Tab-Text-Mobile">쿠폰 이벤트</i>
                            </div>
                            <div class="Couponbooks-Tab My Active">
                                <i class="Couponbooks-Tab-Text-Mobile">마이쿠폰</i>
                            </div>
                        </div>
                        <div class="CouponRegisterWrapper-Mobile">
                            <button class="CouponRegister-Button-Mobile">
                                쿠폰 등록하기
                            </button>
                        </div>
                        <div class="CouponInventory-Mobile">
                            <div class="CouponInfo">
                                <div class="MyCouponCount-Mobile">
                                    보유쿠폰
                                    <i class="CouponCountNumber">&nbsp;1</i>
                                    장
                                </div>
                            </div>
                            <div class="CouponContent">
                                <div class="Coupons-Mobile">
                                    <div class="CouponCard-Wrapper-Mobile">
                                        <div class="CouponCard-Orange-Mobile">
                                            <div class="CouponEventCard-LeftIcon-Wrapper-Mobile">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                                </svg>
                                            </div>
                                            <div class="CouponEventCard-RightArrow-Mobile">
                                                <div class="CouponEventCard-Arrow-Mobile">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="CouponEventCard-Content">
                                                <div class="CouponEventCard-ContentInner-Mobile">
                                                    <div class="CouponEventCard-Phrase-Mobile">첫 15분 전화상담</div>
                                                    <div class="CouponEventCard-CouponValue-Mobile">
                                                        <i class="CouponDiscountRate-Mobile">10</i>
                                                        <i class="CouponUnit-Mobile">% 할인</i>
                                                    </div>
                                                    <div class="CouponEventCard-EndDate-Mobile">
                                                        2023년 12월 31일까지 사용가능
                                                    </div>
                                                    <div class="CouponEventCard-DiscountLimit-Mobile">
                                                        최대 15,000원 한도
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ReservationWrapper-Mobile">
                            <div class="ReservationButton">
                                상담 예약하러 가기
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="Couponbook-Footer-Mobile">
                <div class="Couponbook-Footer-Row-Mobile HideWhenClicked">
                    <span>(주)카운슬로우</span>
                    <i class="Couponbook-Footer-VerticalLine"></i>
                    <span>대표자 : 박지민</span>
                    <i class="Couponbook-Footer-VerticalLine-Mobile"></i>
                    <span>사업자번호 : 000-00-00000</span>
                    <i class="Couponbook-Footer-VerticalLine-Mobile"></i>
                    <span>통신판매번호 : 2023-서울강남-0000</span>
                </div>
                <div class="Couponbook-Footer-Row-Mobile HideWhenClicked">
                    <p class="Couponbook-Footer-Content-Mobile">
                        (주)카운슬로우는 대한민국 법률시장의 정보비대칭과 불법 법조브로커를 해소하여 투명하고 공정한 법률시장을 만들기 위해 카운슬로우(CounseLaw) 서비스를 제공하고 있습니다. 카운슬로우는 의뢰인회원의 법률상담 내용 및 상담 여부, 법률사건 내용 및 수임 여부, 변호사회원의 선택 등에 대해 일절 관여하지 않아 변호사법 및 기타 관련규정을 준수하고 있으며, 변호사회원이 의뢰인회원에게 제공하는 서비스의 내용과 질에 대해 어떠한 법적책임도 부담하지 않습니다.
                        <br style="display: block;">
                        또한 회원간의 예약 및 결제정보의 중개서비스 또는 통신판매중개 시스템을 제공할 뿐, 통신판매의 당사자가 아닙니다. 모든 법률상담은 각 변호사회원이 직접 수행하며, 모든 변호사회원은 각 소속 법률사무소, 로펌에서 독립적으로 법률업무를 수행합니다. 그리고 카운슬로우에 가입한 변호사들 상호간에는 어떠한 조직적인 관계가 없음을 밝힙니다. 카운슬로우에 표시된 변호사회원의 정보는 해당 변호사가 직접 제공한 것이며 무단으로 복제, 편집, 전시, 전송, 배포, 판매, 방송, 공연 등에 이용할 수 없습니다.
                    </p>
                </div>
                <div class="Couponbook-Footer-Row-Mobile">
                    <a href="" class="Couponbook-Footer-Copyright">
                        (C) CounseLaw Co., Ltd.
                    </a>
                    <button class="OpenFooter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                        </svg>
                    </button>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>
<script src="/js/couponbooks/myCoupons.js"></script>
</html>