<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상담사례 페이지</title>
    <link rel="stylesheet" href="/css/consultExample/consultationExample.css">
    <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
    <th:block th:replace="~{fix/header :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body class="FooterColor">
<!-- body부분 전체 -->

<!-- script는 제외하고 html, css만 작성-->
<div id="root" >
    <header th:replace="~{fix/header :: my-header}"></header>

    <div class="searchController">
        <div ui-view class="searchContent" style="visibility: visible;">
            <section class="caseSection">
                <div class="caseSectionWrap sectionWrap sectionWrapCases">
                    <!--타이틀 PC버전-->
                    <div class="caseSectionTitle ltDesktop">
                        <h2 class="encouragingMention">
                            나와 비슷한 문제에 대한 <br> 답변을 찾아보세요
                        </h2>
                    </div>
                    <!--타이틀 모바일버전-->
                    <div class="caseSectionTitle ltMobile">
                        <h2 class="encouragingMention">
                            나와 비슷한 문제에 대한 <br> 답변을 찾아보세요
                        </h2>
                    </div>
                    <!--                최근 답변이 활발한 변호사-->
                    <div class="casesTop RankWeekAnswerMobile ltMobile">
                        <div class="rankTitleWrap">
                            <div id="rankTitle" class="rankTitle">
                                <span>최근 답변이 활발한 변호사</span>
                                <i class="lc"></i>
                            </div>
                        </div>
                        <div class="rankBodyWrap">
                            <ul class="rankBody">
                                <!--1위-->
                                <li class="lawyerRank">
                                    <a href="">
                                        <div class="ranking oneToThree">
                                            <i class="lc lcCrown"></i>
                                            <span class="rk">1</span>
                                            <span>위</span>
                                        </div>
                                        <img src="https://www.lawtalk.co.kr/uploads/thumb/64f9701c57dc3b773f15d432-thumb-1694070864691.jpg" class="image" alt="">
                                        <div class="lawyerBody">
                                            <div class="lawyerName">정창래 변호사</div>
                                        </div>
                                    </a>
                                </li>
                                <!--2위-->
                                <li class="lawyerRank">
                                    <a href="">
                                        <div class="ranking oneToThree">
                                            <i class="lc lcCrown"></i>
                                            <span class="rk">2</span>
                                            <span>위</span>
                                        </div>
                                        <img src="https://www.lawtalk.co.kr/uploads/thumb/64f6bf883a42e457a1666c9c-thumb-1693894020447.jpg" class="image" alt="">
                                        <div class="lawyerBody">
                                            <div class="lawyerName">고경필 변호사</div>
                                        </div>
                                    </a>
                                </li>
                                <!--3위-->
                                <li class="lawyerRank">
                                    <a href="">
                                        <div class="ranking one ToThree">
                                            <i class="lc lcCrown"></i>
                                            <span class="rk">3</span>
                                            <span>위</span>
                                        </div>
                                        <img src="https://www.lawtalk.co.kr/uploads/thumb/60a358dbe6f6ec01cfbee979-thumb.jpg" alt="" class="image">
                                        <div class="lawyerBody">
                                            <div class="lawyerName">고민지 변호사</div>
                                        </div>
                                    </a>
                                </li>
                                <!--4위-->
                                <li class="lawyerRank">
                                    <a href="">
                                        <div class="ranking">
                                            <i class="lc lcCrown"></i>
                                            <span class="rk">4</span>
                                            <span>위</span>
                                        </div>
                                        <img src="https://www.lawtalk.co.kr/uploads/thumb/5abf1f127776fc99e74d6928-thumb.jpg" alt="" class="image">
                                        <div class="lawyerBody">
                                            <div class="lawyerName">김지진 변호사</div>
                                        </div>
                                    </a>
                                </li>
                                <!--5위-->
                                <li class="lawyerRank">
                                    <a href="">
                                        <div class="ranking">
                                            <i class="lc lcCrown"></i>
                                            <span class="rk">5</span>
                                            <span>위</span>
                                        </div>
                                        <img src="https://www.lawtalk.co.kr/uploads/thumb/6322b8c5a2b9b601850b5b7f-thumb-1689643518988.jpg" alt="" class="image">
                                        <div class="lawyerBody">
                                            <div class="lawyerName">김수빈 변호사</div>
                                        </div>
                                    </a>
                                </li>
                                <!--6위-->
                                <li class="lawyerRank">
                                    <a href="">
                                        <div class="ranking">
                                            <i class="lc lcCrown"></i>
                                            <span class="rk">6</span>
                                            <span>위</span>
                                        </div>
                                        <img src=https://www.lawtalk.co.kr/uploads/thumb/61e508f3b8fea701576bbf17-thumb-1687143724129.jpg"" alt="" class="image">
                                        <div class="lawyerBody">
                                            <div class="lawyerName">안민석 변호사</div>
                                        </div>
                                    </a>
                                </li>
                                <!--7위-->
                                <li class="lawyerRank">
                                    <a href="">
                                        <div class="ranking">
                                            <i class="lc lcCrown"></i>
                                            <span class="rk">7</span>
                                            <span>위</span>
                                        </div>
                                        <img src="https://www.lawtalk.co.kr/uploads/thumb/644f0ca6d88335c23a8a716e-thumb-1684202864686.jpg" alt="" class="image">
                                        <div class="lawyerBody">
                                            <div class="lawyerName">류동욱</div>
                                        </div>
                                    </a>
                                </li>
                                <!--8위-->
                                <li class="lawyerRank">
                                    <a href="">
                                        <div class="ranking">
                                            <i class="lc lcCrown"></i>
                                            <span class="rk">8</span>
                                            <span>위</span>
                                        </div>
                                        <img src="https://www.lawtalk.co.kr/uploads/thumb/5d5b5d65cb7b3082c0995e56-thumb.jpg" alt="" class="image">
                                        <div class="lawyerBody">
                                            <div class="lawyerName">박상우 변호사</div>
                                        </div>
                                    </a>
                                </li>
                                <!--9위-->
                                <li class="lawyerRank">
                                    <a href="">
                                        <div class="ranking">
                                            <i class="lc lcCrown"></i>
                                            <span class="rk">9</span>
                                            <span>위</span>
                                        </div>
                                        <img src="https://www.lawtalk.co.kr/uploads/thumb/64d58abc90082134a687fcd0-thumb-1691994984853.jpg" alt="" class="image">
                                        <div class="lawyerBody">
                                            <div class="lawyerName">윤정연 변호사</div>
                                        </div>
                                    </a>
                                </li>
                                <!--10위-->
                                <li class="lawyerRank">
                                    <a href="">
                                        <div class="ranking">
                                            <i class="lc lcCrown"></i>
                                            <span class="rk">10</span>
                                            <span>위</span>
                                        </div>
                                        <img src="https://www.lawtalk.co.kr/uploads/thumb/641473212057490056f7e7fc-thumb-1679470057261.jpg" alt="" class="image">
                                        <div class="lawyerBody">
                                            <div class="lawyerName">김순용 변호사</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--상담사례 부분 -->
                    <div class="caseSectionBody">
                        <!--내용-->
                        <div class="loadSection" style="position: relative">
                            <!-- 사례모음들-->
                            <section class="casesList">
                                <!--10개-->
                                <!-- 1-->
                                <lawyer-case-card th:each="consultCases:${consultCase}"
                                        ng-repeat="caseInCases" case="case" sort="sort" select-context-additional search-keyword="keyword" card-order="1" class="caseCard">
                                    <a th:href="@{/consult-detail/{consultId}(consultId=${consultCases.consultingCaseId})}" class="caseCardLink">
                                        <div class="caseCardWrap">
                                            <div class="caseCardLine Top">
                                                <!-- 공란-->
                                            </div>
                                            <!-- 장르-->
<!--                                            <h5 class="caseKeywords">-->
<!--                                                <span class="caseKeyword">-->
<!--                                                    손해배상-->
<!--                                                </span>-->
<!--                                            </h5>-->
                                            <!-- 제목 -->
                                            <div style class="caseCardTitle" th:text="${consultCases.caseTitle}">
                                            </div>
                                            <!-- 답변한 변호사 -->
                                            <div class="caseAnswer">
                                                답변
                                                <span class="caseAnswerLawyer" th:text="${consultCases.lawyerName == null ? '아직 변호사 답변 없음' : consultCases.lawyerName + ' 변호사'} ">
                                                </span>
                                            </div>
                                            <!-- 답변의 내용-->
                                            <div class="caseCardAnswer" th:utext="${consultCases.replyContent}">
                                            </div>
                                            <!-- 다른 변호사 답변 -->
                                            <div class="caseCardEtcAnswer">
                                                <div class="photos">
                                                    <img src="https://d2ai3ajp99ywjy.cloudfront.net/uploads/thumb/5ddb2d544eda6a0011debe8c-thumb.jpg" alt="" class="photo">
                                                    <img src="https://d2ai3ajp99ywjy.cloudfront.net/uploads/thumb/5df9cb3393bb4b00115aab10-thumb.jpg" alt="" class="photo">
                                                </div>
                                                <div class="etcLawyers">
                                                    <div class="etcLawyersInner" th:text="'다른 변호사 답변 ' + ${consultCases.replyCount} + '개'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="caseCardInfo">
                                                <span class="viewCount">
                                                    조회수
                                                    <i class="number" th:text="${consultCases.caseCount}">11</i>
                                                </span>
                                                <span class="bookMarkCount">
                                                    <i tooltip="즐겨찾기" tooltip-class="star-tooltip" tooltip-placement="bottom" class="lc lcStarSharpO">

                                                    </i>
                                                    <i class="number"></i>
                                                </span>
                                                <span class="answerDate" th:text="${#temporals.format(consultCases.consultCreateDate,'yyyy.MM.dd HH:mm:ss')} + ' 에 상담 작성'">한 시간 전 답변 작성됨</span>
                                            </div>
                                            <div class="caseCardLine Bottom">
                                            </div>
                                        </div>
                                    </a>
                                </lawyer-case-card>
                            </section>
                            <!-- 더보기 1~10-->
                            <footer class="PaginationWrapper" th:with="start=${pagination.startPage}, last=(${pagination.endPage})">
                                <div class="Pagination-PrevButtonWrapper">
                                    <button th:if="${pagination.page == start}" disabled width="40px" height="40px" font-size="18px"
                                            class="Pagination-PrevButton" id="prevprev_button">
                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='40' height='40' fill='%23FFF' fill-opacity='0' fill-rule='nonzero' rx='20'/%3E %3Cg stroke='%23000' stroke-width='1.5'%3E %3Cpath d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E"
                                             class="PrevButton-Image">
                                    </button>
                                    <button th:if="${pagination.page != start}" th:onclick="|location.href='@{/consult-example/consultation-example(page=${start})}'|"
                                            class="Pagination-PrevButton" id="prevprev_button">
                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E" class="PrevButton-Image">
                                    </button>
                                    <button th:if="${pagination.page == start}" disabled class="Pagination-PrevButton" id="prev_button">
                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                             class="PrevButton-Image">
                                    </button>
                                    <button th:if="${pagination.page != start}" th:onclick="|location.href='@{/consult-example/consultation-example(page=${pagination.page-1})}'|"
                                            class="Pagination-PrevButton" id="prev_button">
                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M18 0H0v18h18z'/%3E %3Cpath stroke='%23000' stroke-width='1.5' d='M7 5l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                             class="PrevButton-Image">
                                    </button>
                                </div>

                                <button th:each="buttonpage:${#numbers.sequence(start,last)}" class="Page-Selected"
                                        th:class="${buttonpage == pagination.page ? 'Page-Selected' : 'Page-Unselected'}">
                                    <a th:text="${buttonpage}" th:href="@{/consult-example/consultation-example(page=${buttonpage})}"></a>
                                </button>

                                <div class="Pagination-NextButtonWrapper">
                                    <button th:if="${pagination.page == last}" disabled class="Pagination-NextButton" id="next_button">
                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                             class="">
                                    </button>
                                    <button th:if="${pagination.page != last}" th:onclick="|location.href='@{/consult-example/consultation-example(page=${pagination.page+1})}'|"
                                            class="Pagination-NextButton" id="next_button">
                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath d='M18 0H0v18h18z'/%3E %3Cpath stroke='%23000' stroke-width='1.5' d='M7 5l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                             class="">
                                    </button>
                                    <button th:if="${pagination.page == last}" disabled class="Pagination-NextButton" id="nextnext_button">
                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='%23FFF' fill-opacity='0' fill-rule='nonzero' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                             class="" id="nextnext_button">
                                    </button>
                                    <button th:if="${pagination.page != last}" th:onclick="|location.href='@{/consult-example/consultation-example(page=${pagination.realEnd})}'|"
                                            class="Pagination-NextButton" id="nextnext_button">
                                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='40' height='40' fill='%23FFF' fill-opacity='0' fill-rule='nonzero' rx='20'/%3E %3Cg stroke='%23000' stroke-width='1.5'%3E %3Cpath d='M16 16l4 4-4 4M21 16l4 4-4 4'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E"
                                             class="" id="nextnext_button">
                                    </button>
                                </div>
                            </footer>
                            <div class="cgBusy cgBusyBackdrop cgBusyBackdropAnimation ngHide">
                                <!--공란-->
                            </div>
                            <div class="cgBusy cgBusyAnimation ngHide">
                                <div class="lawtalkLoader" style="position: absolute; inset:0px;">
                                    <div class="lawtalkLoaderImages">
                                        <img src="https://d2nyk3ltml4doc.cloudfront.net/lawtalk/latest/images/04737605c9f0492922b7.gif" alt="loader">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--옆에 변호사 순위 부분 -->
                    <aside  class="asideSection caseAsideSection" >
                        <div  class="rankWeekAnswer ltDesktop">
                            <div class="rankTitle">카운슬로우에서 활동중인 변호사</div>
                            <ul id="content" class="rankBody" >
                                <!--1위-->
                                <li class="lawyerRank" th:each="getLawyers:${getLawyers}">
                                    <a th:href="@{'/lawyer-home/lawyer-home?lawyerId=' + ${getLawyers.lawyerId}}" href="">
                                        <img th:src="${getLawyers.lawyerImage == null ? '/image/lawyerHome/profile.jpg' : getLawyers.lawyerImage}" src="https://www.lawtalk.co.kr/uploads/thumb/63eb407a63bf810043e827c4-thumb-1677563515771.jpg" alt="" class="image">
                                        <div class="body">
                                            <div class="name" th:text="${getLawyers.lawyerName}"></div>
                                            <div class="desc" th:text="${getLawyers.lawyerIntroduction}"></div>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                            <div id="expand" class="moreRank">
                                10명까지 보기
                            </div>
                        </div>
                    </aside>
                    <!--상담글 쓰기-->
                    <a href="/counseling/counseling-write" class="composeFloatingButton">
                        <img src="/image/consultExample/writeConsult.png" class="writeconsult" alt="">
                        <div class="composeFloatingButtonText ltDesktop">
                            상담글 쓰기
                        </div>
                    </a>
                </div>
            </section>
        </div>
        <footer th:replace="~{fix/footer :: my-footer}"></footer>
    </div>
</div>
</body>
<script src="/js/consultExample/consultExample.js"></script>
</html>