<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>지역으로 검색하기 : 카운슬로우 (CounseLaw)</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="/css/defaultSetting.css">
    <link rel="stylesheet" href="/css/searchByLocations/searchByLocations.css">
    <th:block th:replace="~{fix/header :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body class="wholePage">
<div class="search-controller main-content-container">
    <header th:replace="~{fix/header :: my-header}"></header>
    <div class="search-content" style="visibility: visible; margin-top: 124px; margin-bottom: 100px;">
        <div class="lawyer-find">
            <div class="lawyer-find__toggle-wrap">
                <div class="wide-toggle-fixed-on-mobile">
                    <wide-toggle>
                        <div class="wide-toggle">
                            <div class="wide-toggle__option-hovering" style="transform: translateX(187px);"></div>
                            <!---->
                            <div class="wide-toggle__option" onclick="location.href='/lawyer-search/search-by-categories'">분야로 찾기
                            </div><!---->
                            <div class="wide-toggle__option wide-toggle__option--active">지역으로 찾기
                            </div><!---->
                        </div>
                    </wide-toggle>
                </div>
            </div><!---->
            <div>
                <div class="location-find__container-type-b">
                    <div class="location-find__locations-container">
                        <div class="location-find__title">지역을 선택하세요.</div>
                        <div class="location-find__locations-map">
                            <a class="location-find__location gangwondo"
                                href="/lawyer-search/lawyer-list-by-locations?locationId=1">춘천/강원</a>
                            <a class="location-find__location gyeonggi"
                                href="/lawyer-search/lawyer-list-by-locations?locationId=3">경기</a>
                            <a class="location-find__location seoul"
                                href="/lawyer-search/lawyer-list-by-locations?locationId=10">서울</a>
                            <a class="location-find__location incheon"
                                href="/lawyer-search/lawyer-list-by-locations?locationId=2">인천/부천</a>
                            <a class="location-find__location chungbuk"
                                href="/lawyer-search/lawyer-list-by-locations?locationId=4">청주/충북</a>
                            <a class="location-find__location gyeongbuk"
                                href="/lawyer-search/lawyer-list-by-locations?locationId=6">대구/경북</a>
                            <a class="location-find__location chungnam"
                                href="/lawyer-search/lawyer-list-by-locations?locationId=5">대전/충남/세종</a>
                            <a class="location-find__location jeonbuk"
                                href="/lawyer-search/lawyer-list-by-locations?locationId=7">전주/전북</a>
                            <a class="location-find__location gyeongnam"
                                href="/lawyer-search/lawyer-list-by-locations?locationId=8">부산/울산/경남</a>
                            <a class="location-find__location jeonnam"
                                href="/lawyer-search/lawyer-list-by-locations?locationId=9">광주/전남</a>
                            <a class="location-find__location jeju"
                                href="/lawyer-search/lawyer-list-by-locations?locationId=11">제주</a>
                        </div><!---->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{fix/footer :: my-footer}"></footer>
</div>
</body>
</html>