
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>의뢰인 회원가입</title>
    <link rel="stylesheet" href="/css/client/client-join-membership.css">
    <link rel="stylesheet" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.81.woff2">
    <link rel="stylesheet" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.82.woff2">
    <link rel="stylesheet" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.85.woff2">
    <link rel="stylesheet" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.86.woff2">
    <link rel="stylesheet" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.87.woff2">
    <link rel="stylesheet" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.88.woff2">
    <link rel="stylesheet" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.89.woff2">
    <link rel="stylesheet" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.90.woff2">
    <link rel="stylesheet" href="https://cdn.lawcompany.co.kr/fonts/PretendardVariable.subset.91.woff2">
    <link rel="stylesheet" href="https://d2nyk3ltml4doc.cloudfront.net/lawtalk/latest/fonts/22eb3211f6def8f859e2.woff">
    <link rel="stylesheet" href="https://d2nyk3ltml4doc.cloudfront.net/lawtalk/latest/fonts/041b48e46e314db995d9.woff">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
</head>
<body>
<div id="next">
    <div id="root_view">
        <div class="law_sign_up_container">
        <div class="CourseLaw_auth">
            <div class="auth_box_header">
                <div class="auth_bpx_header_logo">
                    <img src="/image/client/counseLawLogo.png" alt="">
                </div>

                <div class="auth_box_header_title">의뢰인 회원가입</div>
            </div>

            <form method="post" th:action="@{/member/client-join}" th:object="${memberVO}" autocomplete="off" class="auth_body">

                <button type="button" class="law_auth_kao_button">
                    <i class="kao_icon"></i>
                    <span class="vertical_line"></span>
                    <span class="text">카카오로 가입하기</span>
                </button>

                <div class="law_auth_card">
                    <h3 class="law_auth_card_header">계정정보</h3>

                    <div class= "law_auth_card_body">
                        <div class="form_group">
                            <input type="email" class="material_form_control"
                            name="memberEmail" placeholder="예) name@example.com" id="sign-up-email">
                            <label class="label_color">이메일</label>
                            <div id="sign-up-email-valid-message" style="display: none">
                                <label class="control-label error">이메일은 반드시 입력하셔야 합니다.</label>
                            </div>
                        </div>

                        <div class="form_group">
                            <input  type="text" class="material_form_control"
                                   name="memberName" placeholder="예) 김카슬" id="sign-up-name">
                            <label class="label_color">이름</label>
                            <div id="sign-up-name-valid-message" style="display: none">
                                <label class="control-label error">이름은 반드시 입력하셔야 합니다.</label>
                            </div>
                        </div>

                        <div class="form_group">
                            <input type="password" class="material_form_control"
                                   name="memberPassword" placeholder="6~16자, 영문, 숫자, 특수문자(_-!@#$%^&*.,)"  id="sign-up-password" >

                            <label class="label_color">비밀번호</label>

                            <div id="sign-up-password-validator-message" style="display: none">
                                <label class="control-label error">비밀번호는 반드시 입력하셔야 합니다.</label>
                            </div>
                        </div>

                        <div class="form_group">
                            <input id="sign-up-password-confirm" type="password" class="material_form_control"
                                   name="passwordConfirm" placeholder="비밀번호를 다시 한 번 입력">

                            <label class="label_color">비밀번호 재확인</label>

                            <div id="sign-up-passwordConfirm-validator-message" style="display: none">
                                <label class="control-label error">비밀번호가 일치하지 않습니다.</label>
                            </div>
                        </div>


                        <div class="form_group">
                            <input id="sign-up-phone" type="code" class="material_form_control"
                                   name="memberPhone" placeholder="예) 01012345678" maxlength="11">

                            <label class="label_color">전화번호</label>

                            <div id="sign-up-phone-validator-message" style="display: none">
                                <label class="control-label error">전화번호는 반드시 입력하셔야 합니다.</label>
                            </div>
                        </div>
                    </div>
                </div>

                
                    <h3 class="law_auth_card_header">약관동의</h3>

                    <contract-consensus>
                        <div class="contract-consensus-container">
                            <div class="contract-consensus-all-wrap">
                                <div class="contract-consensus-checkbox-wrap">
                                    <input id="sign-up-agree-all" type="checkbox" class="contract-consensus-checkbox allAgree">
                                    <label for="sign-up-agree-all" class="contract-consensus-checkbox-label">
                                        <i class="contract-consensus-checkbox-text">
                                            다음에 모두 동의합니다.
                                        </i>
                                    </label>
                                </div>

                                <div class="contract-consent-all-text">서비스 이용약관, 개인정보 취급방침, 개인정보 이용/수집,  프로모션 정보 수신에 모두 동의함을 의미합니다.
                                </div>
                            </div>

                            <div class="contract-consensus-line"></div>

                            <div class="contract-consensus-check-box-container">
                                <div class="contract-consensus-checkbox-wrap">
                                    <input id="lawyer-sign-up-agreement" type="checkbox" class="contract-consensus-checkbox mustAgree agreement">
                                    <label for="lawyer-sign-up-agreement" class="contract-consensus-checkbox-label">
                                        <i class="contract-consensus-checkbox-text">
                                        서비스 이용약관 동의
                                        </i>
                                        <i class="contract-consensus-checkbox-sub-text">
                                            (필수)
                                        </i>
                                    </label>
                                    
                                </div>
                            </div>

                            <div class="contract-consensus-check-box-container">
                                <div class="contract-consensus-checkbox-wrap">
                                    <input id="privacy-policy" type="checkbox" class="contract-consensus-checkbox mustAgree agreement">
                                    <label for="privacy-policy" class="contract-consensus-checkbox-label">
                                        <i class="contract-consensus-checkbox-text">
                                            개인정보 취급방침 동의
                                        </i>
                                        <i class="contract-consensus-checkbox-sub-text">
                                            (필수)
                                        </i>
                                    </label>
                                    
                                </div>
                            </div>

                            <div class="contract-consensus-check-box-container">
                                <div class="contract-consensus-checkbox-wrap">
                                    <input id="personal-info" type="checkbox" class="contract-consensus-checkbox mustAgree agreement">
                                    <label for="personal-info" class="contract-consensus-checkbox-label">
                                        <i class="contract-consensus-checkbox-text">
                                            개인정보 이용/수집 동의
                                        </i>
                                        <i class="contract-consensus-checkbox-sub-text">
                                            (필수)
                                        </i>
                                    </label>
                                    
                                </div>
                            </div>

                            <div class="contract-consensus-check-box-container">
                                <div class="contract-consensus-checkbox-wrap">
                                    <input id="marketing-accept" type="checkbox" class="contract-consensus-checkbox choiceAgree agreement">
                                    <label for="marketing-accept" class="contract-consensus-checkbox-label">
                                        <i class="contract-consensus-checkbox-text">
                                            혜택정보(마케팅) 수신 전체동의
                                        </i>
                                        <i class="contract-consensus-checkbox-sub-text">
                                            (선택)
                                        </i>
                                    </label>



                                </div>

                                <div class="contract-consensus-marketing-accept-text">
                                    <span class="without-welcome-gift-text">신규 서비스 소식, 이벤트 안내, 할인/혜택 등 다양한 정보를</span>

                                    <br class="it-mobile">
                                    <input id="email-marketing-accept" type="checkbox" class="marketing-checkbox">

                                    <label for="email-marketing-accept" class="contract-consensus-marketing-accept-checkbox-label email">
                                        <i class="contract-consensus-marketing-accept-checkbox-text">이메일</i>
                                    </label>
                                    과
                                    <br class="it-mobile">
                                    <input id="sms-marketing-accept" type="checkbox" class="marketing-checkbox">

                                    <label for="sms-marketing-accept" class="contract-consensus-marketing-accept-checkbox-label phone">
                                        <i class="contract-consensus-marketing-accept-checkbox-text">휴대폰(카카오알림톡 또는 문자)</i>
                                    </label>
                                    로 받아보겠습니다.
                                </div>
                            </div>

                            </div>
                    </contract-consensus>

                    <h3 class="law_auth_card_header">이용자 연령 확인</h3>

                    <div class="law_auth_card_body">
                        <div class="description">
                            법률문제는 만 14세 미만 아동이 스스로 판단하기 힘든 복잡한 문제일 수 있습니다.
                            <br>
                            <a href="tel:112">112 경찰청</a>
                            또는
                            <a href="tel:1577-1391">1577-1391 아동보호전문기관</a>
                            에 연락해 도움을 받아보세요.
                        </div>

                        <div class="user-age-check-item">
                            <div class="user-age-check-wrap">
                                <input id="sign-up-user-age-check" type="checkbox"
                                name="userAgeCheck" class="user-age-check-checkbox">

                                <label for="sign-up-user-age-check" class="user-age-check-label">
                                    <i class="user-age-check-text">만 14세 이상입니다.</i>
                                </label>
                            </div>

                            <div id="sign-up-user-age-check-validator-message" style="display: none;">
                                <label class="control-label">반드시 동의하셔야 합니다.</label>
                            </div>
                        </div>
                    </div>

                    <div class="law-auth-card-footer">
                        <button type="submit" class="law-auth-card-footer-button">
                            가입신청
                        </button>
                    </div>
            </form>

        </div>
</div>

        <div id="dialog" class="dialog" style="display:none;">
            <div class="dialog-overlay"></div>
            <div class="dialog-content">
                <div class="simple-message">
                    <div class="title">
                        로그인
                        <a href="">
                            <i class="lc"></i>
                        </a>
                    </div>

                    <div class="body">
                        <p style="outline: 0px;">아이디/비밀번호가 일치하지 않습니다.</p>
                    </div>

                    <div class="footer">
                        <a class="yes">확인</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:if="${emailErrorMsg} != null">
    alert("중복된 아이디입니다.")
</script>
<script src="/js/client/client-join-membership.js"></script>
</html>