<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상세 페이지</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />

    <link rel="stylesheet" type="text/css" href="/css/consultDetail/consultDetail.css">

    <th:block th:replace="~{fix/header :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>

</head>
<body class="footerColor BodyColorQnAQuestionArticle">

    <div class="next">
        <div id="rootView">
            <div class="qna controller">
                <header th:replace="~{fix/header :: my-header}"></header>

                <div class="qnaContents">
                    <!--헤더부분        -->
                    <!-- 내용 -->
                    <div class="qnaArticle controller">
                        <question question="question" expanded="true" get-qna-common-params="getQnaCommonParams()"
                            th:each="consultDetail:${consultDetail}">

                            <div class="question directive qnaDetailPage expanded">
                                <h1 class="questionTitle daumWmTitle" th:text="${consultDetail.caseTitle}"></h1>
                                <p class="questionBody daumWmContent" th:text="${consultDetail.caseContent}">
                                </p>
                                <div class="questionInfoWrap">
                                    <span class="questionCreatedAt" th:text="${#temporals.format(consultDetail.createDate,'yyyy년 MM월 dd일 HH시 mm분')} + '에 상담 작성'">1시간 전 작성됨</span>
                                    <span class="viewCount" th:text="'조회수 ' + ${viewCount}">
                                    </span>
                                </div>
                                <!--궁금해요-->
                                <div class="questionUtils">
                                    <div class="questionUtilsDivideLine ltMobile"></div>
                                    <!--관심글-->
                                    <div class="questionUtilsButton">
                                        <button onclick="toggleImg()" class="ButtonWish" width="24px" height="24px">
                                            <img class="empty" src="/image/consultDetail/emptyHeart.png" alt="관심x">
                                            <img class="full" src="/image/consultDetail/fullHeart.png" alt="관심o">
                                        </button>
                                        <span class="questionUtilsButtonText">관심글</span>
                                    </div>
                                    <!--공유하기-->
                                    <div class="questionUtilsButton" id="shareButton">
                                        <img src="/image/consultDetail/share.jpg" class="share" alt="">
                                        <span class="questionUtilsButtonText">공유하기</span>
                                    </div>

                                    <!-- 공유 모달 -->
                                    <div id="shareModal" class="modal" style="display: none">
                                        <div class="modal-content">
                                            <span class="close" id="closeModal">&times;</span>
                                            <h2>링크 복사</h2>
                                            <input type="text" id="shareLink" readonly>
                                            <button onclick="copyToClipboard()">복사</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </question>
                        <!--상담글 작성하러가는 링크-->
                        <div class="qnaArticleBanner">
                            <a href="/counseling/counseling-write">
                                <img src="/image/consultDetail/getCoupon.png" alt="" class="qnaArticleBannerCouponImage ltMobile">
                                <img src="/image/consultDetail/getCoupon.png" alt="" class="qnaArticleBannerCouponImage ltDesktop">
                            </a>

                        </div>
                        <!--변호사 답변 개수 있는곳-->
                        <div class="qnaArticleAnswerCount" th:each="totalCount:${totalCount}">
                            <div class="qnaArticleAnswerCountText">
                                변호사 답변 총&nbsp;
                                <span class="qnaArticleAnswerCountTextOrange" th:text="${totalCount} + ' 건'">10건</span>
                            </div>
                        </div>
                        <!--변호사 답변 개수랑 답변의 경계선-->
                        <div class="qnaArticleDivideLine"></div>
                        <!--변호사 답변-->
                        <div class="qnaArticleAnswers">
                            <div class="qnaList directive">
                                <section class="qnaListContents">
                                    <div class="qnaListFeed">
                                        <!--변호사 답변 경계선-->
                                        <div class="qnaArticleAnswersDivideLine">
                                        </div>
                                        <!--변호사들의 나머지 답변-->
                                        <div class="qnaListNormal hasTopPadding">
                                            <div class="qnaListItemWrap" th:each="readLawyer:${readLawyer}">
                                                <!--변호사들의 나머지 답변 반복 1-->
                                                <!---->
                                                <div class="qnaListItem">
                                                    <answer-new>
                                                        <div class="answerNew directive">
                                                            <div class="answerMeta">
                                                                <new-layer-profile position="position">
                                                                    <div class="newLawyerProfile directive">
                                                                        <div class="lawyerProfile">
                                                                            <!-- 변호사 프로필사진-->
                                                                            <a href="" class="lawyerProfileThumbnail">
                                                                                <div class="lawyerProfileThumbnailGradient"></div>
                                                                                <div class="lawyerProfileThumbnailWhiteBackground"></div>
                                                                                <img th:src="${readLawyer.lawyerImage == null ? '/image/lawyerHome/basicLawyer.png' : readLawyer.lawyerImage}" src="" alt="김준환 변호사 이미지"
                                                                                     class="lawyerProfileThumbnailImg">
                                                                            </a>
                                                                            <!-- 변호사 프로필 이름과 정보-->
                                                                            <div class="lawyerProfileInfo">
                                                                                <div class="lawyerProfileInfoCompany" th:text="${readLawyer.lawyerCompany}"></div>
                                                                                <div class="lawyerProfileInfoNameWrap">
                                                                                    <a href=""
                                                                                       class="lawyerProfileInfoName" th:text="${readLawyer.lawyerName}"></a>
                                                                                </div>
                                                                            </div>
                                                                            <!-- 변호사 상담 예약-->
                                                                            <div class="lawyerProfileReservation">
                                                                                <div class="lawyerProfileReservationButton">
                                                                                    <div class="lawyerProfileReservationButtonText">
                                                                                        <a >상담 예약</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </new-layer-profile>
                                                            </div>
                                                            <div class="answerBody" th:text="${readLawyer.replyContent}">
                                                            </div>
                                                            <div class="answerMiddle">
                                                                <div class="answerMiddleCreatedAt" th:text="${#temporals.format(readLawyer.createDate,'yyyy년 MM월 dd일 HH시 mm분')} + ' 에 답변 작성됨'"></div>
                                                            </div>
                                                            <div class="answerBottom">
                                                                <div class="answerBottomButton leftMargin">
                                                                    <img src="/image/consultDetail/share.jpg" class="share" alt="">
                                                                    <span class="answerBottomButtonText shareButton">공유하기</span>
                                                                </div>
                                                            </div>
                                                            <!-- 공유 모달 -->
                                                            <div class="modal shareModal" style="display: none">
                                                                <div class="modal-content">
                                                                    <span class="close closeModal">&times;</span>
                                                                    <h2>링크 복사</h2>
                                                                    <input type="text" class="shareLink" readonly>
                                                                    <button class="copyButton">복사</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </answer-new>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 옆쪽 변호사 라인업-->
                                    <aside class="qnaAside" style="height: 6085px;">
                                        <div class="qnaAsideAlignSpace ltDesktop"></div>
                                        <div class="qnaAsideContent">
                                            <div class="qnaArticleAnswersDivideLine ltMobile"></div>
                                            <!-- 유사한 상담사례-->
                                            <related-case >
                                                <div class="relatedCase" >
                                                    <!-- 유사한 상담사례 제목-->
                                                    <div class="relatedCaseHeader">
                                                        <h5 class="relatedCaseHeaderTitle">다른 상담사례 보기</h5>
                                                        <a th:href="@{/consult-example/consultation-example}" class="relatedCaseHeaderViewMore">
                                                            <div class="relatedCaseHeaderViewMoreText">더보기</div>
                                                            <i class="lc lcChevronRight"></i>
                                                        </a>
                                                    </div>
                                                    <!-- 유사한 상담사례 내용-->
                                                    <div class="relatedCaseBody">
                                                        <slick class="relatedCaseCarousel slickInitialized slickSlider">
                                                            <div class="slickList draggable">
                                                                <div class="slickTrack" style="opacity: 1; width: 960px; transform: translate3d(0px, 0px, 0px);">
                                                                    <div class="relatedCaseBodyCaseGroup slickSlide slickActive" data-slick-index="0" aria-hidden="false" style="width: 320px;">
                                                                        <!-- 유사한 상담사례 내용 반복-->
                                                                        <div class="relatedCaseBodyCaseItem" th:each="consultCase:${consultCase}">
                                                                            <div class="relatedCaseBodyDiviedLine"></div>
                                                                            <div class="relatedCaseBodyItemContent">
                                                                                <div class="relatedCaseBodyCaseTitle" th:text="${consultCase.caseTitle}"></div>
                                                                                <div class="relatedCaseBodyCaseBody" th:text="${consultCase.caseContent}">
                                                                                </div>
                                                                                <div class="relatedCaseBodyCaseAnswers">
                                                                                    <!-- 변호사 썸네일 3개-->
                                                                                    <div class="relatedCaseBodyPhotos">
                                                                                        <img th:src="${consultCase.lawyerImage == null ? '/image/lawyerHome/basicLawyer.png' : consultCase.lawyerImage}" src="https://d2ai3ajp99ywjy.cloudfront.net/uploads/thumb/55efb089b1e8dbd319a45b6d-thumb.jpg" alt="변호사 썸네일"
                                                                                             class="relatedCaseBodyPhoto">
<!--                                                                                        <img src="https://d2ai3ajp99ywjy.cloudfront.net/uploads/thumb/5eafa0016ed1d902696a3817-thumb-1682670186303.jpg" alt="변호사 썸네일"-->
<!--                                                                                             class="relatedCaseBodyPhoto">-->
<!--                                                                                        <img src="https://d2ai3ajp99ywjy.cloudfront.net/uploads/thumb/5e52ab7da7ea890261429502-thumb.jpg" alt="변호사 썸네일"-->
<!--                                                                                             class="relatedCaseBodyPhoto">-->
                                                                                    </div>
                                                                                    <div class="relatedCaseBodyLawyers">
                                                                                        <div class="relatedCaseBodyLawyersText">
                                                                                            변호사 답변
                                                                                            <strong th:text="${consultCase.replyCount}">10</strong>
                                                                                            개
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </slick>
                                                    </div>
                                                </div>
                                            </related-case>
                                            <!-- 관련 변호사 해결사례-->
                                            <related-post-case>
                                                <div class="relatedPostCase" th:each="readSolution:${readSolution}">
                                                    <!-- 관련 변호사 해결사례 제목-->
                                                    <div class="relatedPostCaseHeader">
                                                        <h5 class="relatedPostCaseHeaderTitle">해결사례</h5>
                                                        <a th:href="@{/solution-case-page/solution-case}" class="relatedPostCaseHeaderViewMore">
                                                            <div class="relatedPostCaseHeaderViewMoreText">더보기</div>
                                                            <i class="lc lcChevronRight">
                                                            </i>
                                                        </a>
                                                    </div>
                                                    <!-- 관련 변호사 해결사례 내용 반복-->
                                                    <div class="relatedPostCaseBody">
                                                        <!-- 관련 변호사 해결사례 내용 반복1-->
                                                        <div class="relatedPostCaseBodyPostItem">
                                                            <div class="relatedPostCaseBodyPostDivideLine"></div>
                                                            <div class="relatedPostCaseBodyItemContent">
                                                                <div class="relatedPostCaseBodyCaseResult">
                                                                    <img src="/image/consultDetail/hammer.jpg" class="hammer" alt="">
                                                                    <span class="relatedPostCaseBodyCaseResultText" th:text="${readSolution.fieldTitle}"></span>
                                                                </div>
                                                                <div class="relatedPostCaseBodyPostTitle" th:text="${readSolution.solutionCaseTitle}"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </related-post-case>
                                        </div>
                                    </aside>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/consultDetail/consultDetail.js"></script>

</html>