<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>법률가이드 페이지</title>
    <link rel="stylesheet" href="/css/legalGuidePage/legalGuide.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <th:block th:replace="~{fix/header :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body class="footer-Color">
<!-- 롤링배너 및 드롭다운 & 최신순 조회순 적용 및 상세 페이지 남음 -->
<div class="root pc">
    <header th:replace="~{fix/header :: my-header}"></header>
    <div class="pc-View">
        <div class="search-Controller">
            <div class="search-Controller" style="visibility: visible">
                <div>
                    <section class="content-Section top-Line">
                        <div class="upper-Guides-Section">
                            <div class="upper-Guides-Section-Title">
                                <h2 class="upper-Guides-Section-Mention">
                                    관심있는 분야의
                                    <br />
                                    법률 정보를 알아보세요
                                </h2>
                            </div>
                            <div class="rolling-Banner">
                                <div class="slick-Slider">
                                    <div class="slick-List" style="padding: 0px 50px;">
                                        <div class="slick-Track" th:each="legalGuide : ${legalGuideWithDetail}">
                                            <!--마지막에서 2번째 배너-->
                                            <div class="last-Second-Slick-Slide">
                                                <div>
                                                    <!-- 배너 포스트 경로 -->
                                                    <a th:href="'/legal-guide-page/legal-guide2?legalGuideId=' + ${legalGuide.legalGuideId}" class="guide-Card-Link">
                                                        <div class="counseLaw-guide-Card-Wrapper">
                                                            <div class="guide-Card-Header-Info">
                                                                <span class="guide-Card-Badge new">NEW</span>
                                                                <h5 class="guide-Card-Keywords">
                                                                    <span class="guide-Card-Keyword" th:text="${legalGuide.fieldTitle}">사기/공갈</span>
                                                                </h5>
                                                            </div>
                                                            <div class="guide-Card-Title" th:text="${legalGuide.legalGuideTitle}">제목</div>
                                                            <div class="guide-Card-Lawyer-Info">
                                                                <div class="guide-Card-Lawyer-Thumb"><img alt=" 썸네일" class="photo" th:src="${legalGuide.lawyerImage == null ? '/image/defaultLawyerProfile/defaultLawyerProfile.png' : legalGuide.lawyerImage}"></div>
                                                                <div class="guide-Card-Lawyer-Title-Name">
                                                                    <span class="guide-Card-Lawyer-Title-Name-Bold">By</span>
                                                                    <span th:text="${legalGuide.lawyerName} + ' 변호사' ">김한솔 변호사</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
<!--                                            마지막 배너-->
                                             <div class="last-Slick-Slide">
                                                 <div>
                                                     <!-- 배너 포스트 경로 -->
                                                     <a th:href="'/legal-guide-page/legal-guide2?legalGuideId=' + ${legalGuide.legalGuideId}">
                                                         <div class="counseLaw-guide-Card-Wrapper">
                                                             <div class="guide-Card-Header-Info">
                                                                 <span class="guide-Card-Badge new">NEW</span>                                                                 <h5 class="guide-Card-Keywords">
                                                                     <span class="guide-Card-Keyword" th:text="${legalGuide.fieldTitle}">사기/공갈</span>

                                                                 </h5>
                                                             </div>
                                                             <div class="guide-Card-Title" th:text="${legalGuide.legalGuideTitle}">[형사] 경찰 조사에서 이것만 기억하세요.</div>
                                                             <div class="guide-Card-Lawyer-Info">
                                                                 <div class="guide-Card-Lawyer-Thumb"><img ng-if="!guide.showLtlogo" alt=" 썸네일" class="photo" th:src="${legalGuide.lawyerImage == null ? '/image/defaultLawyerProfile/defaultLawyerProfile.png' : legalGuide.lawyerImage}"></div>
                                                                 <div class="guide-Card-Lawyer-Title-Name">
                                                                     <span class="guide-Card-Lawyer-Title-Name-Bold">By</span>
                                                                     <span th:text="${legalGuide.lawyerName} + ' 변호사' ">김한솔 변호사</span>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </a>
                                                 </div>
                                             </div>
<!--ㅇㅇㅇㅇ-->

                                            <!-- 정보들 입력 -->

                                        </div>  <!-- slider ul역할-->
                                    </div>
                                </div>
                                <div class="rolling-Banner-Btn-Wrapper">
                                    <div class="rolling-Banner-Left-Btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                    </svg></div>
                                    <div class="rolling-Banner-Right-Btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                    </svg></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="guides-Section-Wrapper section-Wrapper">
                            <div class="guides-Section">
                                <div class="guides-Section-Body">
                                    <div class="guides-Section-Search-Menu">
                                        <div class="select-Menu">
                                            <div class="select-Btn">
                                                <span class="sBtn-Text">모든 분야</span>
                                            </div>
                                        </div>
                                        <ul class="sort-Options">
                                            <li class="sort-Options-Btn active">최신순</li>
                                        </ul>
                                    </div>
                                    <div
                                            class="guides-Section-Load-Section"
                                            style="position: relative; display: grid; grid-template-columns: repeat(2, 1fr);"
                                    >
                                        <section class="card-List-Section" th:each="legalGuide : ${legalGuideWithDetail}">
                                            <div class="card-List-Section-Card-Wrapper">
                                                <div>
                                                    <!-- 변호사 상세정보  -->
                                                        <a th:href="'/legal-guide-page/legal-guide2?legalGuideId=' + ${legalGuide.legalGuideId}" class="guide-Card-Link">
                                                        <div class="guide-Card-Wrapper">
                                                            <h5 class="guide-Card-Keywords">
                                    <span class="guide-Card-Keyword">
                                    </span>
                                                                <span class="guide-Card-Keyword" th:text="${legalGuide.fieldTitle}">
                                      손해배상
                                    </span>
                                                            </h5>
                                                            <div class="guide-Card-Title" th:text="${legalGuide.legalGuideTitle}">
                                                                제목
                                                            </div>
                                                            <div class="guide-Card-Content" th:text="${legalGuide.legalGuideContent}">
                                                                0. 내용
                                                            </div>
                                                            <div class="guide-Card-Lawyer-Info">
                                                                <div class="guide-Card-Lawyer-Thumb">
                                                                    <img
                                                                            class="photo"
                                                                            th:src="${legalGuide.lawyerImage == null ? '/image/defaultLawyerProfile/defaultLawyerProfile.png' : legalGuide.lawyerImage}"
                                                                    />
                                                                </div>
                                                                <div class="guide-Card-Lawyer-Title-Name">
                                      <span
                                              class="guide-Card-Lawyer-Title-Name-Bold"
                                      >
                                        By
                                      </span>
                                                                    <span th:text="${legalGuide.lawyerName} + ' 변호사' ">
                                                                    정진권 변호사
                                                                    </span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="card-List-Section-Card-Line"></div>
                                            </div>

                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>

                                        </section>
                    <a href="/lawyer-write/lawyer-write-lg" class="composeFloatingButton">
                        <img src="/image/consultExample/writeConsult.png" class="writeconsult" alt="">
                        <div class="composeFloatingButtonText ltDesktop">
                            법률가이드 작성
                        </div>
                    </a>
                                </div>
                            </div>
                        </div>


                                    </div>

                    </section>
        </div>
    </div>
</div>

    </div>
</div>



<footer th:replace="~{fix/footer :: my-footer}"></footer>
</body>
<script src="/js/legalGuidePage/legalGuide.js"></script>
</html>
