/*lawyerHome 과 동일*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

.label {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

a img {
    border: none;
}

button, input[type=button], input[type=file]::-webkit-file-upload-button, input[type=reset], input[type=submit] {
    border-radius: 0;
}

.profile-page {
    background-color: #fff;
    overflow-x: hidden;
    font-family: Pretendard,'Noto Sans KR', sans-serif;
}

.profile-page .profile-page__wrapper {
    margin: auto;
    width: 1401px;
}

/*컨텐츠*/
.profile-page .profile-contents {
    display: inline-block;
    padding: 0 60px;
    vertical-align: top;
    width: 843px;
}

.profile-page .profile-contents__nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 723px;
    z-index: 100;
}

.headerLogoIcon img.logoImage{
    cursor: pointer;
    width: auto;
    height: 36px;
    vertical-align: bottom;
}

/*변호사홈 버튼*/
.profile-page .profile-contents__item-wrap {
    border-bottom: 2px solid transparent;
    display: inline-block;
}

.profile-page .profile-contents__nav-item {
    align-items: center;
    color: #757575;
    display: flex;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.profile-page .profile-contents__item-wrap--active .profile-contents__nav-item, .profile-page .profile-contents__item-wrap:hover .profile-contents__nav-item {
    color: #333;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 700;
}

.profile-page .profile-contents__review-count {
    background-color: #e0e0e0;
    border-radius: 9px;
    color: #040506;
    color: #757575;
    cursor: pointer;
    display: inline-block;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-weight: 600;
}

/*페이지마다 변경되는 부분*/

.profile-info {
    color: #333;
}

.profile-info section.introduction {
    align-items: center;
    border-bottom: 3px double #e0e0e0;
    display: flex;
    justify-content: center;
}

.profile-info section.introduction p.introduction-title {
    color: #333;
    font-family: Nanum Myeongjo;
    font-weight: 600;
    line-height: 1.29;
    text-align: center;
}

.profile-info .key-field a.anchor.key-field-title {
    display: block;
    position: relative;
    visibility: hidden;
}

.profile-info .key-field .title {
    color: #333;
    display: block;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    width: 74px;
}

.profile-info .key-field .fields {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

/*각각 필드*/
.profile-info .key-field .fields .field {
    text-align: center;
}

.profile-info .key-field .fields .field .name {
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}

/*경력사항*/
/*.profile-info .resume-history {*/
/*    border-top: 1px solid #f1eeec;*/
/*}*/

.profile-info a.anchor.resume_history {
    display: block;
    position: relative;
    visibility: hidden;
}

.profile-info .title {
    color: #333;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    width: 74px;
}

.histories-container {
    display: flex;
    position: relative;
}

.histories-container .name {
    color: #555;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.histories-container .histories {
    border-left: 1px solid #757575;
}

.histories-container .histories .history {
    display: flex;
    flex-direction: row;
}

.histories-container .histories .history:first-child {
    position: relative;
}

.histories-container .histories .history .left .dash, .histories-container .histories .history .left .from, .histories-container .histories .history .left .to {
    color: #757575;
    display: inline-block;
    font-family: Amplitude Medium;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    vertical-align: top;
}

.histories-container .histories .history .left .from, .histories-container .histories .history .left .to {
    width: 40px;
}

.histories-container .histories .history .left .dash {
    width: 6px;
}

.histories-container .histories .history .right .description {
    color: #757575;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.histories-container .histories .history .right a.description {
    text-decoration: underline;
}

/*나누는 영역*/
.profile-info .divider {
    border-top: 1px solid #f1eeec;
}

/*가격정보*/
.profile-info .advice-fee {
    /*border-top: 1px solid #f1eeec;*/
}

.profile-info .advice-fee .title {
    color: #333;
    display: block;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    width: 150px;
}

.profile-info .advice-fee calc-info {
    display: block;
}

.calc-info .info {
    background-color: #fff;
    border: 1px solid #333;
    position: relative;
    width: 100%;
}

.calc-info .info .legend {
    display: flex;
    justify-content: space-between;
    left: 360px;
    position: absolute;
    top: 24px;
    width: 240px;
}

.legend-bottom {
    position: absolute;
    bottom: 24px;
    width: 240px;
    left: 360px;
    text-align: right;
}

.price-bottom-desc {
    color: #999;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.calc-info .info .legend span {
    color: #999;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.calc-info .info .advice-fees {
    position: relative;
}

.calc-info .info .advice-fees .average-bar {
    border-left: 1px dashed #c0b3b6;
    height: calc(100% - 26px);
    left: 433px;
    position: absolute;
    top: 15px;
    width: 1px;
    z-index: 2;
}

/*row*/
.calc-info .info .advice-fees .advice-calc-fee-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calc-info .info .advice-fees .advice-calc-fee-row .fee-title {
    color: #333;
    font-size: 16px;
    text-align: left;
}

.calc-info .info .advice-fees .advice-calc-fee-row .fee-info {
    color: #333;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
    text-align: left;
}

.calc-info .info .advice-fees .advice-calc-fee-row .indicator-wrapper {
    background-color: #f1eeec;
    height: 14px;
}

/*row*/
.calc-info .info .advice-fees .advice-calc-fee-row .indicator-wrapper .indicator {
    background-color: #c50000;
    height: 14px;
    width: 60px;
}

/*예약하기*/
.calc-info .info .advice-fees .advice-calc-fee-row .reservation {
    flex: 1;
    text-align: right;
}

.calc-info .info .advice-fees .advice-calc-fee-row .reservation .go-reservation {
    color: #c50000;
    flex: 1;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 14px;
    font-weight: 700;
}

/*서비스*/
.profile-info .advice-fee .extra-info {
    border: 1px solid #e0e0e0;
    display: flex;
}

.profile-info .advice-fee .extra-info .left span.title, .profile-info .advice-fee .extra-info .right span.title {
    color: #333;
    font-family: Nanum Myeongjo;
    font-size: 18px;
    font-weight: 700;
    height: 20px;
    line-height: 1.11;
}

.profile-info .advice-fee .extra-info .left .sevice-charges .charge:first-child, .profile-info .advice-fee .extra-info .right .sevice-charges .charge:first-child {
    margin-top: 18px;
}

.profile-info .advice-fee .extra-info .left .sevice-charges .charge span.charge-title, .profile-info .advice-fee .extra-info .right .sevice-charges .charge span.charge-title {
    color: #555;
    display: block;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
}

.profile-info .advice-fee .extra-info .left .sevice-charges .charge span.charge-description, .profile-info .advice-fee .extra-info .right .sevice-charges .charge span.charge-description {
    color: #555;
    display: block;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/*적정 수임료란?*/
.profile-info .reasonable-advice-fee .advice-fee-title {
    color: #555;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    margin-bottom: 4px;
}

.profile-info .reasonable-advice-fee .explanation {
    color: #757575;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}


/*페이지마다 변경되는 부분 끝*/



/*footer*/
.lawyer-profile-footer--container {
    width: 100%;
}

.lawyer-profile-footer--links-container {
    display: flex;
}

.lawyer-profile-footer--link-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.lawyer-profile-footer--link-text {
    color: #757575;
    cursor: pointer;
    display: block;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
}

.lawyer-profile-footer--link-text.privacy-policy {
    color: #c50000!important;
}

.lawyer-profile-footer--company-info {
    color: #757575;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    /*white-space: pre-wrap;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.lawyer-profile-footer--copyright-wrap {
    display: flex;
}


/*좌측 프로필*/
.profile-page .profile-page__picture {
    display: inline-flex;
    flex-direction: column;
    gap: 21px;
    height: 100vh;
    padding-bottom: 24px;
    padding-top: 24px;
    position: fixed;
    width: 498px;
}

.profile-page .profile-page__picture .profile-pic-card {
    width: 498px;
    height: 393px;
}

.LawyerPictureCard-module_card__UlnaG {
    height: 100%;
    max-height: 762px;
    width: 498px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.LawyerPictureCard-module_header__uQ6j0 {
    position: relative;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    height: 122px;
    background-color: #35373a;
}

.Typography-module_lt-text--size-28__JzLvX {
    font-size: 1.75rem;
}

.Typography-module_lt-text--weight-700__MTX72 {
    font-weight: 700;
}

.Typography-module_lt-text--height-100__U8Og5 {
    line-height: 100%;
}

.Typography-module_lt-text--inherit__uNmPK {
    cursor: inherit;
}

.LawyerPictureCard-module_lawyerName__HtkU1 {
    display: inline-flex;
    gap: 9px;
    align-items: center;
}

.LawyerPictureCard-module_officeName__keMRp {
    margin-top: 14px;
}

.Typography-module_lt-text--weight-400__dz6jA {
    font-weight: 400;
}

.Typography-module_lt-text--size-16__m5oA0 {
    font-size: 1rem;
}

/*즐찾, 공유 버튼*/
.LawyerPictureCard-module_buttons__IClTr {
    position: absolute;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 12px;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.star {
     width: 18px;
 }



.LawyerPictureCard-module_bookmarkIcon__-GEYk, .LawyerPictureCard-module_shareIcon__tvFUa {
    cursor: pointer;
}

.LawyerPictureCard-module_bookmarkIcon__-GEYk path, .LawyerPictureCard-module_shareIcon__tvFUa path {
    fill: #fff;
}

.LawyerPictureCard-module_bookmarkIcon__-GEYk, .LawyerPictureCard-module_shareIcon__tvFUa {
    cursor: pointer;
}

.LawyerPictureCard-module_bookmarkIcon__-GEYk path, .LawyerPictureCard-module_shareIcon__tvFUa path {
    fill: #fff;
}

/*사진부분*/

.LawyerPictureCard-module_body__ovTxk {
    max-height: 640px;
    height: calc(100% - 122px);
    position: relative;
    background-color: #35373a;
}

.LawyerPictureCard-module_carouselWrapper__JDfOy {
    position: relative;
    height: 100%;
    width: 100%;
}

.LawyerPictureCard-module_carouselInner__jRoGT {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.LawyerPictureCard-module_carouselImage__2MQfY {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: inherit;
    object-position: center center;
    pointer-events: none;
    transition: opacity .5s ease;
}

.LawyerPictureCard-module_carouselImage__2MQfY.LawyerPictureCard-module_visible__SGhfg {
    opacity: 1;
}


/*예약하기*/
.profile-page .profile-page__reservation-panel-sheet {
    position: relative;
}

.profile-page .profile-page__reservation-panel {
    visibility: hidden;
}

.profile-page .profile-page__reservation-panel--visible {
    visibility: visible;
}

.ReservationPricePanel-module_panel__VviDH {
    padding: 24px;
    width: 498px;
    border-radius: 12px;
    border: 1px solid #ecf0f4;
    background: #fff;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*쿠폰 발급 전*/
.ReservationPricePanel-module_couponButton__SuusI {
    width: 450px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid rgba(197, 0, 0, 0.87);
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 20px;
    cursor: pointer;
}
/*쿠폰 발급 후*/
.ReservationPricePanel-module_isAlreadyDownloadedCoupon__0jwVU {
    display: none;
    background-color: #f8fafb;
    border: 1px solid #f8fafb;
    cursor: default;
}
/*발급완료*/
.ReservationPricePanel-module_couponDownload__kU17O {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 3px;
}

.ReservationPricePanel-module_downloadComplete__kPVNE path {
    fill: #c4c8cb;
}

.Typography-module_lt-text--weight-600__IvaQr {
    font-weight: 600;
}
.Typography-module_lt-text--size-18__AbfHy {
    font-size: 1.125rem;
}


.Typography-module_lt-text--size-12__GYxFO {
    font-size: 0.75rem;
}


/*쿠폰 다운로드*/
.ReservationPricePanel-module_couponDownload__kU17O {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 3px;
}

.Typography-module_lt-text--weight-500__K1Qvm {
    font-weight: 500;
}

.ReservationPricePanel-module_downloadIcon__tY\+fG path {
    fill: #c50000;
}

/*예약 옵션*/
.ReservationPricePanel-module_consultationOptionRow__OXhDC {
    margin-top: 8px;
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 0 24px;
}

.ReservationPricePanel-module_couponButton__SuusI+.ReservationPricePanel-module_consultationOptionRow__OXhDC {
    margin-top: 28px;
}

.ReservationPricePanel-module_consultationOption__1KM-G {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.Typography-module_lt-text--height-150__JY2i8 {
    line-height: 150%;
}

.ReservationPricePanel-module_consultationPrice__Cm3yr {
    margin-top: 9px;
    white-space: nowrap;
}

.ReservationPricePanel-module_consultationDivider__eoZMh {
    flex: 0 0 1px;
    background-color: #dde1e8;
}

.ReservationPricePanel-module_reserveButtonBottom__iUPKk {
    display: flex;
    padding: 0px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-basis: 56px;
    border-radius: 8px;
    border: 0;
    background: #c50000;
    cursor: pointer;
    margin-top: 28px;
    position: relative;
}

.ReservationPricePanel-module_reserveButtonBottom__iUPKk:disabled {
    cursor: not-allowed;
    background: #757575;
}
.ReservationPricePanel-module_reserveButtonBottom__iUPKk:disabled:hover {
    cursor: not-allowed;
    background: #757575;
}

.ReservationPricePanel-module_reserveButtonBottom__iUPKk:hover {
    background: #d20000;
}

.Typography-module_lt-text--size-20__Coy4u {
    font-size: 1.25rem;
}


/*상담예약하기 누르면 뜨는 창*/
/*ReservationPricePanel-module_reserveButtonBottom__iUPKk 누르면 클래스 명에 -- visible 추가*/
.profile-page__reservation-sheet-wrap {
    /*display: block;*/
}


.profile-page .profile-page__reservation-sheet {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease;
}

.profile-page .profile-page__reservation-sheet--visible {
    max-height: 900px;
}

.ReservationSheet-module_wrapper__0whZO {
    border-radius: 12px;
    border: 1px solid #ecf0f4;
    background-color: #fff;
    width: 482px;
    height: 658px;
    position: relative;
    padding: 7px 23px 0 23px;
}

.IconDropdown-module_iconDropdown__zgosj {
    border-bottom: 1px solid #ecf0f4;
    transition: padding-bottom .2s ease;
    background-color: #fff;
}

.IconDropdown-module_iconDropdown__zgosj.IconDropdown-module_isOpened__iilty {
    padding-bottom: 20px;
}

.IconDropdown-module_iconDropdownHeader__URGu7 {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 14px;
    padding: 20px 0;
}

.IconDropdown-module_iconDropdownIcon__heGYZ {
    width: 24px;
    height: 24px;
}

.IconDropdown-module_iconDropdownIcon__heGYZ path {
    fill: #60666c;
}

.Typography-module_lt-text--weight-600__IvaQr {
    font-weight: 600;
}

.IconDropdown-module_iconDropdown__zgosj.IconDropdown-module_isOpened__iilty .IconDropdown-module_iconDropdownArrow__ctRf- {
    transform: rotate(270deg);
}

.IconDropdown-module_iconDropdownArrow__ctRf- path {
    fill: #7a8287;
}

.IconDropdown-module_iconDropdownBody__J02T8 {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .2s ease;
}

.IconDropdown-module_iconDropdown__zgosj.IconDropdown-module_isOpened__iilty .IconDropdown-module_iconDropdownBody__J02T8 {
    grid-template-rows: 1fr;
}

.IconDropdown-module_iconDropdownBodyInner__1Mztd {
    overflow: hidden;
    position: relative;
}

.ReservationSheet-module_typeButtons__LB0n6 {
    display: flex;
    gap: 12px;
}

.ReservationSheet-module_typeButton__Yj3zD {
    display: flex;
    height: 44px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 0 0 calc(33.3333333333% - 8px);
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #ced4dc;
    background-color: #fff;
    color: rgb(96, 102, 108);
}

.ReservationSheet-module_typeButton__Yj3zD:hover {
    border: 1px solid #c50000;
    color: #c50000;
}

.IconDropdown-module_iconDropdownArrow__ctRf- {
    transform: rotate(90deg);
    margin-left: auto;
}

.ReservationSheet-module_dates__NTIvy {
    display: flex;
    gap: 20px;
}

.ReservationSheet-module_dateButton__4uTaz {
    display: flex;
    width: 44px;
    height: 46px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f8fafb;
    border: 1px solid #f8fafb;
    cursor: pointer;
}

.ReservationSheet-module_dateButtonText__FeznC {
    margin-top: 8px;
    text-align: center;
    cursor: pointer;
}

/*시간*/
.ReservationSheet-module_timeSelector__f-P1w {
    overflow-y: scroll;
    padding-bottom: 12px;
    transition: max-height .2s ease;
    max-height: 0;
}


.ReservationSheet-module_timeSelector__f-P1w::-webkit-scrollbar {
    width: 8px;
}

.ReservationSheet-module_timeSelector__f-P1w::-webkit-scrollbar-thumb {
    /*스크롤바 색상*/
    background: white;
}

.ReservationSheet-module_timeSelector__f-P1w::-webkit-scrollbar-track {
    /*스크롤바 배경 색상*/
    background: white;

}

.ReservationSheet-module_timeGroupLabel__lUV8C {
    color: #60666c;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
}

.ReservationSheet-module_timeIndexButtons__92KzU {
    margin-top: 12px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.ReservationSheet-module_timeIndexButton__Dr2YA {
    display: inline-flex;
    background-color: #fff;
    height: 44px;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: calc((100% - 48px)/5);
    border: 1px solid #ced4dc;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
}

.ReservationSheet-module_timeGroupLabel__lUV8C.ReservationSheet-module_pm__zIIki {
    margin-top: 20px;
}

/*총결제금액*/
.ReservationSheet-module_buttons__6t3N4 {
    display: flex;
    width: 100%;
    padding: 24px 23px 23px 23px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px -4px 12px 0px rgba(0,0,0,.04);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.ReservationSheet-module_totalPriceWrap__7-CWC {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.ReservationSheet-module_totalPriceText__cLaIG {
    color: #7a8287;
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-weight: 400;
    line-height: 145%;
}

.ReservationSheet-module_totalPriceValue__pVpLO {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-weight: 700;
    line-height: 165%;
}

/*다음*/
.ReservationSheet-module_nextButton__-mYex {
    width: 276px;
    height: 56px;
    padding: 0px 18px;
    color: #fff;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
    border-radius: 8px;
    background-color: #c50000;
    border: 0;
}

.ReservationSheet-module_nextButton__-mYex-disabled {
    width: 276px;
    height: 56px;
    padding: 0px 18px;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    cursor: not-allowed;
    border-radius: 8px;
    border: 0;
    background: #f4f7f9;
    color: #c4c8cb;
}



/*closeButton*/
.profile-page .profile-page__reservation-sheet-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -32px;
}

.closeWhite {
    width: 24px;
    display: none;
}

/*선택시*/
.ReservationSheet-module_typeButton__Yj3zD-select {
    border: 1px solid #c50000;
    background-color: rgba(197, 0, 0, 0.08);
    color: #c50000;
    display: flex;
    height: 44px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 0 0 calc(33.3333333333% - 8px);
    cursor: pointer;
    border-radius: 8px;
}


.ReservationSheet-module_dateButton__4uTaz-select {
    display: flex;
    width: 44px;
    height: 46px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #c50000;
    background-color: #c50000;
}


.ReservationSheet-module_timeIndexButton__Dr2YA-select {
    display: inline-flex;
    height: 44px;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: calc((100% - 48px)/5);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    border: 1px solid #c50000;
    background-color: rgba(197, 0, 0, 0.25);
    color: #c50000;
}


/*상담예약하기 누르면 뜨는 창* 끝/








/*반응형*/
@media (min-width: 960px) {
    .lt-mobile {
        display: none !important;
    }

    .profile-page .profile-page__wrapper {
        padding-top: 0;
    }

    /*nav items*/
    .profile-page .profile-contents__nav-items {
        align-items: center;
        border-bottom: 3px double #e0e0e0;
        display: flex;
        gap: 44px;
        height: 117px;
        padding: 0;
    }

    .profile-page .profile-contents__review-count {
        font-size: 13px;
        margin-left: 5px;
        padding: 1.2px 3px;
    }


    /*페이지마다 변경되는 부분*/
    .profile-page .profile-page__tab {
        padding-top: 100px;
    }

    .profile-info section.introduction {
        height: 160px;
    }

    .profile-info section.introduction p.introduction-title {
        font-size: 28px;
        margin-top: 22px;
        width: 100%;
    }

    .profile-info .key-field {
        /*padding-bottom: 57px;*/
        padding-top: 60px;
    }

    .profile-info .key-field a.anchor.key-field-title {
        top: 342px;
    }

    /*각각 필드*/
    .profile-info .key-field .fields .field {
        flex: 0 0 150px;
        height: 44px;
        background-color: #eaeaea;
        border-radius: 15px;
        line-height: 44px;
        margin-top: 15px;
        font-weight: 500;
        color: darkgray;
        margin-right: 30px;
    }

    .profile-info .key-field .fields .field:hover {
        background-color: #f5f5f5;
    }

    .profile-info .key-field .fields .field .name {
        display: inline-block;
        font-size: 14.3px;
        line-height: 23px;
        padding-top: 7px;
    }


    /*경력사항*/
    .profile-info .resume-history {
        /*padding-bottom: 60px;*/
    }

    .profile-info a.anchor.resume_history {
        top: 343px;
    }

    .profile-info resume-history {
        margin-top: 32px;
    }

    .histories-container {
        flex-direction: row;
    }

    .histories-container .name {
        flex: 0 0 136px;
    }

    .histories-container .histories {
        padding-left: 14px;
    }

    .histories-container .histories .history:first-child {
        margin-top: -7px;
    }

    .histories-container .histories .history .left {
        flex: 0 0 110px;
    }

    .histories-container .histories .history .left .dash, .histories-container .histories .history .left .from, .histories-container .histories .history .left .to {
        line-height: 24px;
    }

    .histories-container .histories .history .right {
        flex: 0 0 400px;
    }

    .histories-container .histories .history .right a.description {
        text-underline-position: under;
    }

    /*나누는 영역*/
    .profile-info .divider {
        margin-bottom: 60px;
        margin-top: 60px;
    }

    /*가격정보*/

    .profile-info .advice-fee {
        /*padding-top: 60px;*/
    }

    .profile-info .advice-fee .title {
        margin-bottom: 23px;
    }

    .calc-info .info {
        margin-bottom: -1px;
        padding: 35px 46px 35px 48px;
    }

    /*row*/
    .calc-info .info .advice-fees .advice-calc-fee-row {
        height: 40px;
    }

    .calc-info .info .advice-fees .advice-calc-fee-row .fee-title {
        flex: 0 0 95px;
    }

    .calc-info .info .advice-fees .advice-calc-fee-row .fee-info {
        flex: 0 0 212px;
    }

    .calc-info .info .advice-fees .advice-calc-fee-row .indicator-wrapper {
        flex: 0 0 240px;
        position: relative;
        top: 2px;
    }

    /*서비스*/
    .profile-info .advice-fee .extra-info {
        flex-direction: row;
        padding: 48px 0;
    }

    .profile-info .advice-fee .extra-info .left {
        border-right: 1px solid #f1eeec;
    }

    .profile-info .advice-fee .extra-info .left, .profile-info .advice-fee .extra-info .right {
        flex: 0 0 50%;
        padding: 0 48px;
    }


    .profile-info .advice-fee .extra-info .left .sevice-charges .charge:not(:first-child), .profile-info .advice-fee .extra-info .right .sevice-charges .charge:not(:first-child) {
        margin-top: 16px;
    }

    .profile-info .advice-fee .extra-info .left, .profile-info .advice-fee .extra-info .right {
        flex: 0 0 50%;
        padding: 0 48px;
    }

    /*적정 수임료란?*/
    .profile-info .reasonable-advice-fee {
        margin-top: 28px;
        margin-bottom: 60px;

    }

    .profile-info .reasonable-advice-fee .advice-fee-title {
        height: 24px;
    }


    /*페이지마다 변경되는 부분 끝*/

    /*footer*/
    .lawyer-profile-footer--container {
        border-top: 1px solid #e0e0e0;
        margin-top: 12px;
        padding: 46px 0 50px;
    }

    .lawyer-profile-footer--links-container {
        justify-content: space-between;
        margin-bottom: 7px;
        width: 447px;
    }

    .lawyer-profile-footer--link-wrap {
        width: 332px;
    }

    .lawyer-profile-footer--company-info {
        width: 608px;
    }

    .lawyer-profile-footer--copyright-wrap {
        align-items: flex-end;
    }

    .lawyer-profile-footer--logo {
        height: 36px;
        width: 126px;
    }

    .logoBlack {
        height: 100%;
    }

    .lawyer-profile-footer--copyright {
        margin-left: 45px;
    }

    .profile-page .profile-page__picture .profile-pic-card {
        flex: 1;
        max-height: 762px;
    }

    /*상담예약하기 누르면 뜨는 창*/
    .profile-page .profile-page__reservation-sheet-wrap {
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    .profile-page .profile-page__reservation-sheet {
        border-radius: 12px;
        box-shadow: 0 2px 16px 0 rgba(0,0,0,.08);
    }

    /*상담예약하기 누르면 뜨는 창 끝*/



}





