<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${locationInfo != null}" th:text="${locationInfo.locationName} + ' - 변호사 검색 결과 : 카운슬로우 (CounseLaw)'"></title>
    <title th:if="${locationInfo == null}">변호사 검색 결과 : 카운슬로우 (CounseLaw)</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="/css/defaultSetting.css">
    <link rel="stylesheet" href="/css/lawyerListByLocations/lawyerListByLocations.css">
    <th:block th:replace="~{fix/header :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body>
<div class="search-controller main-content-container">
    <header th:replace="~{fix/header :: my-header}"></header>
    <div class="location-lawyers" style="margin-top: 124px;">
        <div class="search-content" style="visibility: visible;"><!---->
            <section class="content-section lawyers-section">
                <div class="lawyers-section-wrap section-wrap lawyers-tab-section">
                    <!--제목 부분입니다.-->
                    <h2 th:text="${locationInfo.locationName} + ' 지역에서 활동하는 변호사'" class="location-lawyers__title lt-desktop"></h2>
                    <!--활동지역 변호사란?-->
                    <div class="location-lawyers__info-area location-lawyers__info-area--show">활동지역 변호사란, 이 지역에서 사건 수임,
                        상담(전화상담, 출장 상담 포함)이 가능한 변호사를 의미합니다. 따라서 변호사 사무실의 실제 위치는 다른 지역일 수 있습니다. 실제 사무실 위치는 프로필카드 목록 또는
                        변호사 프로필 상세페이지에서 확인할 수 있습니다.
                        <button class="location-lawyers__info-area-close">
                            <img class="closeButton" src="/image/lawyerListByLocations/close.png" alt="닫기">
                        </button>
                    </div>
                    <button class="location-lawyers__info-button">
                        활동지역 변호사란?</button>
                    <table class="lawyers-list-wrapper">
                        <tbody>
                        <tr>
                            <td class="lawyers-list-td all"><!---->
                                <section class="lawyers-list all desktop-align-top-md"><!---->
                                    <div class="premium-lawyer-section lawyer-section-title all">
                                        <premium-lawyer-section>
                                            <div class="premium-lawyer-section--component"
                                                 style="width: 742px; top: 0px;">
                                                <div class="premium-lawyer-section--title">ACTIVE LAWYERS</div>
                                            </div>
                                            <div class="lawyer-name" th:text="'검색 결과 총 ' + ${resultCount} + '명'"></div>
                                        </premium-lawyer-section>
                                    </div><!---->
                                    <div class="premium-lawyer-card-list">
                                        <lawyer-card-v2 class="need-boundary" th:each="eachLawyer : ${foundLawyers}">
                                            <article class="lawyer-card-v2-premium no-timeslot-card hide-category has-badges">
                                                <div class="lawyer-profile-right">
                                                    <div class="picture" th:onclick="'location.href=\'/lawyer-home/lawyer-home?lawyerId=' + ${eachLawyer.lawyerId} + '\''">
                                                        <img width="256" height="256" class="lawyer-profile"
                                                             th:src="${eachLawyer.lawyerImage == null ? '/image/defaultLawyerProfile/defaultLawyerProfile.png' : eachLawyer.lawyerImage}">
                                                    </div>
                                                </div>
                                                <div class="lawyer-profile-left">
                                                    <div class="lawyer-profile-left-header">
                                                        <a class="lawyer-name" th:text="${eachLawyer.lawyerName} + ' 변호사'"
                                                           th:href="'/lawyer-home/lawyer-home?lawyerId=' + ${eachLawyer.lawyerId}">
                                                        </a>
                                                    </div>
                                                    <div th:text="${eachLawyer.lawyerCompany}" class="lawyer-card-v2-premium__company-name"></div>
                                                    <a th:text="${#strings.equals(eachLawyer.lawyerIntroduction, '미입력') ? '안녕하세요. ' + eachLawyer.lawyerName + ' 변호사입니다' : eachLawyer.lawyerIntroduction}"
                                                       class="lawyer-description" th:href="'/lawyer-home/lawyer-home?lawyerId=' + ${eachLawyer.lawyerId}">
                                                    </a>
                                                    <div class="lawyer-review-coupon-icon-wrap has-review">
                                                        <div class="lawyer-review">
                                                            <div class="lawyer-review-rate-block">
                                                                <a th:href="'/lawyer-home/client-reviews?lawyerId=' + ${eachLawyer.lawyerId}">
                                                                    <div th:text="'의뢰인 후기 ' + ${eachLawyer.reviewCount == null ? 0 : eachLawyer.reviewCount} + '개'" class="lawyer-review-count">
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="available-solutions-block">
                                                        <div class="available-solutions">
                                                            <div class="available-solution">
                                                                <div class="solution-text solution-title">15분 전화상담</div>
                                                                <div th:text="${eachLawyer.callPrice == 0 ? '미입력' : #numbers.formatInteger(eachLawyer.callPrice, 1, 'COMMA') + '원'}" class="solution-text solution-price"></div>
                                                            </div>
                                                            <div class="available-solution">
                                                                <div class="solution-text solution-title">20분 영상상담</div>
                                                                <div th:text="${eachLawyer.videoPrice == 0 ? '미입력' : #numbers.formatInteger(eachLawyer.videoPrice, 1, 'COMMA') + '원'}" class="solution-text solution-price"></div>
                                                            </div>
                                                            <div class="available-solution">
                                                                <div class="solution-text solution-title">30분 방문상담</div>
                                                                <div th:text="${eachLawyer.visitPrice == 0 ? '미입력' : #numbers.formatInteger(eachLawyer.visitPrice, 1, 'COMMA') + '원'}" class="solution-text solution-price"></div>
                                                            </div>
                                                        </div>
                                                        <button th:onclick="'location.href=\'/lawyer-home/lawyer-home?lawyerId=' + ${eachLawyer.lawyerId} + '\''" class="reservation-button">
                                                            예약하기
                                                        </button>
                                                    </div>
                                                    <div class="lawyer-more-see-block">
                                                        <a th:href="'/lawyer-home/lawyer-home?lawyerId=' + ${eachLawyer.lawyerId}">
                                                            <div class="lawyer-more-see-text">더 알아보기</div>
                                                            <div class="lawyer-more-see-arrow"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </article>
                                        </lawyer-card-v2>
                                    </div>
                                    <div th:if="${#lists.isEmpty(foundLawyers)}" class="empty-lawyer-message">해당 지역에 맞는 변호사가 없습니다.</div>
                                    <section class="review-pagination">
                                        <lt-pagination th:with="start=${pagination.startPage}, last=${pagination.endPage}">
                                            <div class="lt-pagination pagination-component">
                                                <div class="lt-pagination__pages">
                                                    <div class="lt-pagination__pages-button-wrap">
                                                        <a th:each="eachpage : ${#numbers.sequence(start, last)}" th:href="'/lawyer-search/lawyer-list-by-locations?locationId=' + ${locationId} + '&page=' + ${eachpage}"
                                                           th:classappend="${eachpage == pagination.page ? 'on' : 'off'}"
                                                           class="lt-pagination__pages-button" th:text="${eachpage}">
                                                        </a>
                                                    </div>
                                                    <div class="pagination-next-five" th:if="${pagination.endPage >= 6}">
                                                        <a th:href="'/lawyer-search/lawyer-list-by-locations?locationId=' + ${locationId} + '&page=' + ${start+5}">
                                                            다음 5페이지
                                                        </a>
                                                    </div>
                                                    <div class="pagination-arrow-button" th:if="${pagination.endPage >= 6}">
                                                        <img width=20 height=20 src="/image/clientReviews/next.png" class="PaginationButtonGroup_Icon">
                                                    </div>
                                                </div>
                                            </div>
                                        </lt-pagination>
                                    </section>
                                </section>
                            </td>
                            <td class="filter-column">
                                <aside class="aside-section" style="top: 127px;">
                                    <div class="aside-title">다른 지역 검색하기</div>
                                    <div class="category-wrapper">
                                        <a th:each="location : ${allLocations}" th:text="${location.locationName}"
                                           th:classappend="${location.locationId == locationId ? 'active' : ''}" class="each-category-link"
                                           th:href="'/lawyer-search/lawyer-list-by-locations?locationId=' + ${location.locationId}">
                                        </a>
                                    </div>
                                </aside>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <div class="hidden-div"></div>
    <footer th:replace="~{fix/footer :: my-footer}"></footer>
</div>
</body>
<script src="/js/lawyerListByLocations/lawyerListByLocations.js"></script>
</html>