<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>온라인 상담 - 마이페이지 | 카운슬로우</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="./online.css">
</head>
<body>
<div class="root pc">
    <div style="height: 100%;">
        <div class="Online-Wrapper">
            <div class="Online-Contents">
                <div class="Online-My">
                    <div class="Online-My-Contents">
                        <div class="Online-My-Favorites">
                            <div>
                                <div class="Online-List">
                                    <header class="Online-List-Header">
                                        <div class="Online-List-Header-Info">
                                            <div class="Online-List-Header-Info-Icon-Wrapper">
                                                <i class="Online-List-Header-Info-Icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                         fill="currentColor" class="bi bi-info-circle"
                                                         viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                    </svg>
                                                </i>
                                            </div>
                                            <div class="Online-List-Header-Info-Description">
                                                제목은 답변을 받기에 적합한 내용으로 일부 변경될 수 있습니다.
                                            </div>
                                        </div>
                                        <div class="Online-List-Header-Count-Wrapper">
                                            <div class="Online-List-Header-Count-Description">
                                                총&nbsp;
                                                <span class="Online-List-Header-Count">1</span>
                                                개
                                            </div>
                                        </div>
                                    </header>
                                    <section class="Online-List-Contents">
                                        <div class="Online-List-Feed">
                                            <div class="Online-List-Cards-Wrapper">
                                                <a href="" style="text-decoration: none;">
                                                    <div>
                                                        <div class="Online-List-Card-Wrapper">
                                                            <h5 class="Online-List-Card-Keyword">
                                                                <span class="Online-List-Card-Keyword-Text">음주/무면허</span>
                                                            </h5>
                                                            <div class="Online-List-Card-Title">
                                                                음주운전 초범과 관련한 항소관련 궁금증
                                                            </div>
                                                            <div class="Online-List-Card-Answer">
                                                                답변
                                                                <span class="Online-List-Card-Answer-Lawyer">
                                                                    한동석 변호사
                                                                </span>
                                                            </div>
                                                            <div class="Online-List-Card-Answer-Detail">
                                                                1. 피고인이 제출한 자료가 누락되지는 않습니다. 젠장 이 부분은 1심 공판에서 왜 주장하지 않으신건지.
                                                                항소심에서 다시 제출하시고 양형에 집중하시기 바랍니다. 2. 구체적인 상담을 거친 답변이 아니오니
                                                                참고만 하시고 대한변호사협회 등록 형사전문변호사이니 궁금하신 사항은 연락주세요.
                                                            </div>
                                                            <div class="Online-List-Card-Other-Answers">
                                                                <div class="Online-List-Card-Other-Photo-Wrapper">
                                                                    <img src="./counselingLawyerImages/counselingLawyerImage1.png"
                                                                         alt="다른 변호사 사진1"
                                                                         class="Online-List-Card-Other-Photo">
                                                                </div>
                                                                <div class="Online-List-Card-Other-Description">
                                                                    <div class="Online-List-Card-Other-Inner">
                                                                        다른 변호사 답변 1개
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="Online-List-Card-Info">
                                                                <span class="Online-List-Card-Viewcount">
                                                                    조회수
                                                                    <i class="Online-List-Card-Viewcount-Number">31</i>
                                                                </span>
                                                                <span class="Online-List-Card-Bookmark-Count">
                                                                    <i class="Online-List-Card-Bookmark-Icon-Wrapper">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                             width="15" height="15" fill="currentColor"
                                                                             class="bi bi-star" viewBox="0 0 16 16">
                                                                             <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                        </svg>
                                                                    </i>
                                                                </span>
                                                                <span class="Online-List-Card-Date">3시간 전 답변 작성됨</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="Online-List-Contents-Trigger-Load"></div>
                                            <div class="Online-List-Compose-Section">
                                                <h5 class="Online-List-Compose-Section-Title">
                                                    더 빠르고 디테일한 상담을 원하세요?
                                                </h5>
                                                <div class="Online-List-Phone-Advice">
                                                    <p class="Online-List-Phone-Advice-Desc">
                                                        원하는 시간에 원하는 변호사에게
                                                        <br>
                                                        15분간 전화로 상담하는
                                                    </p>
                                                    <a href="" class="Online-List-To-Advice">
                                                        15분 전화상담
                                                        <div class="Online-List-To-Advice-Icon-Wrapper">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                                                 height="18" fill="currentColor"
                                                                 class="bi bi-chevron-compact-right"
                                                                 viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                      d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="Slash"></div>
                                                <div class="Online-List-Phone-Advice">
                                                    <p class="Online-List-Phone-Advice-Desc">
                                                        원하는 시간에 원하는 변호사와
                                                        <br>
                                                        직접 만나서 30분간 상담하는
                                                    </p>
                                                    <a href="" class="Online-List-To-Advice">
                                                        30분 방문상담
                                                        <div class="Online-List-To-Advice-Icon-Wrapper">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                                                 height="18" fill="currentColor"
                                                                 class="bi bi-chevron-compact-right"
                                                                 viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                      d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                                                            </svg>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <aside class="Online-List-Aside">
                                            <div class="Online-Write-Banner">
                                                <div class="Online-Write-Icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                         fill="currentColor" class="bi bi-pencil-square"
                                                         viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                        <path fill-rule="evenodd"
                                                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                    </svg>
                                                </div>
                                                <div class="Online-Write-Description">
                                                    상담글 작성하고 무료로
                                                    <br>
                                                    변호사의 답변을 받으세요.
                                                </div>
                                                <a href="" class="Link-To-Write">
                                                    상담글 쓰기
                                                    <i class="Online-Right-Arrow-Icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                             fill="currentColor" class="bi bi-chevron-compact-right"
                                                             viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd"
                                                                  d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                                                        </svg>
                                                    </i>
                                                </a>
                                            </div>
                                            <div class="Online-List-Aside-Content-Wrapper">
                                                <div class="Online-List-Aside-Content">
                                                    <div class="Online-List-Aside-Content-Tip">
                                                        <div class="Online-List-Aside-Content-Heading">꼭 알아두세요!</div>
                                                    </div>
                                                    <div class="Online-List-Aside-Lawguides">
                                                        <a href="" class="Online-Lawguide-Each-Link">
                                                            <h3 class="Online-Lawguide-Title">스토킹과 협박 관련 고소 상담</h3>
                                                            <h5 class="Online-Lawguide-Lawyername">한동석 변호사</h5>
                                                        </a>
                                                        <a href="" class="Online-Lawguide-Each-Link">
                                                            <h3 class="Online-Lawguide-Title">직장에서 사직서가 사라진 경우, 어떻게
                                                                해야할까요?</h3>
                                                            <h5 class="Online-Lawguide-Lawyername">한동석 변호사</h5>
                                                        </a>
                                                        <a href="" class="Online-Lawguide-Each-Link">
                                                            <h3 class="Online-Lawguide-Title">회사 내 명예훼손 소송 상담</h3>
                                                            <h5 class="Online-Lawguide-Lawyername">한동석 변호사</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </aside>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="online.js"></script>
</html>