<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>30분 방문상담 - 마이페이지 | 카운슬로우</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="/css/counseling-histories/counselingHistories.css">
    <link rel="stylesheet" href="/css/mypage/mypage-header.css">
</head>
<body>
<div class="root pc">
    <div class="MypageHeaderWrapper">
        <header class="MypageHeader">
            <div class="MypageHeaderLeft">
                <div class="MypageHeader-LogoWrapper">
                    <a href="/">
                        <img src="/image/mypage/main_logo.png" alt="카운슬로우 로고" class="MypageHeader-MainLogo">
                    </a>
                </div>
            </div>
            <div class="MypageHeaderCenter">
                <p class="MypageHeaderText">내 30분 방문 상담 내역</p>
            </div>
            <div class="MypageHeaderRight">
                <div class="MypageHeaderRight-ButtonContainer">
                    <a href="/member/mypage-member" style="text-decoration: none;">
                        <p class="MypageHeaderRight-Button">마이페이지로</p>
                    </a>
                    <a href="/login/logout-finally" style="text-decoration: none;">
                        <p class="MypageHeaderRight-Button">로그아웃</p>
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div style="height: 100%;">
        <div class="History-Wrapper">
            <div class="History-Contents">
                <div class="My-History-Wrapper">
                    <div class="My-History-Content">
                        <div class="My-History">
                            <div class="My-History-Card-Body">
                                <div class="Exclamation-Icon-Wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" fill="currentColor"
                                         class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                    </svg>
                                </div>
                                <h1 class="My-History-Empty-Title">
                                    나의 방문상담이 아직 없습니다
                                </h1>
                                <p class="My-History-Empty-Body">
                                    원하는 변호사님을 선택해서
                                    <br>
                                    방문상담을 해보세요.
                                </p>
                                <a href="/" class="My-History-Prev-Link">메인 페이지</a>
                                <a href="/lawyer-search/search-by-categories" class="My-History-Find-Link">방문상담 예약하기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>