<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!doctype html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>내가 작성한 온라인 상담글 - 마이페이지 | 카운슬로우</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="/css/myFavoritePosts/myFavoritePosts.css">
    <th:block th:replace="~{fix/header :: my-header-head}"></th:block>
    <th:block th:replace="~{fix/footer :: my-footer-head}"></th:block>
</head>
<body>
<div class="root pc">
    <header th:replace="~{fix/header :: my-header}"></header>
    <div style="height: 100%;">
        <div class="MFP-Wrapper">
            <div class="MFP-Contents">
                <div class="MFP-My">
                    <div class="MFP-My-Contents">
                        <div class="MFP-My-Favorites">
                            <div>
                                <div class="MFP-List">
                                    <section class="MFP-List-Contents">
                                        <div class="MFP-List-Feed">
                                            <!--                                            th:each 들어갈 곳-->
                                            <div class="MFP-List-Question-Wrapper" th:each="myConsults:${myConsults}">
                                                <!--                                                반복-->
                                                <a th:href="@{/consult-detail/{consultId}(consultId=${myConsults.getConsultingCaseId()})}">
                                                    <div>
                                                        <div class="MFP-List-Question">
                                                            <!--                                                            <h5 class="MFP-List-Question-Keywords">-->
                                                            <!--                                                                <span class="MFP-List-Question-Keyword">음주/무면허</span>-->
                                                            <!--                                                            </h5>-->
                                                            <h1 class="MFP-List-Question-Title"
                                                                th:text="${myConsults.getCaseTitle()}"></h1>
                                                            <div class="MFP-List-Question-Viewcount" th:text="'조회수 ' + ${myConsults.getCaseCount()}"></div>
<!--                                                            <div class="MFP-List-Question-Inner">-->
<!--                                                                <div class="MFP-List-Question-Answer">-->
<!--                                                                    <strong class="MFP-List-Question-Answer-Author"-->
<!--                                                                            th:text="${myFavoritePosts.lawyerReplyCount} + '개의 변호사 답변'">-->
<!--                                                                    </strong>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
                                                        </div>
                                                    </div>
                                                </a>
<!--                                                <hr>-->
                                            </div>
                                            <div class="MFP-List-Contents-Trigger-Load"></div>
                                        </div>
                                        <aside class="MFP-List-Aside">
                                            <div class="MFP-Write-Banner">
                                                <div class="MFP-Write-Icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                    </svg>
                                                </div>
                                                <div class="MFP-Write-Description">
                                                    상담글 작성하고 무료로
                                                    <br>
                                                    변호사의 답변을 받으세요.
                                                </div>
                                                <a th:href="@{/counseling/counseling-write}" class="Link-To-Write">
                                                    상담글 쓰기
                                                    <i class="MFP-Right-Arrow-Icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                                                        </svg>
                                                    </i>
                                                </a>
                                            </div>
                                            <div class="MFP-List-Aside-Content-Wrapper">
                                                <div class="MFP-List-Aside-Content">
                                                    <div class="MFP-List-Aside-Content-Tip">
                                                        <div class="MFP-List-Aside-Content-Heading">꼭 알아두세요!</div>
                                                    </div>
                                                    <div class="MFP-List-Aside-Lawguides" th:each="legalGuideWithDetail:${legalGuideWithDetail}">
                                                        <a th:href="'/legal-guide-page/legal-guide2?legalGuideId=' + ${legalGuideWithDetail.legalGuideId}" class="MFP-Lawguide-Each-Link">
                                                            <h3 class="MFP-Lawguide-Title" th:text="${legalGuideWithDetail.legalGuideTitle}"></h3>
                                                            <h5 class="MFP-Lawguide-Lawyername" th:text="${legalGuideWithDetail.lawyerName} + ' 변호사' "></h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </aside>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>