<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.counselawb.mapper.ConsultingCaseMapper">
<!--    상담사례 전체 목록 불러오기-->
    <select id="selectAllConsultingCase" resultType="consultingCaseVO">
        SELECT CONSULTING_CASE_ID, MEMBER_ID, CASE_TITLE, CASE_CONTENT, CREATE_DATE, UPDATE_DATE
        FROM TBL_CONSULTING_CASE

    </select>

<!--    상담사례 목록에 보일 변호사 이름, 작성자 이름, 답변 내용(가장 최근 날짜)등 다 불러오기-->
    <select id="readAllConsult" resultType="consultingCaseDTO">
        SELECT *
        FROM (
                SELECT ROWNUM R, CCC.CONSULTING_CASE_ID, CASE_TITLE, CASE_CONTENT, MEMBER_ID, CCC.CONSULT_CREATE_DATE,
                       LAWYER_ID, LAWYER_NAME, CCC.REPLY_ID, CCC.REPLY_CONTENT, CASE_COUNT, CCC.CREATE_DATE, CCC.REPLY_COUNT
                FROM (
                        SELECT CC.CONSULTING_CASE_ID, CC.CASE_TITLE, CC.CASE_CONTENT, CC.MEMBER_ID, CC.CREATE_DATE AS CONSULT_CREATE_DATE,
                                       CCR.LAWYER_ID, L.LAWYER_NAME, CCR.CONSULTING_CASE_REPLY_ID AS REPLY_ID, CCR.CONSULTING_CASE_REPLY_CONTENT AS REPLY_CONTENT,
                                               CC.CASE_COUNT, CCR.CREATE_DATE AS CREATE_DATE,
                                               (SELECT COUNT(*)
                                                FROM TBL_CONSULTING_CASE_REPLY CCR1
                                                        WHERE CCR1.CONSULTING_CASE_ID = CC.CONSULTING_CASE_ID) AS REPLY_COUNT
                                FROM TBL_CONSULTING_CASE CC
                                    LEFT JOIN (
                                            SELECT CCR1.CONSULTING_CASE_ID, CCR1.CONSULTING_CASE_REPLY_ID, CCR1.CONSULTING_CASE_REPLY_CONTENT, CCR1.LAWYER_ID, CCR1.CREATE_DATE
                                                    FROM TBL_CONSULTING_CASE_REPLY CCR1
                                                    WHERE CCR1.CREATE_DATE = (
                                                            SELECT MIN(CREATE_DATE)
                                                            FROM TBL_CONSULTING_CASE_REPLY CCR2
                                                            WHERE CCR2.CONSULTING_CASE_ID = CCR1.CONSULTING_CASE_ID
                                                            )
                                                    ) CCR ON CC.CONSULTING_CASE_ID = CCR.CONSULTING_CASE_ID
                                    LEFT JOIN TBL_LAWYER L ON CCR.LAWYER_ID = L.LAWYER_ID
                                ORDER BY CC.CONSULTING_CASE_ID DESC -- CONSULTING_CASE_ID를 내림차순으로 정렬
                    ) CCC
                )
        <![CDATA[
        WHERE R >= #{startRow} AND R <= #{endRow}
        ]]>
    </select>

<!--    상담사례 총 개수 불러오기-->
    <select id="selectAllCaseCounts" resultType="int">
        SELECT COUNT(CONSULTING_CASE_ID)
        FROM TBL_CONSULTING_CASE
    </select>

<!--    사이드바에 넣을 변호사 불러오기-->
    <select id="readAllLawyers" resultType="lawyerSidebarDTO">
    <![CDATA[
        SELECT LAWYER_ID, LAWYER_NAME, LAWYER_INTRODUCTION, LAWYER_IMAGE
        FROM TBL_LAWYER
        WHERE ROWNUM <= 10
        ]]>
    </select>



<!--    조회수 올리는 update문-->
    <update id="updateViewCount">
        UPDATE TBL_CONSULTING_CASE
        SET CASE_COUNT = CASE_COUNT + 1
        WHERE CONSULTING_CASE_ID = #{consultId}
    </update>



</mapper>