<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.counselawb.mapper.ConsultingCaseMapper">
    <!--    상담 사례에 대한 제목, 시간, 내용 불러오기-->
    <select id="readDetailConsult" resultType="consultingCaseVO">
        SELECT CONSULTING_CASE_ID, CASE_TITLE, CASE_CONTENT, CREATE_DATE, UPDATE_DATE, MEMBER_ID
        FROM TBL_CONSULTING_CASE
        WHERE CONSULTING_CASE_ID = #{consultId}
    </select>

<!--    consultId에 해당하는 변호사 정보, 이름, 답변 불러오기-->
    <select id="readLawyerByConsultId" resultType="consultDetailDTO">
        SELECT
            r.CONSULTING_CASE_REPLY_ID AS replyId,
            r.CONSULTING_CASE_REPLY_CONTENT AS replyContent,
            l.LAWYER_ID,
            l.LAWYER_NAME,
            l.LAWYER_COMPANY,
            r.CONSULTING_CASE_ID,
            r.CREATE_DATE
        FROM TBL_CONSULTING_CASE c
                 LEFT JOIN TBL_CONSULTING_CASE_REPLY r ON c.CONSULTING_CASE_ID = r.CONSULTING_CASE_ID
                 LEFT JOIN TBL_LAWYER l ON r.LAWYER_ID = l.LAWYER_ID
        WHERE c.CONSULTING_CASE_ID = #{consultId}
    </select>

<!--    consultId에 해당하는 답변의 개수-->
    <select id="countReplyByConsultId" resultType="int">
        SELECT COUNT(r.CONSULTING_CASE_REPLY_ID) AS replyCount
        FROM TBL_CONSULTING_CASE c
                 LEFT JOIN TBL_CONSULTING_CASE_REPLY r ON c.CONSULTING_CASE_ID = r.CONSULTING_CASE_ID
        WHERE c.CONSULTING_CASE_ID = #{consultId}
        GROUP BY c.CONSULTING_CASE_ID
    </select>

</mapper>