<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.counselawb.mapper.ConsultingCaseMapper">
<!--    상담글 제목과 내용을 저장하기-->
    <insert id="writeConsult">
        INSERT INTO TBL_CONSULTING_CASE(CONSULTING_CASE_ID, MEMBER_ID, CASE_TITLE, CASE_CONTENT, CREATE_DATE, UPDATE_DATE)
        VALUES(SEQ_CONSULTING_CASE.nextval, #{memberId},#{faqTitle},#{faqContent},LOCALTIMESTAMP,LOCALTIMESTAMP)
    </insert>

</mapper>