<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.counselawb.mapper.CouponMemberMapper">
    <select id="selectMyCoupons" resultType="couponMemberDTO">
        SELECT C.COUPON_TITLE, C.COUPON_DESCRIPTION, C.COUPON_DISCOUNT_RATE, C.COUPON_AVAILABLE_TYPE, MC.MEMBER_ID, MC.COUPON_EXPIRE_DATE
        FROM TBL_COUPON C
                 JOIN TBL_MEMBER_COUPON MC
                      ON MC.COUPON_ID = C.COUPON_ID
        WHERE MEMBER_ID = #{memberId};
    </select>

</mapper>