<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.counselawb.mapper.LawyerSearchMapper">
    <select id="selectAllFieldCategories" resultType="fieldCategoryVO">
        SELECT FIELD_CATEGORY_ID, FIELD_CATEGORY_NAME
        FROM TBL_FIELD_CATEGORY
        ORDER BY FIELD_CATEGORY_ID
    </select>

    <select id="selectLawyersCountByFieldId" resultType="int">
        SELECT COUNT(LAWYER_ID)
        FROM TBL_LAWYER_FIELD
        WHERE FIELD_ID = #{fieldId}
    </select>
    
    <select id="selectLawyersByFieldId" resultType="lawyerFieldSearchDTO">
        SELECT P3.FIELD_ID, P3.LAWYER_ID, P3.LAWYER_FIELD_ID, P3.LAWYER_IMAGE, P3.LAWYER_NAME, P3.LAWYER_ADDRESS, P3.LAWYER_INTRODUCTION, P3.CALL_PRICE, P3.VIDEO_PRICE, P3.VISIT_PRICE, P3.REVIEW_COUNT
        FROM
            (SELECT ROWNUM R, P2.FIELD_ID, P2.LAWYER_ID, P2.LAWYER_FIELD_ID, P2.LAWYER_IMAGE, P2.LAWYER_NAME, P2.LAWYER_ADDRESS, P2.LAWYER_INTRODUCTION, P2.CALL_PRICE, P2.VIDEO_PRICE, P2.VISIT_PRICE, P2.REVIEW_COUNT
            FROM
                (SELECT LF.FIELD_ID, LF.LAWYER_ID, LF.LAWYER_FIELD_ID, L.LAWYER_IMAGE, L.LAWYER_NAME, L.LAWYER_ADDRESS, L.LAWYER_INTRODUCTION, L.CALL_PRICE, L.VIDEO_PRICE, L.VISIT_PRICE, P1.REVIEW_COUNT
                FROM TBL_LAWYER_FIELD LF
                JOIN TBL_LAWYER L
                ON LF.LAWYER_ID = L.LAWYER_ID
                LEFT OUTER JOIN
                    (SELECT COUNT(CR.CONSULTING_REVIEW_ID) "REVIEW_COUNT", R.LAWYER_ID
                     FROM TBL_CONSULTING_REVIEW CR
                              JOIN TBL_RESERVATION R
                                   ON CR.RESERVATION_ID = R.RESERVATION_ID
                     GROUP BY R.LAWYER_ID) P1
                ON LF.LAWYER_ID = P1.LAWYER_ID
                WHERE LF.FIELD_ID = #{fieldId}
                ORDER BY P1.REVIEW_COUNT) P2
        <![CDATA[
            WHERE ROWNUM <= #{pagination.endRow} ) P3
        WHERE P3.R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="selectFieldInfo" resultType="fieldVO">
        SELECT FIELD_ID, FIELD_TITLE, FIELD_DESCRIPTION
        FROM TBL_FIELD
        WHERE FIELD_ID = #{fieldId}
    </select>
</mapper>