<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.counselawb.mapper.LawyerSearchMapper">
    <select id="selectAllFieldCategories" resultType="fieldCategoryVO">
        SELECT FIELD_CATEGORY_ID, FIELD_CATEGORY_NAME
        FROM TBL_FIELD_CATEGORY
        ORDER BY FIELD_CATEGORY_ID
    </select>
    
    <select id="selectLawyersByFieldId" resultType="lawyerFieldSearchDTO">
        SELECT LF.LAWYER_FIELD_ID, LF.FIELD_ID, LF.LAWYER_ID, L.LAWYER_IMAGE, L.LAWYER_NAME, L.LAWYER_ADDRESS, L.CALL_PRICE, L.VIDEO_PRICE, L.VISIT_PRICE, P1.REVIEW_COUNT
        FROM TBL_LAWYER_FIELD LF
        JOIN TBL_LAWYER L
        ON LF.LAWYER_ID = L.LAWYER_ID
        JOIN
            ( SELECT COUNT(CR.CONSULTING_REVIEW_ID) "REVIEW_COUNT", R.LAWYER_ID
            FROM TBL_CONSULTING_REVIEW CR
            JOIN TBL_RESERVATION R
            ON R.RESERVATION_ID = CR.CONSULTING_REVIEW_ID
            GROUP BY R.LAWYER_ID) P1
        ON P1.LAWYER_ID = LF.LAWYER_ID
        WHERE LF.FIELD_ID = #{fieldId}
    </select>
</mapper>