<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.counselawb.mapper.LawyerMapper">
    <select id="selectByLawyerId" resultType="lawyerVO">
        SELECT LAWYER_ID, LAWYER_EMAIL, LAWYER_PASSWORD, LAWYER_NAME, LAWYER_STATE, LAWYER_PHONE, LAWYER_COMPANY, LAWYER_ADDRESS, LAWYER_QUALIFICATION, LAWYER_EDUCATION, LAWYER_IMAGE, CALL_PRICE, VIDEO_PRICE, VISIT_PRICE
        FROM TBL_LAWYER L
        WHERE LAWYER_ID = #{lawyerId}
    </select>

    <select id="selectSCTotalByLawyerId" resultType="int">
        SELECT COUNT(SOLUTION_CASE_ID)
        FROM TBL_SOLUTION_CASE
        WHERE LAWYER_ID = #{lawyerId}
    </select>

    <select id="selectLGTotalByLawyerId" resultType="int">
        SELECT COUNT(LEGAL_GUIDE_ID)
        FROM TBL_LEGAL_GUIDE
        WHERE LAWYER_ID = #{lawyerId}
    </select>

    <select id="selectFavTotalByLawyerId" resultType="int">
        SELECT COUNT(LAWYER_LIKE_ID)
        FROM TBL_LAWYER_LIKE
        WHERE LAWYER_ID = #{lawyerId}
    </select>

    <select id="selectFieldsByLawyerId" resultType="lawyerFieldDTO">
        SELECT LF.LAWYER_FIELD_ID, LF.FIELD_ID, LF.LAWYER_ID, F.FIELD_TITLE, F.FIELD_DESCRIPTION
        FROM TBL_LAWYER_FIELD LF
        JOIN TBL_FIELD F
        ON F.FIELD_ID = LF.FIELD_ID
        WHERE LAWYER_ID = #{lawyerId}
    </select>

    <select id="selectPhoneCountByLawyerId" resultType="int">
        SELECT COUNT(RESERVATION_ID)
        FROM TBL_RESERVATION
        WHERE LAWYER_ID = #{lawyerId} AND CONSULTING_TYPE = 'PHONE'
    </select>

    <select id="selectVideoCountByLawyerId" resultType="int">
        SELECT COUNT(RESERVATION_ID)
        FROM TBL_RESERVATION
        WHERE LAWYER_ID = #{lawyerId} AND CONSULTING_TYPE = 'VIDEO'
    </select>

    <select id="selectVisitCountByLawyerId" resultType="int">
        SELECT COUNT(RESERVATION_ID)
        FROM TBL_RESERVATION
        WHERE LAWYER_ID = #{lawyerId} AND CONSULTING_TYPE = 'VISIT'
    </select>

    <select id="selectReplyCountByLawyerId" resultType="int">
        SELECT COUNT(CONSULTING_CASE_REPLY_ID)
        FROM TBL_CONSULTING_CASE_REPLY
        WHERE LAWYER_ID = #{lawyerId}
    </select>

    <update id="updatePw">
        UPDATE TBL_LAWYER
        SET LAWYER_PASSWORD = #{lawyerPassword}
        WHERE LAWYER_ID = #{lawyerId}
    </update>

    <update id="updatePhone">
        UPDATE TBL_LAWYER
        SET LAWYER_PHONE = #{lawyerPhone}
        WHERE LAWYER_ID = #{lawyerId}
    </update>

</mapper>