<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.counselawb.mapper.LawyerHomeMapper">
    <select id="selectCasesAndRepliesByLawyerId" resultType="lawyerReplyDTO">
        SELECT P2.CONSULTING_CASE_ID, P2.MEMBER_ID, P2.CASE_TITLE, P2.CONSULTING_CASE_REPLY_ID, P2.LAWYER_ID, P2.CONSULTING_CASE_REPLY_CONTENT, P2.CREATE_DATE, P2.UPDATE_DATE
        FROM
            (SELECT ROWNUM R, P1.CONSULTING_CASE_ID, P1.MEMBER_ID, P1.CASE_TITLE, P1.CONSULTING_CASE_REPLY_ID, P1.LAWYER_ID, P1.CONSULTING_CASE_REPLY_CONTENT, P1.CREATE_DATE, P1.UPDATE_DATE
            FROM
                (SELECT CC.CONSULTING_CASE_ID, CC.MEMBER_ID, CC.CASE_TITLE, CCR.CONSULTING_CASE_REPLY_ID, CCR.LAWYER_ID, CCR.CONSULTING_CASE_REPLY_CONTENT, CCR.CREATE_DATE, CCR.UPDATE_DATE
                FROM TBL_CONSULTING_CASE CC
                JOIN TBL_CONSULTING_CASE_REPLY CCR
                ON CC.CONSULTING_CASE_ID = CCR.CONSULTING_CASE_ID
                WHERE CCR.LAWYER_ID = #{lawyerId}
                ORDER BY CCR.CONSULTING_CASE_REPLY_ID DESC) P1 ) P2
        WHERE P2.R IN (1, 2, 3)
    </select>

    <select id="selectReviewsByLawyerId" resultType="lawyerReviewDTO">
        SELECT R.RESERVATION_ID, R.CONSULTING_TYPE, R.LAWYER_ID, R.MEMBER_ID, CR.CONSULTING_REVIEW_ID, CR.FIELD_ID, CR.REVIEW_TITLE, CR.REVIEW_CONTENT, CR.CREATE_DATE, F.FIELD_TITLE, M.MEMBER_NAME
        FROM TBL_RESERVATION R
        JOIN TBL_CONSULTING_REVIEW CR
        ON R.RESERVATION_ID = CR.RESERVATION_ID
        JOIN TBL_FIELD F
        ON CR.FIELD_ID = F.FIELD_ID
        JOIN TBL_MEMBER M
        ON R.MEMBER_ID = M.MEMBER_ID
        WHERE R.LAWYER_ID = #{lawyerId}
        ORDER BY CR.CONSULTING_REVIEW_ID DESC
    </select>

    <select id="selectReviewsWithPageByLawyerId" resultType="lawyerReviewDTO">
        SELECT P2.RESERVATION_ID, P2.CONSULTING_TYPE, P2.LAWYER_ID, P2.MEMBER_ID, P2.CONSULTING_REVIEW_ID, P2.FIELD_ID, P2.REVIEW_TITLE, P2.REVIEW_CONTENT, P2.CREATE_DATE, P2.FIELD_TITLE, P2.MEMBER_NAME
        FROM
            (SELECT ROWNUM R, P1.RESERVATION_ID, P1.CONSULTING_TYPE, P1.LAWYER_ID, P1.MEMBER_ID, P1.CONSULTING_REVIEW_ID, P1.FIELD_ID, P1.REVIEW_TITLE, P1.REVIEW_CONTENT, P1.CREATE_DATE, P1.FIELD_TITLE, P1.MEMBER_NAME
            FROM
                (SELECT R.RESERVATION_ID, R.CONSULTING_TYPE, R.LAWYER_ID, R.MEMBER_ID, CR.CONSULTING_REVIEW_ID, CR.FIELD_ID, CR.REVIEW_TITLE, CR.REVIEW_CONTENT, CR.CREATE_DATE, F.FIELD_TITLE, M.MEMBER_NAME
                FROM TBL_RESERVATION R
                         JOIN TBL_CONSULTING_REVIEW CR
                              ON R.RESERVATION_ID = CR.RESERVATION_ID
                         JOIN TBL_FIELD F
                              ON CR.FIELD_ID = F.FIELD_ID
                         JOIN TBL_MEMBER M
                              ON R.MEMBER_ID = M.MEMBER_ID
                WHERE R.LAWYER_ID = #{lawyerId}
                ORDER BY CR.CONSULTING_REVIEW_ID DESC) P1
        <![CDATA[
                WHERE ROWNUM <= #{pagination.endRow}
                ) P2
            WHERE P2.R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="selectPriceAverages" resultType="averagePriceDTO">
        SELECT AVG(CALL_PRICE) callPriceAverage, AVG(VIDEO_PRICE) videoPriceAverage,
               AVG(VISIT_PRICE) visitPriceAverage, COUNT(CALL_PRICE) callPriceCount,
               COUNT(VIDEO_PRICE) videoPriceCount, COUNT(VISIT_PRICE) visitPriceCount,
               MAX(CALL_PRICE) callPriceMax, MIN(CALL_PRICE) callPriceMin,
               MAX(VIDEO_PRICE) videoPriceMax, MIN(VIDEO_PRICE) videoPriceMin,
               MAX(VISIT_PRICE) visitPriceMax, MIN(VISIT_PRICE) visitPriceMin
        FROM TBL_LAWYER
        WHERE CALL_PRICE != 0 AND VIDEO_PRICE != 0 AND VISIT_PRICE != 0
    </select>

    <select id="selectSCByLawyerId" resultType="solutionCaseVO">
    SELECT P2.SOLUTION_CASE_ID, P2.SOLUTION_CASE_TITLE, P2.SOLUTION_CASE_CONTENT, P2.SENTENCE_RESULT, P2.CREATE_DATE, P2.LAWYER_ID
    FROM
        (SELECT ROWNUM R, P1.SOLUTION_CASE_ID, P1.SOLUTION_CASE_TITLE, P1.SOLUTION_CASE_CONTENT, P1.SENTENCE_RESULT, P1.CREATE_DATE, P1.LAWYER_ID
        FROM
            (SELECT SOLUTION_CASE_ID, SOLUTION_CASE_TITLE, SOLUTION_CASE_CONTENT, SENTENCE_RESULT, CREATE_DATE, LAWYER_ID
            FROM TBL_SOLUTION_CASE
            WHERE LAWYER_ID = #{lawyerId}
            ORDER BY SOLUTION_CASE_ID DESC) P1 ) P2
    WHERE P2.R IN (1, 2, 3)
    </select>

    <select id="selectLGByLawyerId" resultType="legalGuideVO">
    SELECT P2.LEGAL_GUIDE_ID, P2.LEGAL_GUIDE_TITLE, P2.LEGAL_GUIDE_CONTENT, P2.CREATE_DATE, P2.LAWYER_ID
    FROM
        (SELECT ROWNUM R, P1.LEGAL_GUIDE_ID, P1.LEGAL_GUIDE_TITLE, P1.LEGAL_GUIDE_CONTENT, P1.CREATE_DATE, P1.LAWYER_ID
        FROM
            (SELECT LEGAL_GUIDE_ID, LEGAL_GUIDE_TITLE, LEGAL_GUIDE_CONTENT, CREATE_DATE, LAWYER_ID
            FROM TBL_LEGAL_GUIDE
            WHERE LAWYER_ID = #{lawyerId}
            ORDER BY LEGAL_GUIDE_ID DESC) P1 ) P2
    WHERE P2.R IN (1, 2, 3)
    </select>
</mapper>