<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.counselawb.mapper.MemberMypageMapper">
    <insert id="insertMyFavoriteLawyer">
        INSERT INTO TBL_LAWYER_LIKE (LAWYER_LIKE_ID, MEMBER_ID, LAWYER_ID)
        VALUES (SEQ_LAWYER_LIKE.NEXTVAL, #{memberId}, #{lawyerId})
    </insert>

    <select id="selectMyFavoriteLawyers" resultType="lawyerLikeDTO">
        SELECT * FROM
            (SELECT ROWNUM R, LL1.* FROM
                (SELECT L02.*, LO3.LOCATION_NAME
                 FROM (
                          SELECT F3.*, LO1.LOCATION_ID
                          FROM (
                                   SELECT F1.LAWYER_LIKE_ID, F1.LAWYER_ID, F1.MEMBER_ID, F1.LAWYER_NAME, F1.LAWYER_INTRODUCTION, F1.LAWYER_IMAGE,
                                          LISTAGG(F2.FIELD_TITLE, ', ') WITHIN GROUP (ORDER BY F2.FIELD_TITLE) AS FIELD_TITLE
                                   FROM (
                                       SELECT L1.LAWYER_LIKE_ID, L1.LAWYER_ID, L1.MEMBER_ID, L1.LAWYER_NAME, L1.LAWYER_INTRODUCTION, L1.LAWYER_IMAGE,
                                       LF.FIELD_ID
                                       FROM (
                                       SELECT LL.LAWYER_LIKE_ID, LL.LAWYER_ID, LL.MEMBER_ID, L.LAWYER_NAME, L.LAWYER_INTRODUCTION, L.LAWYER_IMAGE
                                       FROM TBL_LAWYER_LIKE LL
                                       JOIN TBL_LAWYER L ON L.LAWYER_ID = LL.LAWYER_ID
                                       WHERE LL.MEMBER_ID = 2
                                       ORDER BY LL.LAWYER_LIKE_ID DESC
                                       ) L1
                                       JOIN TBL_LAWYER_FIELD LF ON L1.LAWYER_ID = LF.LAWYER_ID
                                       ) F1
                                       JOIN TBL_FIELD F2 ON F1.FIELD_ID = F2.FIELD_ID
                                   GROUP BY F1.LAWYER_LIKE_ID, F1.LAWYER_ID, F1.MEMBER_ID, F1.LAWYER_NAME, F1.LAWYER_INTRODUCTION, F1.LAWYER_IMAGE
                               ) F3
                                   JOIN TBL_LAWYER_LOCATION LO1 ON LO1.LAWYER_ID = F3.LAWYER_ID
                      ) L02
                          JOIN TBL_LOCATION LO3 ON LO3.LOCATION_ID = L02.LOCATION_ID) LL1
        <![CDATA[
             WHERE ROWNUM <= #{pagination.endRow}) LL2
        WHERE LL2.R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="getCountMyFavoriteLawyers" resultType="int">
        SELECT COUNT(LAWYER_LIKE_ID)
        FROM TBL_LAWYER_LIKE
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="checkMyFavoriteLawyer" resultType="lawyerLikeVO">
        SELECT LAWYER_LIKE_ID, MEMBER_ID, LAWYER_ID
        FROM TBL_LAWYER_LIKE
        WHERE MEMBER_ID = #{memberId} AND LAWYER_ID = #{lawyerId}
    </select>

    <delete id="deleteMyFavoriteLawyer">
        DELETE FROM TBL_LAWYER_LIKE
        WHERE MEMBER_ID = #{memberId} AND LAWYER_ID = #{lawyerId}
    </delete>

<!--    관심글 개수 가져오기-->
    <select id="getCountMyFavoritePosts" resultType="int">
        SELECT COUNT(FAVORITE_POSTS_ID)
        FROM TBL_FAVORITE_POSTS
        WHERE MEMBER_ID = #{memberId}
    </select>

<!--    내 상담내역 가지고 오기-->
    <select id="selectMyConsulting" resultType="reservationDTO">
        SELECT R.RESERVATION_ID, L.LAWYER_NAME, L.LAWYER_IMAGE, L.LAWYER_ID, R.RESERVATION_TIME, R.RESERVATION_DATE, R.CONSULTING_TYPE, R.CREATE_DATE
        FROM TBL_RESERVATION R
                 JOIN TBL_LAWYER L
                      ON L.LAWYER_ID = R.LAWYER_ID
        WHERE MEMBER_ID = #{memberId} AND CONSULTING_TYPE = #{consultingType}
    </select>

<!--    후기 저장하기-->
    <insert id="insertConsultingReview">
        INSERT INTO TBL_CONSULTING_REVIEW (CONSULTING_REVIEW_ID, RESERVATION_ID, REVIEW_STAR, REVIEW_TITLE, REVIEW_CONTENT)
        VALUES(SEQ_CONSULTING_REVIEW.NEXTVAL, #{reservationId}, #{reviewStar}, #{reviewTitle}, #{reviewContent})
    </insert>

</mapper>