<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.counselawb.mapper.MemberMapper">
    <select id="selectByLogin" resultType="memberVO">
        SELECT MEMBER_ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_STATE, MEMBER_PHONE, MEMBER_LOGIN_CODE, CREATE_DATE, UPDATE_DATE
        FROM TBL_MEMBER
        WHERE MEMBER_EMAIL = #{memberEmail} AND MEMBER_PASSWORD = #{memberPassword}
    </select>

    <select id="selectLawyerByLogin" resultType="lawyerVO">
        SELECT LAWYER_ID, LAWYER_EMAIL, LAWYER_PASSWORD, LAWYER_NAME, LAWYER_STATE, LAWYER_PHONE, LAWYER_COMPANY, LAWYER_ADDRESS, LAWYER_QUALIFICATION, LAWYER_EDUCATION, LAWYER_IMAGE, CALL_PRICE, VIDEO_PRICE, VISIT_PRICE, CREATE_DATE, UPDATE_DATE
        FROM TBL_LAWYER
        WHERE LAWYER_EMAIL = #{lawyerEmail} AND LAWYER_PASSWORD = #{lawyerPassword}

    </select>
</mapper>