<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.counselawb.mapper.MemberMypageMapper">
    <insert id="insertMyFavoriteLawyer">
        INSERT INTO TBL_LAWYER_LIKE (LAWYER_LIKE_ID, MEMBER_ID, LAWYER_ID)
        VALUES (SEQ_LAWYER_LIKE.NEXTVAL, #{memberId}, #{lawyerId})
    </insert>

    <select id="selectMyFavoriteLawyers" resultType="lawyerLikeDTO">
        SELECT * FROM
            (SELECT ROWNUM R, LL1.* FROM
                (SELECT F1.*, F2.FIELD_DESCRIPTION
                 FROM (SELECT L1.*, LF.FIELD_ID
                       FROM ( SELECT LL.LAWYER_LIKE_ID, LL.LAWYER_ID, LL.MEMBER_ID, L.LAWYER_NAME, L.LAWYER_INTRODUCTION, L.LAWYER_ADDRESS, LAWYER_IMAGE
                              FROM TBL_LAWYER_LIKE LL
                                       JOIN TBL_LAWYER L
                                            ON L.LAWYER_ID = LL.LAWYER_ID
                              WHERE LL.MEMBER_ID = #{memberId}
                              ORDER BY LL.LAWYER_LIKE_ID DESC) L1
                                JOIN TBL_LAWYER_FIELD LF
                                     ON L1.LAWYER_ID = LF.LAWYER_ID) F1
                          JOIN TBL_FIELD F2
                               ON F2.FIELD_ID = F1.FIELD_ID) LL1
        <![CDATA[
             WHERE ROWNUM <= #{pagination.endRow}) LL2
        WHERE LL2.R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="getCountMyFavoriteLawyers" resultType="int">
        SELECT COUNT(LAWYER_LIKE_ID)
        FROM TBL_LAWYER_LIKE
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="checkMyFavoriteLawyer" resultType="lawyerLikeVO">
        SELECT LAWYER_LIKE_ID, MEMBER_ID, LAWYER_ID
        FROM TBL_LAWYER_LIKE
        WHERE MEMBER_ID = #{memberId} AND LAWYER_ID = #{lawyerId}
    </select>

    <delete id="deleteMyFavoriteLawyer">
        DELETE FROM TBL_LAWYER_LIKE
        WHERE MEMBER_ID = #{memberId} AND LAWYER_ID = #{lawyerId}
    </delete>

<!--    관심글 개수 가져오기-->
    <select id="getCountMyFavoritePosts" resultType="int">
        SELECT COUNT(FAVORITE_POSTS_ID)
        FROM TBL_FAVORITE_POSTS
        WHERE MEMBER_ID = #{memberId}
    </select>

</mapper>