.review-pagination {
    width: 100%;
    margin-top: 48px;
}

.lt-pagination .lt-pagination__pages {
    background: #f7f7f7;
    border-radius: 0;
    display: block;
    height: 60px;
    position: relative;
    text-align: center;
    width: 100%;
}

.review-pagination .lt-pagination__pages {
    margin-bottom: 88px;
}

.review-pagination .lt-pagination__pages-button-wrap {
    text-align: center;
    position: relative;
}

.lt-pagination .lt-pagination__pages-button:not(:last-child) {
    margin-right: 29px;
}

.review-pagination .lt-pagination__pages-button-wrap .lt-pagination__pages-button {
    display: inline-block;
    height: 39px;
}

.review-pagination .lt-pagination__pages-button-wrap .lt-pagination__pages-button {
    font-size: 14px;
}

.review-pagination .lt-pagination__pages-button-wrap .lt-pagination__pages-button:not(:last-child) {
    margin-right: 20px;
}

.lt-pagination .lt-pagination__pages-button {
    color: #555;
    font-size: 16px;
    font-weight: 700;
    line-height: 59px;
    text-decoration: none;
}

.pagination-next-five {
    position: absolute;
    right: 25px;
    top: 19px;
    text-align: right;
}

.pagination-arrow-button {
    position: absolute;
    text-align: right;
    top: 19px;
    right: 3px;
}

.lt-pagination .lt-pagination__pages-button.on {
    border-bottom: 2px solid #c50000;
    color: #c50000;
}

.guide-Card-Keyword {
    font-family: Pretendard, sans-serif !important;
}